
header{
    display: flex;
    justify-content: flex-start;
    padding-top: 1.3%;
    padding-left: .8%;
}
a:hover {color: #F09207;}
h5{text-align: center;}
input {
    border-color: #b5b5b5;
    background-color: #f4f4f4;
    border-style: solid;
    background-repeat: no-repeat;
    background-position-y: center;
    border: 1px solid #e9e9e9 !important;
    box-sizing: border-box;
    padding-right: calc(1.5em + .75rem);
    padding-left: calc(1.5em + .75rem);
    background-position: left calc(.375em + .1875rem) center !important;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.line-low{border-color: #979797;border-bottom: 1px solid #c0c0c0 ;width: 38%;}

#RegisterForm{background-color: #F09207;}
.orange{
    background-color: #F09207;
    border: none !important;
    cursor: pointer;
    color: white !important;
}
.flotador{z-index: -1;position: absolute;}
.sobreEncima{z-index: 10;background: white;}
.recorder{font-size: 13px;}
.box{border:1px solid #d3d3d3;border-radius: 10px;position: relative;display: flex;justify-content: center;align-items: center;}
.height{height: 75vh;}
.img-login{position: absolute;top: -8%;left: 39%;}
/* Iconos SVG */

::placeholder{font-family: 'Montserrat', sans-serif;font-weight: 400; font-size: 12px;color:#595959}

@media(min-width:250px) and (max-width:767px){
    .width-93{
        width:100% !important;
    }
}

@media(min-width:250px) and (max-width:350px){
    .col-12.col-sm-12.col-lg-8.col-xl-8.flotador.height-100.animated.fadeIn{display: none !important;}
    .col-10.col-sm-8.col-md-6.col-lg-4.col-xl-4.box.height.sobreEncima{height: 75vh !important;}
    .form-group.mb-5.mt-5{margin-bottom:0% !important;; margin-top:0% !important;}
    .img-login{top: -7%;left: 34%;}
    .recorder{font-size:10px;}
    .links-recordar-olvidar{display: flex;justify-content: space-between;align-items: center;}
    .user-naranja{width:80%}
}