<!-- Menú redirect to home -->
<!-- <app-navbar-to-home></app-navbar-to-home> -->
<!-- <app-public-navbar [userLog]="userLog" [storeAct]="storeLog"></app-public-navbar> -->
<!-- End menú redirect to home -->

<header>
  <app-nav-brand></app-nav-brand>
</header>

<div class="container animated fadeIn margin-top">
  <!--  <app-sidebar-home [storeAct]="storeLog" [auth]="userLog"></app-sidebar-home> -->
  <div
    class="row display-flex align-items-center justify-content-center form-height"
  >
    <div
      class="col-10 col-sm-9 col-md-7 col-lg-5 col-xl-4 box height sobreEncima"
    >
      <div class="display-flex justify-content-center img-login">
        <img
          class="user-naranja"
          src="assets/img/LoginIconos/user naranja.svg"
        />
      </div>

      <form
        [formGroup]="forma"
        (ngSubmit)="loginRegister()"
        novalidate="novalidate"
        class="formGroup"
      >
        <div class="form-group row mb-4">
          <div class="col-12">
            <input
              class="form-control correo-icon"
              type="email"
              placeholder="Ingrese el correo"
              formControlName="email"
              [ngModel]="email"
              [ngClass]="{
                'is-invalid':
                  (!forma.controls['email'].valid ||
                    forma.controls['email'].errors?.minlength) &&
                  forma.controls['email'].touched,
                'is-valid': forma.controls['email'].valid
              }"
            />

            <mat-error
              *ngIf="forma.get('email').errors?.required"
              class="invalid-feedback"
            >
              Este campo es requerido
            </mat-error>

            <mat-error
              *ngIf="forma.get('email').errors?.pattern"
              class="invalid-feedback"
            >
              No posee la forma de un correo: example@gmail.com
            </mat-error>
          </div>
        </div>

        <div class="form-group row mb-4">
          <div class="col-12">
            <input
              class="form-control password-icon"
              type="password"
              placeholder="contraseña"
              formControlName="password"
              [ngClass]="{
                'is-invalid':
                  (!forma.get('password').valid ||
                    forma.get('password').errors?.minlength) &&
                  forma.get('password').touched,
                'is-valid': forma.get('password').valid
              }"
            />

            <mat-error
              *ngIf="forma.get('password').errors?.required"
              class="invalid-feedback"
            >
              Este campo es requerido
            </mat-error>

            <mat-error
              *ngIf="forma.get('password').errors?.minlength"
              class="invalid-feedback"
            >
              La contraseña debe tener al menos 8 caracteres
            </mat-error>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12 links-recordar-olvidar">
            <div
              class="check checkbox checkbox-primary pull-left p-t-0 display-flex"
            >
              <input
                name="recuerdame"
                id="checkbox-signup"
                type="checkbox"
                class="filled-in chk-col-light-blue"
                formControlName="recuerdame"
                [(ngModel)]="isChecked"
              />

              <label for="checkbox-signup" class="ml-2 family-500 recorder">
                Recordarme
              </label>

              <a
                id="to-recover"
                class="pull-right family-500 recorder"
                (click)="openDialog()"
              >
                Olvidé mi contraseña
              </a>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="input-group col-md-12">
            <button
              [disabled]="!forma.valid"
              type="submit"
              id="RegisterForm"
              class="btn btn-block fredoka orange"
              (click)="Ingresar()"
            >
              Entrar
            </button>
          </div>
        </div>

        <div class="form-group mb-5 mt-5">
          <div class="col-sm-12 text-center">
            <span class="family-500 recorder"> ¿Aún no tienes cuenta? </span>
            <a
              class="family-700 black ml-2 fredoka"
              (click)="openDialogRegister()"
            >
              <small class="size-13"> REGÍSTRATE AQUÍ </small>
            </a>
          </div>

          <div
            class="alert alert-danger mt-3 animated fadeIn fast"
            role="alert"
            *ngIf="OnError"
          >
            {{ ErrorMessage }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
