mat-grid-tile {
    border: 1px solid  rgb(204, 203, 203);
    background-color: white;
}

section{
    /* background-color: #f4f4f4; */
    padding-top: 7px;
}

ul a{
    color: #007bff;
}

mat-grid-tile span{
    text-align: center;
}


.ir-arriba {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
	padding:20px;
    background:#2db0c7;
    z-index: 20;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

.titles{
    background-color: #d8d8d8;
}

.prev{
    position: absolute;
    top: 75%;
    left: -7px;
}

.next{
    position: absolute;
    top: 75%;
    right: -15px;
}

.prev, .next {
    cursor: pointer;
    width: auto;
    color: rgb(2, 2, 2);
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  