
<app-no-suggested-products *ngIf="MyProduct.length === undefined"></app-no-suggested-products>

<section class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-12 display-flex justify-content-space-between">
            <button 
                    type="button" 
                    class="mr-3 family-700">
                Sincronizar
            </button>
            <app-search (searchEmitter)="handleSearch($event)" class="width-70"></app-search>
        </div>
    </div>
</section>



<div layout=”row” layout-wrap="wrap">
    
    <section    class="mt-5 mb-5 col-md-12 display-flex pb-1 position-relative" 
                [ngClass]="{'no-aviable': item.suggestion === null || item.suggestion.data.length === 0}"
                *ngFor="let item of MyProduct  | paginate: { itemsPerPage: 28, currentPage: page, totalItems: totalProductAPI  };
                let i = index;"
                id="{{i}}">
                
                <div class="width-100" *ngIf="item.suggestion !== null">
                    <div class="pt-2" *ngIf="item.suggestion.data.length > 0">
                        <mat-checkbox   [(ngModel)]="SetAllCheckbox"
                                        name = checkbox{{i}}
                                        id="checkboxList{{i}}" 
                                        color="primary" 
                                        (change)="SelectCheckBox($event, i)">
                        </mat-checkbox>
                    </div>

                    <div class="col-md-11 pl-4" *ngIf="item.suggestion.data.length > 0">

                        <mat-grid-list cols="5" rowHeight="5:1">
                            <mat-grid-tile class="titles"><span class="family-600">Imagen</span></mat-grid-tile>
                            <mat-grid-tile class="titles"><span class="family-600">Nombre del producto</span></mat-grid-tile>
                            <mat-grid-tile class="titles"><span class="family-600">Marca</span></mat-grid-tile>
                            <mat-grid-tile class="titles"><span class="family-600">Cantidad</span></mat-grid-tile>
                            <mat-grid-tile class="titles"><span class="family-600">Precio</span></mat-grid-tile>
                        </mat-grid-list>

                        <mat-grid-list class="item-grid" cols="5" rowHeight="2:1.5">
                            <mat-grid-tile>
                                <img    [src]="item.images[0].src_size.m | imgProductLoad" 
                                        class="product-image-photo lazyload width-80"   
                                        alt="{{item.name}}"
                                        style="display: block;"
                                        *ngIf="item.images.length >= 1"    
                                >

                                <img    src="../../../../../../../assets/img/sincronizacion/Icono de sin imagen.svg" 
                                        class="card-img-top width-60" 
                                        alt="..." 
                                        *ngIf="item.images.length === 0"
                                >

                                </mat-grid-tile>
                                    <mat-grid-tile> 
                                        <span class="family-500">
                                            {{ item.name }}
                                        </span>
                                    </mat-grid-tile>
                                <mat-grid-tile >

                                <span class="family-500" *ngIf="item.marks.length !== 0">
                                    {{ item.marks[0].name }}
                                </span>

                                <span class="family-500" *ngIf="item.marks.legth === 0">
                                    No se ha definido la marca
                                </span>
                                        
                            </mat-grid-tile>

                            <mat-grid-tile>
                                <span class="family-500">
                                    {{ item.stock }}
                                </span>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <span class="family-500">
                                    {{ item.price }}
                                </span>
                            </mat-grid-tile>
                        </mat-grid-list>

                        <div    *ngFor="let suggestion of item.suggestion.data;
                                let iterador = index;
                                let impar = odd;
                                let par = even;"
                                >

                                <button class="prev" (click)="next = next - 1">&#10094;</button>

                                <mat-grid-list  class="item-grid" 
                                                cols="5" rowHeight="2:1.5" 
                                                [ngClass]="{'mySlides': iterador - next }"
                                                >

                                    <mat-grid-tile>
                                        <article    *ngIf="suggestion.images.length > 0">

                                            <img    [src]="suggestion.images[0].src_size.m | imgProductLoad" 
                                                    alt="{{item.name}}"
                                                    style="display: block;"
                                                    *ngIf="suggestion.images.length > 0"    
                                            >

                                        </article>
                                    </mat-grid-tile>

                                    <mat-grid-tile>
                                        <span   class="family-500" 
                                                *ngIf=" item.suggestion !== null">
                                                {{ suggestion.name}}
                                        </span>
                                    </mat-grid-tile>
                                    <mat-grid-tile>3</mat-grid-tile>
                                    <mat-grid-tile></mat-grid-tile>
                                    <mat-grid-tile></mat-grid-tile>
                                </mat-grid-list>

                                <button class="next" (click)="next = next + 1">&#10095;</button>

                        </div>

                        <ul class="width-100 display-flex justify-content-center pt-1 pb-1 mb-0">
                            <a class="family-500">
                                        
                            </a>
                        </ul>

                        <div class="input-group col-md-12 display-flex justify-content-flex-end pr-0 mt-3">
                            <button type="submit" class="btn btn-primary button fredoka" (click)="sincronizar(i)">
                                Sincronizar
                            </button>
                        </div>
                    </div>
                </div>                
    </section>

    <span class="ir-arriba icon-arrow-up2" (click)="IrPaginacion()">
        <i  class="figure material-icons" 
            name="camera">
            keyboard_arrow_down
        </i>
    </span>

</div>

<!-- PAGINACIÓN -->
<footer class="col-md-11">
    <pagination-controls    previousLabel = "Anterior"
                            nextLabel = "Siguiente"
                            (pageChange)="pageChanged($event)">
    </pagination-controls>
</footer> 
    

