
<app-no-suggested-products></app-no-suggested-products>

<div layout=”row” layout-wrap="wrap">

    <section class="mt-5 mb-5 col-md-12 display-flex pb-1 position-relative">

        <div class="pt-2">
            <mat-checkbox></mat-checkbox>
        </div>

        <div class="col-md-11 pl-4">

            <mat-grid-list cols="5" rowHeight="5:1">
                <mat-grid-tile class="titles"><span class="family-600">Imagen</span></mat-grid-tile>
                <mat-grid-tile class="titles"><span class="family-600">Nombre del producto</span></mat-grid-tile>
                <mat-grid-tile class="titles"><span class="family-600">Marca</span></mat-grid-tile>
                <mat-grid-tile class="titles"><span class="family-600">Cantidad</span></mat-grid-tile>
                <mat-grid-tile class="titles"><span class="family-600">Precio</span></mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list class="item-grid" cols="5" rowHeight="2:1.1">
                <mat-grid-tile>1</mat-grid-tile>
                <mat-grid-tile>2</mat-grid-tile>
                <mat-grid-tile>3</mat-grid-tile>
                <mat-grid-tile>4</mat-grid-tile>
                <mat-grid-tile>5</mat-grid-tile>
            </mat-grid-list>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

            <mat-grid-list class="item-grid" cols="5" rowHeight="2:1.1">
                <mat-grid-tile>1</mat-grid-tile>
                <mat-grid-tile>2</mat-grid-tile>
                <mat-grid-tile>3</mat-grid-tile>
                <mat-grid-tile>4</mat-grid-tile>
                <mat-grid-tile>5</mat-grid-tile>
            </mat-grid-list>

            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

    </section>

    <div class="input-group col-md-12 display-flex justify-content-flex-end">
        <button type="submit" 
                class="btn btn-primary button fredoka"
                >
                sincronizar
        </button>
    </div>
   

</div>
    

