mat-grid-tile {
    border: 1px solid  rgb(204, 203, 203);
    background-color: white;
}

section{
    /* background-color: #f4f4f4; */
    padding-top: 7px;
}

ul a{
    color: #007bff;
}

mat-grid-tile span{
    text-align: center;
}

button{
    border: 1px solid rgb(204, 203, 203);
    padding: 8px;
    box-sizing: border-box;
}

.no-aviable{
    display: none;
}
.mySlides {display: none}

.ir-arriba {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
	padding:20px;
    background:#2db0c7;
    z-index: 20;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

.titles{
    background-color: #d8d8d8;
}

.prev{
    position: absolute;
    top: 48%;
    left: -10px;
    height: 37%;
    border: none;
    color: white;
    background: #f3bd6b;
}

.next{
    position: absolute;
    top: 60%;
    right: -18px;
    top: 48%;
    height: 37%;
    border: none;
    color: white;
    background: #f3bd6b;
}

.prev, .next {
    cursor: pointer;
    width: auto;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  