<div class="products-container">

  <ng-container *ngFor="let product of products">

    <article class="product" (click)="selectedProduct(product)">

      <div class="img">

        <img
          [src]="product.images[0] | imgFallback: 'box'"
          [alt]="product.name"
        >

        <i class="fa-heart"
          [ngClass]="{'fas': product.isFavorite,'far': !product.isFavorite}">
        </i>

      </div>


      <h3 class="name">
        {{ product.name | excerpt: 66}}
      </h3>

      <p class="cost">{{ product.price | currency }}</p>

    </article>

  </ng-container>


</div>
