<div class="products-container">

  <ng-container *ngFor="let item of [0,0,0,0,0,0]">

    <article class="product">

      <div class="img">

        <img src="assets/img/test-img/magazine_vegan_food.jpg">

        <i class="fa-heart"
          [ngClass]="{'fas': true,'far': false}">
        </i>

      </div>


      <h3 class="name">
        Syndol Solución Inyectable 30
        mg/ ml x 5 Ampollas, Opko
        Aciclovir Crema Tópica 5% x 15 gr
      </h3>

      <p class="cost">$34.15</p>

    </article>

  </ng-container>


</div>
