<h1 mat-dialog-title>Redirección al sitio de pago.</h1>
<!-- <mat-dialog-content>
  <p>
    Por favor presione el botón en la parte inferior de este mensaje para ser
    redirigido al sitio web de Transbank y así completar su proceso de pago.
  </p>
</mat-dialog-content> -->

<!-- <mat-dialog-actions>
  <button mat-raised-button (click)="close()">Cerrar</button>

  <form #redirectForm method="post" action="{{ dialogData.url }}">
    <input type="hidden" name="token_ws" value="{{ dialogData.token }}" />
    <input
      type="submit"
      value="Ir a pagar"
      mat-raised-button
      (click)="redirectForm.submit()"
    />
  </form>
</mat-dialog-actions> -->
