p{
    text-align: center;
}

.content-button{
    display: flex;
    justify-content: center;
}

.spinner-content{
    display: flex;
    justify-content: center;
}

.valid{
    color: #28a745;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conten-close{
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}