<ol class="pl-0">

    <section    *ngIf="!spinner && !deleteOk">

        <li>

            <p class="family-500 size-14">
                ¿Desea eliminar este producto?
            </p>
    
        </li>
    
        <li class="content-button">
            <button mat-raised-button 
                    color="primary" 
                    class="mr-3"
                    (click)="deleteProdtuc()">
                    Si
            </button>
            <button mat-raised-button 
                    color="warn" 
                    (click)="closeModal()">
                    No
            </button>
        </li>

    </section>
    
    <div class="spinner-content">
        <app-spinner *ngIf="spinner"></app-spinner>
    </div>
    
    <footer *ngIf="deleteOk">
        
        <p class="valid mb-0">
            El producto ha sido eliminado
        </p>

        <div class="conten-close">
            <button mat-raised-button 
                color="warn" 
                (click)="closeModal()">
                Cerrar
            </button>
        </div>
        

    </footer>

    <div *ngIf="ErrorMessage">
        <mat-error class="invalid-feedback">
            Ha ocurrido un error
        </mat-error>
    </div>
        
   
    
    
</ol>
        
