<!-- Main settings page layout -->
<div class="main-wrapper">
  <app-navbarstore></app-navbarstore>

  <div class="container">
    <div class="white-space"></div>

    <div class="route-area">
      <p>Planes</p>
    </div>

    <div class="sidenav-area">
      <app-settings-sidebar></app-settings-sidebar>
    </div>

    <!-- 
		La "main-area" puede reemplazarse por un <router-outlet> en un futuro, así se pudiese crear una navegacion con transiciones agradables para el usuario entre las diferentes paginas de configuracion, dado que todas tendrian el mismo layout.
			Y usan la misma sidebar como elemento de navegacion 
	-->
    <div class="main-area">
      <h2 class="title">Planes de suscripción y banco de productos</h2>
      <p classs="description">
        Te proporcionamos un banco de productos con imágenes y descripción para
        que puedas sincronizarlo con tu inventario (tu inventario debes
        exportarlo desde excel), el cual te permitirá ahorrar tiempo y costos
        sin tener que fotografiar todos tus productos.
      </p>

      <div class="views">
        <div
          *ngIf="currentPage === 'plans'"
          class="plans-container"
          [@inOutAnimation]
        >
          <div *ngFor="let plan of plans; index as i">
            <app-plan-card
              [planInfo]="plan"
              (selectPlan)="onPlanSelected($event)"
              (pageChange)="onPageChange($event)"
            ></app-plan-card>
          </div>
        </div>

        <div
          class="payment-container"
          *ngIf="currentPage === 'payment'"
          [@inOutAnimation]
        >
          <app-plan-details
            (pageChange)="onPageChange($event)"
            [selectedPlanDetails]="selectedPlan"
          ></app-plan-details>
        </div>

        <div
          class="payment-details-container"
          *ngIf="currentPage === 'payment-details'"
          [@inOutAnimation]
        >
          <app-payment-details
            (pageChange)="onPageChange($event)"
          ></app-payment-details>
        </div>
      </div>
    </div>
  </div>
</div>
