figure {
  margin: 0px;
}

img{
  // width: 100%;
  height: auto;
  object-fit: cover;
}

input[class="checkbox-default"]{
  position: initial;
  left: initial;
  opacity: initial;
}

input[class="checkbox-default"]+label{
  height: auto;
  padding-left: 0px;
  font-size: inherit;

}

input[class="checkbox-default"]+label:before{
  display: none;
}

label{
  margin-bottom: 0px;
}

button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

