<div class="list-item" [ngClass]="{ expanded: isExpanded }">
  <ng-container *ngFor="let order of orderList">
    <article
      class="item"
      (click)="selectOrder(order)"
      [ngClass]="{ active: order === orderSelected }"
    >
      <figure class="img">
        <img src="{{ order.group.img }}" alt="Avatar por defecto" />
      </figure>

      <div class="content">
        <h3 class="name">{{ order.group.name }}</h3>

        <div class="more-info">
          <span class="info"
            >Cantidad de producto
            <strong>({{ order.orders.length }})</strong></span
          >

          <span class="info"
            >{{ isListToPaid ? 'Pagado: ' : 'Total a pagar: ' }}
            <strong>${{ this.calculateTotalPrice(order) }}</strong></span
          >

          <ng-container *ngIf="isExpanded">
            <span class="info"
              ><strong>{{ order.datePaid }}</strong></span
            >
            <span class="info">Radio de 15km</span>
            <span class="info"><strong>Ver ubicación</strong></span>
          </ng-container>
        </div>
      </div>
    </article>
  </ng-container>
</div>
