<main class="page">

  <section class="shopping-cart">

    <h1 class="text-capitalize">Carrito de compra</h1>

    <div class="tab-container">

      <ul class="tab-menu">

        <li class="tab-item" [ngClass]="{'active': tabSelected === 1}" (click)="filterByTab(1)">pedidos</li>
        <li class="tab-item" [ngClass]="{'active': tabSelected === 2}" (click)="filterByTab(2)">compras</li>

      </ul>

      <div class="tab-content">

        <!-- Order list by business -->
        <div class="order-list">
          <app-order-list [orders]="orders"></app-order-list>
        </div>


        <div class="detail-content">

          <!-- Order editor -->
          <ng-container *ngIf="tabSelected === 1">

            <app-order-editor></app-order-editor>

          </ng-container>

          <!-- invoice -->
          <ng-container *ngIf="tabSelected === 2">

            <app-invoice></app-invoice>

          </ng-container>

        </div>

      </div>

    </div>

  </section>

</main>


