<ng-container *ngIf="selectedProduct">

  <div class="product-detail">

      <div class="main-img">

      <app-image-preview-gallery
          [imgs]="selectedProduct.images"
          [currentImg]="selectedProduct.images[0]">
      </app-image-preview-gallery>

      </div>

      <div class="content">

        <h2 class="name">
            {{selectedProduct.name}}
        </h2>

        <p class="description">
          {{selectedProduct.description | excerpt: 985}}
        </p>

        <div class="shopping-cart">

            <div class="cost">
            {{selectedProduct.price | currency }}
            </div>

            <app-quantity-counter
              [maxValue]="selectedProduct.stock">
            </app-quantity-counter>

            <button class="btn-add-to-cart">
            Añadir al carrito
            </button>

        </div>

      </div>

  </div>

</ng-container>
