<ng-container *ngIf="selectedProduct && selectedProduct.stock > 0">

  <div class="product-detail">

    <div class="main-img">

      <app-image-preview-gallery
          [imgs]="selectedProduct.images"
          [currentImg]="selectedProduct.images[0]">
      </app-image-preview-gallery>

    </div>

    <div class="content">

      <div class="name_description">
        <h2 class="name">
            {{selectedProduct.name}}
        </h2>

        <p class="description">
          {{selectedProduct.description | excerpt: 985}}
        </p>
      </div>


      <div class="shopping-cart">

        <ng-container *ngIf="selectedProduct.price > 0 else priceToConsult">
          <div class="cost">
            {{selectedProduct.price | currency }}
          </div>
        </ng-container>

        <ng-template #priceToConsult>
          <div class="cost">
            <p><strong>Precio a consultar</strong></p>
          </div>
        </ng-template>

        <app-quantity-counter
          #quantityCounter
          [maxValue]="selectedProduct.stock"
          (currentValue)="quantityProduct = $event"
        >
        </app-quantity-counter>

        <button
          [ngClass]="{'disabled': isDisableButtonCart}"
          [disabled]="isDisableButtonCart"
          class="btn-add-to-cart"
          (click)="addToCart()">
          {{buttonTitle}}
        </button>

      </div>

    </div>

  </div>

</ng-container>
