.button-box{
    margin: 0px !important;
}

.w{
    color: rgba(0,0,0,0.87) !important;
    padding: 0px !important;
}

.h{
    justify-content: center !important;
}

.Size {
    font-size: 60px !important;
}