

<section class="display-flex">

    <app-navbarstore id="header"></app-navbarstore>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-2">
                <aside>
                    <nav>
                        <ul class="pt-5">
                
                            <li class="family-400 size-16 pb-2 pt-2 puntero">
                                <a routerLinkActive="active" [routerLink]="['/contact']">Contacto</a>
                            </li>
                            <li class="family-400 size-16 pb-2 pt-2 puntero">
                                <a>Productos</a>
                            </li>
                            <li class="family-400 size-16 pb-2 puntero">
                                <a>Sincronización</a>
                            </li>
                            <li class="family-400 size-16 pb-2 puntero">
                                <a>Ventas</a>
                            </li>
                            
                        </ul>
                    </nav>
                </aside>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-10">
                <app-banner-tienda></app-banner-tienda>

                <div class="container pt-3 pb-4"> 
                    <div class="row">
                        <div class="col-md-6 pl-4">
                            <h5 *ngIf="title" class="name-store family-500 size-24 pl-2">
                                {{dataStore[0].name}}
                            </h5>
                            <span *ngIf="title" class="pl-2 family-300 size-16">
                               RUT {{dataStore[0].rut}}
                            </span>
                        </div>
                    </div>
                    
                </div>

                <form   [formGroup]="forma" 
                        (ngSubmit)="actualizarDatosStore()" 
                        novalidate="novalidate"
                        >

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 pl-4">
                            <!--======================================================================-->
                            <!--================== Descipcion de la tienda EDITABLE ==================-->
                            <app-contact-description-edit [forma]="forma"></app-contact-description-edit>
                            <!--======================================================================-->
                            <!--====================== End Descipcion de la tienda ===================-->
                            </div>
                            <div class="col-md-6">
                                <div class="display-flex">
                                    
                                </div>
                                <!-- ================ INFORMACIón DE CONTACTO EDITABLE ===================-->
                                <app-contact-information-edit [forma]="forma"></app-contact-information-edit>
                                <!--======================================================================-->
                                <!-- ====================END INFORMACIón DE CONTACTO======================-->
                                <router-outlet></router-outlet>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10 mb-4">

                                <!-- ==================  GOOGLE MAPS================= -->
                                <!-- ===============================================  -->
                                <app-mapa (adrees_mapa)="coordenadas($event)"></app-mapa>
                                <!-- ================================================ -->
                                <!-- ===================END GOOGLE MAPS============== -->
                            </div>
                            
                        </div>
                    </div>

                    <button class="btn btn-outline-primary fredoka"
                            type="submit"
                            (click)="Actualizar()">
                        Guardar cambios
                    </button>

                </form>

            </div>
            
        </div>
    </div>
</section>
