

<section class="display-flex">

    <app-navbarstore id="header"></app-navbarstore>
    
    <div class="container-fluid">
        <div class="row">
            
            <app-aside></app-aside>

            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-10">

                <app-banner-tienda></app-banner-tienda>

                <div class="container pt-3 pb-4" *ngFor="let data of dataStore"> 
                    <div class="row">
                        <div class="col-md-6 pl-4">
                            <h5 class="name-store family-600 size-27 pl-2">
                                {{data.name}}
                            </h5>
                            <span  class="pl-2 family-300 size-16">
                               RUT {{data.rut}}
                            </span>
                            
                        </div>
                    </div>
                </div>

                <app-card-shimmer-title-store *ngIf="cardShimmerInputs"></app-card-shimmer-title-store>



                <form   [formGroup]="forma" 
                        (ngSubmit)="actualizarDatosStore()" 
                        novalidate="novalidate"
                        >

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 pl-4">

                                <div class="display-flex">

                                    <span class="orange family-500 size-18">Datos del negocio</span>

                                    <button class="button-edit family-400 ml-3" 
                                            (click)="atrasDescripcion()"
                                            *ngIf="editarDescripcion">
                                            Atrás
                                    </button>

                                    <button class="button-edit family-400 ml-3" 
                                            (click)="EditarDescripcion()"
                                            *ngIf="!editarDescripcion">
                                            Editar
                                    </button>
                                
                                </div>

                                <!--======================================================================-->
                                <!--================== DESCRIPCIÓN DE LA TIENDA  EDITABLE ==================-->
                                <app-contact-description-edit   *ngIf="editarDescripcion" 
                                                                class="animated fadeIn" 
                                                                [forma]="forma">
                                </app-contact-description-edit>

                                

                                <!--======================================================================-->
                                <!--====================== End DESCRIPCIÓN DE LA TIENDA  ===================-->

                                <!--======================================================= =============-->
                                <!--================== PARRAFO DESCRIPCIÓN DE LA TIENDA =================-->
                                <app-contact-description *ngIf="!editarDescripcion"></app-contact-description>
                                <app-card-shimmer-table-informacion *ngIf="cardShimmerInputs"></app-card-shimmer-table-informacion>
                                <!--======================================================================-->
                                <!--================= END PARRAFO DESCRIPCIÓN DE LA TIENDA ===============-->

                            </div>
                            <div class="col-md-6">
                                <div class="display-flex">

                                    <span class="orange family-500 size-18">Información de contacto</span>
                                    <button class="button-edit family-400 ml-3" 
                                            (click)="atras()"
                                            *ngIf="editar">
                                            Atrás
                                    </button>

                                    <button class="button-edit family-400 ml-3" 
                                            (click)="Editar()"
                                            *ngIf="!editar">
                                            Editar
                                    </button>
                                
                                </div>

                                <!-- ================ INFORMACIón DE CONTACTO EDITABLE ===================-->
                                <app-contact-information-edit   *ngIf="editar" 
                                                                class="animated fadeIn" 
                                                                [forma]="forma">
                                </app-contact-information-edit>

                               <app-card-shimmer-table-informacion *ngIf="cardShimmerInputs"></app-card-shimmer-table-informacion>

                                <!--======================================================================-->

                                <!-- ====================END INFORMACIón DE CONTACTO======================-->

                                <!-- ================ TABLA INFORMACIón DE CONTACTO ======================-->
                                <app-contact-information *ngIf="!editar" class="width-90"></app-contact-information>
                                <!--======================================================================-->
                                <!-- ====================END TABLA INFORMACIón DE CONTACTO================-->

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10 mb-4">

                                <!-- ==================  GOOGLE MAPS================= -->
                                <!-- ===============================================  -->
                                <app-mapa class="animated fadeIn" (adrees_latitude)="adress_latitude($event)" (adress_longitude)="adress_longitude( $event )"></app-mapa>
                                <!-- ================================================ -->
                                <!-- ===================END GOOGLE MAPS============== -->
                            </div>
                            
                        </div>
                    </div>

                    <button class="btn btn-outline-primary fredoka"
                            type="submit"
                            (click)="Actualizar()">
                        Guardar cambios
                    </button>

                </form>

            </div>
            
        </div>
    </div>
</section>
