<section class="carousel slide" id="home-carousel" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#principal-carousel" data-slid-to="0" class="active"></li>
        <li data-target="#principal-carousel" data-slid-to="1"></li>
        <li data-target="#principal-carousel" data-slid-to="2"></li>
        <li data-target="#principal-carousel" data-slid-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{item1[0]}}" srcset="
                    {{item1[3]}} 424w,
                    {{item1[2]}} 768w,
                    {{item1[1]}} 1200w,
                    {{item1[0]}} 2400w
                    " alt=" -- SEO KEYWORD --">
        </div>
        <div class="carousel-item">
            <img src="{{item1[0]}}" srcset="
                    {{item2[3]}} 424w,
                    {{item2[2]}} 768w,
                    {{item2[1]}} 1200w,
                    {{item2[0]}} 2400w
                    " alt=" -- SEO KEYWORD --">
        </div>
        <!-- <div class="carousel-item">
            <img src="{{item1[0]}}" srcset="
                    {{item2[3]}} 424w,
                    {{item2[2]}} 768w,
                    {{item2[1]}} 1200w,
                    {{item2[0]}} 2400w
                    " alt=" -- SEO KEYWORD --">
        </div> -->

    </div>

</section>