<div    class="dropzone min-dropzone" 
        #dropzone 
        >
                   
        <span   class="x-close" 
                (click)="Close()">
                <img src="assets/img/iconos/icons-main/icons/x.svg">
        </span>
                    
        <h2>Subir Listado de Excel</h2>
           
                      
        <div class="content-label" *ngIf="showInput">
            <label for="fileDropref">

                <input  type="file" 
                        #fileDropref 
                        id="fileDropref"
                        multiple='multiple'
                        accept='xlsx/*' 
                        (change)="fileBrowseHandler($event)"
                        title="Haz clic o suelta para anexar tu archivo"
                >

                <div>
                    <img src="assets/img/iconos/icons-main/icons/upload.svg">
                    Click or drag here to upload
                </div>

            </label>
        </div>

        <section *ngIf="!Hiden">
            <div *ngFor="let file of files">

                <!-- Size Files -->
                <app-size-file 
                    [file]="file" 
                    #ProgressFilee
                    (LoadFinally)="LoadFinally($event)">
                </app-size-file>

            </div>
        </section>

        <ng-container>
            <div class="alert alert-success mt-4" role="alert" *ngIf="SaveFile">
                Cambios guardados exitosamente
            </div>
        </ng-container>

        <ng-container>
            <div *ngIf="ErrorMessage" class="mt-4">
                <mat-error class="is-invalid">
                    ¡Ha ocurrido un error!.
                </mat-error>
            </div>
        </ng-container>

        <app-spinner *ngIf="SpinnerShow"></app-spinner>
           
    </div>
