<div
  class="search-engine"
  [ngClass]="{ 'search-engine--wrap': buttonSidebarList }"
>
  <ng-container *ngIf="buttonSidebarList">
    <div class="btn-toogle-sidebar-list mr-0">
      <app-sidebar-list-button
        [expand]="isExpanded"
        (isExpanded)="toggleSidebarList($event)"
      >
      </app-sidebar-list-button>
    </div>
  </ng-container>

  <!-- === BOTÓN AGREGAR NUEVO PRODUCTO ====-->
  <!-- ====================================-->
  <!-- <div class="filter">
        <button class="btn btn-primary button fredoka" 
            type="button"
            *ngIf="this.BotonActivated == '/my-store/product-catalogue'"
            id="addProduct"
            (click)="addNewProduct()"
            [routerLink]="['/my-store/load-product']"     
        >
          + Agregar nuevo producto
        </button>
    </div> -->

  <button
    type="button"
    class="mr-3 sincronizar-button"
    (click)="sendBulkData()"
    mat-button
    [disabled]="cantSync"
  >
    Sincronizar
  </button>

  <form class="searcher">
    <i><img src="assets/img/icons/loupe.svg" /></i>
    <input
      type="search"
      placeholder="Buscar producto..."
      aria-label="Search"
      [formControl]="search"
      [(ngModel)]="BuscarText"
    />
  </form>
</div>
