<nav class="navbar navbar-expand-lg navbar-light background-white mb-5">
    <img src="../assets/img/Navbar/Logo Founduss.svg" width="11%">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link family-500 size-15" [routerLink]="['public-views']">Productos</a>
        </li>
      </ul>
      <ul class="ref width-70 mb-0">
        <input class="form-control edit-input" placeholder="Busca un producto o una farmacia...">
      </ul>
      <ul class="mb-0 pl-3 width-30 display-flex justify-content-around">
        <li class="nav-item" routerLinkActive="active">
          <a class="family-500 cursor-poniter size-14 black" id="registrarme" [routerLink]="['login-usuario']">Regístrarme</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="family-500 ml-2 cursor-poniter size-14 black" id="inisiar-sesion">Iniciar sesión</a>
        </li>
        
      </ul>
    </div>
    <div class="link-sesion">
    </div>
</nav>
