

.page{
    display: flex;
    app-sidebar-menu{
        padding-top: 55px;
    }
 
}

@media( max-width: 999px){
    .page{
        display: flex;
        app-sidebar-menu{
            padding-top: 0px;
        }
     
    }
}