<main class="page">

  <section class="shopping-cart">

    <h1 class="text-capitalize">Ventas</h1>

    <div class="tab-container">

      <ul class="tab-menu">

        <li
          class="tab-item"
          [ngClass]="{ 'active': tabSelected === 1 }"
          (click)="filterByTab(1)"
        >
          ventas
        </li>

        <li
          class="tab-item"
          [ngClass]="{ 'active': tabSelected === 2 }"
          (click)="filterByTab(2)"
        >
          delivery
        </li>

      </ul>

      <div class="tab-content">

        <!-- Order -> list, invoice -->
        <ng-container *ngIf="tabSelected === 1 || tabSelected === 2">

          <!-- Order list by business -->
          <div class="order-list" [ngClass]="{'expanded': tabSelected === 2}">

            <app-order-list
              [isExpanded]="tabSelected === 2"
              (selected)="selectedOrderList($event)"
              [orders]="ordersLists">
            </app-order-list>

          </div>


          <!-- invoice -->
          <ng-container *ngIf="tabSelected === 1">

            <div class="detail-content">

              <app-invoice></app-invoice>

            </div>

          </ng-container>

        </ng-container>

      </div>

    </div>

  </section>

</main>
