<div class="container-fluid">

    <section class="row display-flex justify-content-center mt-5">
        <div class="col-10 col-sm-6 col-md-6 col-lg-6 col-xl-5 pr-0 display-flex justify-content-space-evenly">
            <img src="assets/img/sincronizacion/interrogante.svg">
        </div>
        <div class="col-10 col-sm-6 col-md-6 col-lg-6 col-xl-4 pl-3 pt-5">
            <p class="family-500 size-16 mb-3">
                ¿Aún no tienes cargado tú inventario?, te proporcionamos nuestro banco de productos, ¿quieres verlo?
            </p>
            <button class="btn add-btn" 
                    type="button" 
                    [routerLink]="['/my-store/sincronizacion/bank-product']">
                    Ver banco de productos
            </button>
        </div>
    </section>

</div>
