<section>
    <div class="form-group row">
        <div class="col-11 col-sm-10 col-md-12 col-lg-10 col-xl-8">
            <label class="OpenSans-600 size-12">Correo</label>
            <input  class="form-control email-icon"
                    type="email"
                    
                    placeholder="Correo electrónico"
                    formControlName="email"
                       
            >

        </div>

        <a class="icon-plus">
            <img    src="../../../assets/img/iconos/icons-main/icons/plus-circle.svg"
                    width="18" 
                    height="18" 
                    title="agregar campo"
            >
        </a>

    </div>


    <div class="form-group row">
        <div class="col-11 col-sm-10 col-md-12 col-lg-10 col-xl-8">
            <label class="OpenSans-600 size-12">Telefono</label>
            <input  class="form-control email-icon"
                    type="phone"
                    
                    placeholder="Ingrese teléfono"
                    formControlName="phone"
                       
            >

        </div>

        <a class="icon-plus">
            <img    src="../../../assets/img/iconos/icons-main/icons/plus-circle.svg"
                    width="18" 
                    height="18" 
                    title="agregar campo"
            >
        </a>

    </div>

</section>
