.icon-plus{
    height: 57px;
    display: flex;
    align-items: flex-end;
}

.button-edit{background: white;border: none;color: rgb(136, 136, 136); border-bottom: 1px solid rgba(136, 136, 136, .34);}

input {
    background-color: #fff;
    border-style: solid;
    background-repeat: no-repeat;
    background-position-y: center;
    border: 1px solid #cecece !important;
    box-sizing: border-box;
    padding-right: calc(1.5em + .75rem);
    padding-left: calc(1.5em + .75rem);
    background-position: left calc(.375em + .1875rem) center !important;
    background-size: calc(.8em + .375rem) calc(.8em + .375rem);
}

textarea{min-height: 240px;}