
<aside class="aside"
#sidebarList
[ngClass]="{'aside--expanded': isExpanded}">

<div class="btn-toogle">

  <app-sidebar-list-button
  [isExpanded]="isExpanded"
  (sidebarExpand)="toggleSidebarList($event)"
  class="btn-toogle"></app-sidebar-list-button>

</div>


<div class="business-info">

  <div class="business-perfil">

    <div class="profile-img">
      <img src="assets/img/no-image-banner.jpg" alt="medicalback">
    </div>

    <div class="profile-data">

      <h2 class="name"> medicalback <span class="simbol-verifiqued">
        <img src="assets/img/no-image-banner.jpg" alt="#"></span>
      </h2>

      <div class="instagram">@medicalbackground</div>

    </div>

  </div>

  <ul class="options">

    <li routerLinkActive="active">
        <a [routerLink]="['contact']">
            Contacto
        </a>
    </li>

    <li routerLinkActive="active">
        <a [routerLink]="['product-catalogue']">
            Productos
        </a>
    </li>

    <li routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: false}" >
        <a [routerLink]="['sincronizacion/exportar-lista-excel']">
            Sincronización
        </a>
    </li>
    
    
    <li>
        <a>Ventas</a>
    </li>

  </ul>

</div>

<nav class="menu">

    <ul class="list">
        <h4 class="title">
            Categorías
        </h4>
        <li *ngFor="let item of category">
            <a (click)="CategorySelect(item.name)">{{item.name}}</a>
        </li>
    </ul>

    <ul class="list">
        <h4 class="title">
            Subcategorías
        </h4>
        <li *ngFor="let item of subcategoria; let i = index"> 
            <input type="checkbox" id="id_subcategoria{{i}}" name="{{item.name}}">
            <label for="id_subcategoria{{i}}">
                <a>{{item.name}}</a>
            </label>
        </li>
    </ul>

    <ul class="list">
        <h4 class="title">
            Precios
        </h4>

        <li>
            <input type="radio" id="rango-1" name="rango-1">
            <label for="rango-1">
                <a>$0 - $10.000</a>
            </label>
        </li>

        <li>
            <input type="radio" id="rango-2" name="rango-1">
            <label for="rango-2">
                <a>$10.000 - $20.000</a>
            </label>
        </li>

        <li>
            <input type="radio" id="rango-3" name="rango-1">
            <label for="rango-3">
                <a>$20.000 - $30.000</a>
            </label>
        </li>

        <li>
            <input type="radio" id="rango-4" name="rango-1">
            <label for="rango-4">
                <a>$30.000 - $40.000</a>
            </label>
        </li>

        <li>
            <input type="radio" id="rango-5" name="rango-1">
            <label for="rango-5">
                <a>$50.000 - $60.000</a>
            </label>
        </li>

    </ul>

</nav>

</aside>
