.page{
    display: flex;
    .page-wrapper{
        width: 100%;
        .container-fluid{
            .container{

                .disabled-account{
                    background: #F09207;
                }

                footer{
                    .save{
                        background: #F09207; 
                    }
                }

                .col-md-6{

                    section{
                        display: flex;
                        justify-content: center;
                    }
                }

                .map{
                    iframe{
                        margin-top: 20px;
                        width:100%;
                        height: 350px;
                    }
                }
            }
        }
    }
}

@media(max-width: 500px){
    .page-wrapper{
        margin-left: 0px;
    }
}