<app-public-navbar [userLog]="userLog" [storeAct]="storeLog"></app-public-navbar>

<div id="main-wrapper" class="page">

    <app-sidebar-home class="aside-home" [auth]="userLog" [storeAct]="storeLog"></app-sidebar-home>
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper animated fadeIn">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            
            <div class="container pt-4">

                <div class="row">

                    <div class="col-md-6">
                        <app-form-account-user></app-form-account-user>
                    </div>
                        
                    <div class="col-md-6">
                        <section>
                            <app-cropper-img-photo-account></app-cropper-img-photo-account>
                        </section>
                        
                    </div>

                </div>

                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15712.645162131!2d-69.29967315!3d10.085867200000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e875d7e35e71cfb%3A0x298a7ddc3d27e065!2sPARQUE%20DEL%20ESTE!5e0!3m2!1ses-419!2sve!4v1609695798598!5m2!1ses-419!2sve" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>

            </div>

        </div>
    </div>
</div>
