<app-public-navbar [userLog]="userLog" [storeAct]="storeLog"></app-public-navbar>

<div id="main-wrapper" class="page">

    <app-sidebar-home class="aside-home" [auth]="userLog" [storeAct]="storeLog"></app-sidebar-home>
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper animated fadeIn">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid pl-0 pr-0">
            
            <div class="container pt-4 pl-0">

                <div class="row">

                    <div class="col-md-6">
                        <app-form-account-user></app-form-account-user>
                    </div>
                        
                    <div class="col-md-6">
                        <section>
                            <app-cropper-img-photo-account></app-cropper-img-photo-account>
                        </section>
                        
                    </div>

                </div>

                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15712.645162131!2d-69.29967315!3d10.085867200000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e875d7e35e71cfb%3A0x298a7ddc3d27e065!2sPARQUE%20DEL%20ESTE!5e0!3m2!1ses-419!2sve!4v1609695798598!5m2!1ses-419!2sve" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>

                <div class="col-md-6 mt-4">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <p>Servicios que usas para iniciar sesión en founduss</p>
            
                            <div class="display-flex align-items-center">
                                <i class="fas fa-trash-alt mr-4"></i>
                                <img
                                src="../../../assets/img//LoginIconos/Google.svg"
                                width="7%"
                                />
                                <span class="pl-1">Google</span>
                            </div>
                        </div>
                    </div>
        
                    <div class="form-group row mb-0 mt-4">
                        <div class="col-md-12">
                            <h5 class="family-500 orange">Desactivar mi cuenta</h5>
            
                            <p class="size-14">
                                Si desactivas tu cuenta ya no podrás acceder a tu tienda,
                                ni iniciar sesión en founduss. Si quieres desactivar es´ta
                                cuenta, está no se eliminaráapp-categorias,
                                <span class="family-500 orange">
                                para eliminar tu cuenta ponte en contacto con nuestro
                                equipo de ayuda
                                </span>
                            </p>
                        </div>
                        <button
                        type="submit"
                        class="btn btn-outline-primary btn-block fredoka mt-4 button"
                        >
                        Desactivar cuenta
                        </button>
                    </div>
                </div>
                
                <!-- <footer class="pt-4 col-12 col-md-6 display-flex justify-content-space-around">
                    <button
                        class="btn btn-outline-secondary fredoka"
                        type="submit"
                    >
                        Cancelar
                    </button>
                    <button class="btn btn-outline-primary button fredoka" type="submit">
                        Guardar cambios
                    </button>
                </footer> -->
            </div>

        </div>
    </div>
</div>
