/* ---------------- Resets fot global stylings -------------- */
* {
  font-family: "Montserrat", "Segoe UI", sans-serif;
}

/* ------------ Main section stylings ---------------- */
.title {
  margin-bottom: 10px;
}

.title > h2 {
  font-family: "Montserrat", "Segoe UI", sans-serif;
}

.main-area p {
  margin-bottom: 20px;
  font-size: 1em;
}

.description {
  font-size: 0.9em;
}

.views {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.plans-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.payment-container {
  display: flex;
  position: relative;
}

.payment-details-container {
  display: flex;
  position: relative;
}
