/* ---------------- Resets fot global stylings -------------- */
* {
  font-family: "Montserrat", "Segoe UI", sans-serif;
}

/* ------------ Main section stylings ---------------- */
.title {
  margin-bottom: 10px;
}

.title > h2 {
  font-family: "Montserrat", "Segoe UI", sans-serif;
}

.main-area p {
  margin-bottom: 20px;
  font-size: 1em;
}

.description {
  font-size: 0.9em;
}

.views {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.plans-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.payment-container {
  display: flex;
  position: relative;
}

.payment-details-container {
  display: flex;
  position: relative;
}

/* -------- Responsive media queries -------------- */
@media (max-width: 980px) {
  .description {
    font-size: 0.8em;
  }

  .plans-container {
    flex-direction: column;
    align-items: center;
  }
}
