<div class="imgs">

  <div class="img-option">

    <ng-container *ngFor="let img of imgs">

      <div class="option" (click)="selectImg(img)">

        <img
          [src]="img"
          onerror="if (this.src != 'assets/img/Box/box.svg') this.src = 'assets/img/Box/box.svg';"
        >

      </div>

    </ng-container>

  </div>

  <div class="img-selected">

    <!-- <img [src]="currentImg"> -->

    <div class="image" #image>
      <a [href]="currentImg" target="_blank">
        <img
          [src]="currentImg"
          alt=""
          onerror="if (this.src != 'assets/img/Box/box.svg') this.src = 'assets/img/Box/box.svg';"
        >
      </a>
    </div>

    <div class="zoom" #zoom>
      <img
        class="zoom-image" #zoomImage src="" alt=""
        onerror="if (this.src != 'assets/img/Box/box.svg') this.src = 'assets/img/Box/box.svg';"
      >
    </div>

  </div>

</div>
