<div class="imgs">

  <div class="img-option">

    <ng-container *ngFor="let img of imgs">
      <div class="option" (click)="selectImg(img)">
        <div [ngSwitch]="sync">
          <div *ngSwitchCase="'sync'">
            <img [src]="img | PreviewGallery">
          </div>
          <div *ngSwitchDefault>
            <img [src]="img">
          </div>
        </div>
      </div>
    </ng-container>

  </div>

  <div class="img-selected">

    <!-- <img [src]="currentImg"> -->

    <div [ngSwitch]="sync">

      <div *ngSwitchCase="'sync'">
        <div class="image" #image>
          <a href="" target="_blank">
            <img src="" alt="">
          </a>
        </div>
      </div>

      <div *ngSwitchDefault>
        <div class="image" #image>
          <a href="" target="_blank">
            <img src="" alt="">
          </a>
        </div>
      </div>

    </div>

    

    <div class="zoom" #zoom>
      <img class="zoom-image" #zoomImage src="" alt="">
    </div>

  </div>

</div>
