.skeleton-card {
  width: 100%;

  .mat-card-header {
    .skeleton-card__avatar {
      width: 5em;
      height: 5em;
    }

    .skeleton-card__title {
      width: 9em;
      height: 1em;
    }

    .skeleton-card__subtitle {
      width: 8em;
      height: 1em;
    }
  }
}

/* ------------------------
  Responsive media queries
   ------------------------ */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
  .mat-card-header {
    .skeleton-card__avatar {
      width: 2.5em;
      height: 2.5em;
    }
  }
}

@media only screen and (min-width: 465px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
