<div class="invoice-container">

  <div class="head-invoice">
    <p>Rosa Oropeza</p>
    <p>orden #100245</p>
  </div>


  <div class="table-container">

    <!-- <div class="border-box">

    </div> -->

    <div class="filter--buttons">

      <div class="filter active">
        Con delivery
      </div>

      <div class="filter">
        Retiro en tienda
      </div>

    </div>

    <table>

      <div class="thead">
        <div class="tableElementContainer">
          <th>Producto</th>
          <th>Subtotal</th>
        </div>
      </div>

      <div class="tbody">

        <tr>
          <div class="tableElementContainer">
            <td>Comida vegana food x 4 Comida vegana food x 4 Comida vegana food x 4</td>
            <td>$45,54</td>
          </div>
        </tr>

        <tr>
          <div class="tableElementContainer">
            <td>Comida vegana food x 4</td>
            <td>$45,54</td>
          </div>
        </tr>

        <tr>
          <div class="tableElementContainer">
            <td>Subtotal</td>
            <td>$91,08</td>
          </div>
        </tr>

        <tr>
          <div class="tableElementContainer">
            <td>Delivery</td>
            <td>$2,1</td>
          </div>
        </tr>

      </div>

      <div class="line">
        <div class="segment"></div>
      </div>

      <div class="tfoot">
        <p>Impuesto (19%) <span>$14.02</span> </p>
        <p><strong>TOTAL <span>$91,08</span> </strong></p>
      </div>

    </table>

  </div>


</div>
