<div class="main-container">
    <main class="category-container">

        <header class="cty-header">
            <h3 class="cty-title">
                {{titleCat}}
            </h3>
            <hr>
        </header>

        <main>

            <nav class="list-items" *ngIf="!empty">
                <ul>
                    <li class="item product" *ngFor=" let item of listaProductos.data; let j = index">
                        <article class="product-item-info card">
                            <picture class="product-image-container">
                                <img src="{{item.images[0] | boxDefault }}" alt="{{item.name}}">
                            </picture>
                            <div class="card-body pb-0 pt-0">
                                <p class="card-description" title="description">
                                    {{item.description | LimitarTexto:60}}
                                </p>
                                <span class="price">${{item.price}}</span>
                            </div>
                        </article>
                    </li>
                </ul>
            </nav>

            <nav class="pg-item" aria-label="Page navigation" *ngIf="!empty">
                <ul class="pagination">

                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo; Anterior</span>
                            <span class="sr-only">Atras</span>
                        </a>
                    </li>

                    <li id="{{item}}" (click)="getProductsPG($event.target.id)" class="page-item active" *ngFor="let item of pgOptions; let ind = index ">
                        <a class="page-link">{{ind+1}}</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo; Siguiente</span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div *ngIf="empty">
                <h4>
                    No hay productos en esta sección
                </h4>
                <a name="" id="" class="btn btn-primary" [routerLink]="['/categorys']" role="button">Volver a Menú</a>
            </div>
        </main>

    </main>

</div>