<div class="main-container">
    <main class="category-container">

        <header id="top" class="cty-header">
            <h3 class="cty-title">
                {{titleCat}} > {{titleSubcat}}
            </h3>

            <hr>
        </header>

        <main *ngIf="listaProductos!=undefined">

            <nav class="list-items" *ngIf="!empty">
                <ul>
                    <li class="item product" *ngFor=" let item of listaProductos.data; let j = index">
                        <article class="product-item-info card">
                            <picture class="product-image-container">
                                <img src="{{item.images[0] | imgFallback: 'box' }}" alt="{{item.name}}">
                            </picture>
                            <div class="card-body pb-0 pt-0">
                                <p class="card-description" title="description">
                                    {{item.description | excerpt: 66}}
                                </p>
                                <span class="price">{{item.price  | currency}}</span>
                            </div>
                        </article>
                    </li>
                </ul>
            </nav>

            <nav class="pg-item" aria-label="Page navigation" *ngIf="!empty">
                <ul class="pagination">

                    <li class="page-item" [ngClass]="{'disabled':  listaProductos.current_page<=1}">
                        <a class="page-link" (click)="getProductsPG($event.target.parentElement.parentElement,(listaProductos.current_page-1))" aria-label="Previous">
                            <span aria-hidden="true">&laquo;Anterior</span>
                            <span class="sr-only">Atras</span>
                        </a>
                    </li>

                    <li id="{{item}}" [ngClass]="{'active':  item == listaProductos.current_page}" (click)="getProductsPG($event.target.parentElement.parentElement,$event.target.id)" class="page-item " *ngFor="let item of pgOptions; let ind = index ">
                        <a id="{{item}}" class="page-link">{{ind+1}}</a>
                    </li>

                    <li class="page-item" [ngClass]="{'disabled':  listaProductos.current_page>=listaProductos.last_page}">
                        <a class="page-link" (click)="getProductsPG($event.target.parentElement.parentElement,(listaProductos.current_page+1))" aria-label="Next">
                            <span aria-hidden="true">Siguiente&raquo; </span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div *ngIf="empty">
                <h4>
                    No hay productos en esta sección
                </h4>
                <a name="" id="" class="btn btn-primary" [routerLink]="['/categorys']" role="button">Volver a Menú</a>
            </div>
        </main>

    </main>
    <ngx-spinner bdColor="rgb(255,255,255)" size="large" color="#f19301" type="ball-atom">
        <p style="color: black"> Cargando </p>
    </ngx-spinner>
</div>