<ngx-spinner
bdColor="rgba(0, 0, 0, .45)">
<p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>
  
  <section class="container-fluid wrapper">
  
    <form [formGroup]="forma"
          (ngSubmit)="enviarExcel()" >
          <section class="row align-items-center">
                <div class="form-group col-8 col-sm-4 col-md-4 col-lg-4 col-xl-3 mb-0">
                  <!-- <input  class="form-control position-relative icon-excel" placeholder="Carga la lista de excel"> -->
                  <input  type="file"
                          id='fileUpload'
                          multiple='multiple'
                          accept='xlsx/*' 
                          (change)='onFileChange($event)'
                          class="form-control"
                          formControlName="file"
                          multiple="multiple"
                  >
                  <label for="fileUpload" class="form-control family-400 icon-excel mb-0">Cargar la lista de Excel</label>
                </div>

                <div  class="col-8 col-sm-4 col-md-5 col-lg-5 col-xl-3">

                  <a  *ngIf="dowloadExcel === false"
                      class="family-300 black" 
                      href="../../../../../assets/DocumentoExcel/Listado de carga de productos.xlsx" 
                      download>
                      Descargar Formato de excel
                      <mat-icon matBadge="!" matBadgeColor="warn"></mat-icon>
                  </a>

                  <a  *ngIf="dowloadExcel === true"
                      class="family-300 black" 
                      href="{{ this.path }}" 
                      download>
                      Descargar Formato de excel
                      <mat-icon matBadge="!" matBadgeColor="warn"></mat-icon>
                  </a>
                </div>

                <div class="form-group mb-0 col-5 col-sm-4 col-md-3">
                    <div class="input-group">
                      <button type="submit" 
                              class="btn btn-primary button fredoka"
                              (click)="enviarExcel()"
                              >
                              Cargar Lista
                      </button>
                    </div>
                </div> 
          </section>
   </form>

   <table class="table table-striped table-bordered mt-5" *ngIf="archivo">
    <thead>
      <tr>
        <th scope="col" class="tex-align-center family-600">Stok</th>
        <th scope="col" class="tex-align-center family-600">Nombre</th>
        <th scope="col" class="tex-align-center family-600">Descripción</th>
        <th scope="col" class="tex-align-center family-600">Precio</th>
        <th scope="col" class="tex-align-center family-600">Marca</th>
      </tr>
    </thead>
    <tbody *ngFor="let FileExcel of Data | paginate: { itemsPerPage: 28, currentPage: pagesActual };
            let i = index;
            let par = even;
            let impar = odd">
  
      <tr [ngClass]="{'is-impar':  par, 'is-par': impar }">
        <th scope="row" class="tex-align-center family-500">{{FileExcel.cantidad}}</th>
        <td class="tex-align-center size-12 family-500">{{FileExcel.Nombre}}</td>
        <td class="text-align-left  size-12 family-500">{{FileExcel.Descripcion}}</td>
        <td class="text-align-left  size-12 family-500">{{FileExcel.Precio}}</td>
        <td class="tex-align-center size-12 family-500">{{FileExcel.Marca}}</td>
      </tr>
  
    </tbody>
  </table>   
  
</section>


<footer>
  <pagination-controls (pageChange)="pagesActual = $event"></pagination-controls>
</footer>




    
