
<app-navbar-sincronizacion></app-navbar-sincronizacion>



<form   [formGroup]="forma" 
        (ngSubmit)="SendDocumentExcel()" 
        novalidate="novalidate"
        class="mt-5 width-100" 
        >

        <section class="row align-items-center">
            <div class="form-group col-md-3 mb-0">
                <input  type="file" 
                        class="form-control fileInput"
                        formControlName="file">
            </div>

            <a  class="family-300 col-md-3" 
                href="../../../../../assets/DocumentoExcel/Listado de carga de productos.xlsx" 
                download>
                Descargar Formato de excel
            </a>

            <div class="form-group row">
                <div class="input-group col-md-12">
                  <button [disabled]="!forma.valid" 
                          type="submit" 
                          class="btn btn-primary"
                          (click)="enviarExcel()"
                          >
                          Cargar Lista
                  </button>
                </div>
              </div>

        </section>

</form>

    

    
