<div class="container">
    <div class="row">
       <div class="col-md-12">
        <div class="grid">
            <div *ngFor="let cardShimmer of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]">
                <div class='article-card-shimmer'>
                    <div class="shimmer shine article-card-shimmer__img"></div>
                    <div class='article-card-shimmer__text'>
                      <div class="shimmer shine article-card-shimmer__category"></div>
                      <div class="shimmer shine article-card-shimmer__title"></div>
                    </div>
                </div>
            </div>
            
        </div>
        
       </div>
    </div>
</div>
