<!-- <h1 mat-dialog-title>You are from {{data.name}}</h1>

<div mat-dialog-content>

  <p>What's your favorite city?</p>
  <mat-form-field>
    <mat-label>Favorite City</mat-label>
    <input matInput [(ngModel)]="data.city">
  </mat-form-field>

  <p>Your favorite food?</p>
  <mat-form-field>
    <mat-label>Favorite Food</mat-label>
    <input matInput [(ngModel)]="food">
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Get Food</button>
  <button mat-button [mat-dialog-close]="data.city" cdkFocusInitial>Get City</button>
</div> -->

<h2 mat-dialog-title>{{data.title}}</h2>

<ng-container *ngIf="data.message as message">

  <mat-dialog-content class="mat-typography">

    <ng-container *ngIf="data.subTitle as subTitle">
      <h3>{{subTitle}}</h3>
    </ng-container>

    <p>{{message}}</p>

  </mat-dialog-content>

</ng-container>

<mat-dialog-actions align="end">

  <ng-container *ngIf="data.button else buttonsArray">

    <button
      [disabled]="buttonDisabled"
      (click)="onClose()"
    >
      {{data.button}}
    </button>

  </ng-container>

</mat-dialog-actions>

<ng-template #buttonsArray>

  <ng-container *ngIf="data.buttons else buttonDefault">

    <ng-container *ngFor="let button of data.buttons; let index = index">

      <ng-container *ngIf="index + 1 !== data.buttons.length">

        <button
          [disabled]="buttonDisabled"
          mat-button
          (click)="onButton(button)"
        >

          {{button}}

        </button>

      </ng-container>

      <ng-container *ngIf="index +1 === data.buttons.length">

        <button
          [disabled]="buttonDisabled"
          mat-button
          cdkFocusInitial
          (click)="onButton(button, false)"
        >

          {{button}}

        </button>

      </ng-container>

    </ng-container>

  </ng-container>

</ng-template>

<ng-template #buttonDefault>

  <button
    [disabled]="buttonDisabled"
    (click)="onClose()"
  >
    Ok
  </button>

</ng-template>

