.order-content {
  width: 100%;
  padding: 1em;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 'heading' 'details' 'amounts';

  .order-heading {
    grid-area: heading;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'name number';

    .client-name {
      grid-area: name;
    }

    .order-number {
      grid-area: number;
      margin-left: auto;
    }
  }

  .order-details {
    grid-area: details;
    display: grid;
    grid-template-rows: 2em auto;
    grid-template-columns: auto;
    grid-template-areas: 'tabs' 'table';

    .navigation {
      grid-area: table;
      padding-left: 0px;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      overflow-y: scroll;

      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .table-container {
      grid-area: table;
      clear: both;

      .orders-table {
        width: 100%;
        margin-top: 1em;

        & thead tr {
          display: block;
        }

        .table-body {
          display: block;
          overflow: auto;
          height: 20em;
          width: 100%;

          -ms-overflow-style: none;
          scrollbar-width: none;

          &::-webkit-scrollbar {
            display: none;
          }
        }

        & th,
        & td {
          padding: 1em;
          width: 100%;
        }

        & .main-row {
          text-align: left;
          background-color: #f3f3f3;
          color: #212529;
        }
      }
    }
  }

  .amounts {
    grid-area: amounts;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.4em auto auto;
    grid-template-areas:
      '... line line'
      '... tax tax'
      '... total total';

    .line {
      grid-area: line;
      width: 100%;
    }

    .tax {
      margin: 0.8em 0em;
      grid-area: tax;

      .grid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'text amount';

        .text {
          grid-area: text;
          text-align: left;
        }

        .amount {
          grid-area: amount;
          text-align: left;
        }
      }
    }

    .total {
      grid-area: total;
      font-weight: bold;

      .grid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'text amount';

        .text {
          grid-area: text;
          text-align: left;
        }

        .amount {
          grid-area: amount;
          text-align: left;
        }
      }
    }
  }
}
