/* ---------------- Resets fot global stylings -------------- */
* {
  font-family: "Montserrat", "Segoe UI", sans-serif;
}

/* ------------ Main section stylings ---------------- */
.main-wrapper {
  width: 100%;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

/* 
  Wrapper del contenido que se muestre en el "router-outlet".
  Se debe modificar la propiedad "padding" y reducirlo para pantallas pequeñas.
*/
.content-wrapper {
  margin-top: 90px;
  padding: 0px 240px 0px 15px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 50px auto;
  grid-template-areas:
    "white-space content content content content content"
    "sidebar content content content content content";
  scroll-behavior: smooth;
}

.white-space {
  grid-area: white-space;
  height: 50px;
}

.sidebar-area {
  grid-area: sidebar;
}

.main-area {
  grid-area: content;
  grid-column-start: 2;
  grid-column-end: 7;
  position: relative;
}

.main-area .description {
  font-size: 0.9em;
}

.views {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.plans-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.payment-container {
  display: flex;
  position: relative;
}

.payment-details-container {
  display: flex;
  position: relative;
}

.sidebar {
  padding: 0;
}

/* ------------ Sidenav section stylings ---------------- */
app-sidebar-menu > section.configuration-menu {
  padding-right: 0px;
  padding-top: 0px;
}

/* ------------ Responsive media queries ---------------- */
@media screen and (max-width: 999px) {
  /* Nothing to do here for now */
}

@media screen and (max-width: 757px) {
  .content-wrapper {
    padding: 0px 120px 0px 15px;
  }
}

@media screen and (max-width: 485px) {
  .content-wrapper {
    padding: 0px 20px 0px 15px;
  }
}
