
.card-columns .card {
    display: inline-block;
    width: 80%;
}

i{
    z-index: 10;
}

.detail-name{
    max-height: 55px;
    min-height: 55px;
}

.icon-gris{color: #aeaeb8 !important;}
.modal-header h5{
    font-size: 17px !important;
}

.product-items {
    padding-top: 4px;
}

.product-items {
    font-size: 0;
    letter-spacing: -1px;
    line-height: 0;
}

.product-item-info {
    background-color: #fff;
    height: 370px;
    width: 100%;
}

.product-image-container {
    display: inline-block;
    max-width: 100%;
}

.product-image-wrapper {
    padding-bottom: 95% !important;
}

.product-image-wrapper {
    display: block;
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.product-image-photo.lazyload{
    width: 80% !important;
    margin-left: 8%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-image-photo {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    margin: auto;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.name-product{
    text-align: left;
    padding-left: 18px;
    padding-right: 18px;
    min-height: 55px;
}

.product-item-info:hover{
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,.1) !important;
    border: none !important;
    padding-bottom: .1%;
    cursor: pointer;
}

.space{
    padding-left: 18px;
    padding-right: 18px;
}

.product-image-wrapper:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
    transition: all .7s cubic-bezier(.165,.84,.44,1);
} 

.material-icons{
    display: none;
}

.product-item-info:hover .material-icons{
    display: block;
}


.product-item-info:hover{
    filter: grayscale(5%) brightness(90%) opacity(100%);
    -webkit-filter: grayscale(5%) brightness(90%) opacity(100%);
    -moz-filter: grayscale(5%) brightness(90%) opacity(100%);
}

.line{
    line-height: 1.3;
}