
    <li class="col-md-12 item product product-item" id="{{index}}">
        <div    class="product-item-info card">

                <div [ngSwitch]="item.sincronice">
                    <div *ngSwitchCase="'sincronizado'">
                        <i  class="material-icons position-absolute left-85 top-5 icon-gris" 
                            name="create"
                            title="Editar"
                            (click)="Id(index)"
                            [routerLink]="['/my-store/edit-product-sync', MyProduct[index].id]" 
                        >
                        create
                        </i>
                    </div>
                    <div *ngSwitchCase="'no disponible'">
                        <i  class="material-icons position-absolute left-85 top-5 icon-gris" 
                            name="create"
                            title="Editar"
                            (click)="Id(index)"
                            [routerLink]="['/my-store/edit-product', MyProduct[index].id]" 
                        >
                        create
                        </i>
                    </div>
                    <div *ngSwitchCase="'no sincronizado'">
                        <i  class="material-icons position-absolute left-85 top-5 icon-gris" 
                            name="create"
                            title="Editar"
                            (click)="Id(index)"
                            [routerLink]="['/my-store/edit-product', MyProduct[index].id]" 
                        >
                        create
                        </i>
                    </div>
                    <div *ngSwitchDefault>
                        <i  class="material-icons position-absolute left-85 top-5 icon-gris" 
                            name="create"
                            title="Editar"
                            (click)="Id(index)"
                            [routerLink]="['/my-store/edit', MyProduct[index].id]" 
                            >
                            create
                        </i>
                    </div>
                </div>

                <i  class="material-icons position-absolute left-85 top-15 icon-gris" 
                    name="delete"
                    title="Eliminar"
                    data-toggle="modal"
                    (click)="openDialog(index)"
                    >
                    delete
                </i>

                <i  class="material-icons position-absolute left-85 top-25 icon-gris" 
                    name=" loop icon"
                    title="sincronizar"
                    >
                    loop
                </i>

                <span class="product-image-container" style="width:240px;">
                    <span class="product-image-wrapper">
                        
                        <div [ngSwitch]="item.sincronice">
                            <div *ngSwitchCase="'sincronizado'">

                                <img    [src]="item.sync_bank[0].images[0].src_size.xl | imgProductLoad" 
                                        class="product-image-photo lazyload"   
                                        alt="{{item.name}}"
                                        style="display: block;"
                                        *ngIf="item.sync_bank.length > 0"    
                                >

                                <img    src="../../../assets/img/Box/box.svg" 
                                        class="card-img-top" 
                                        alt="..." 
                                        *ngIf="item.sync_bank.length === 0"
                                >

                            </div>
                            <div *ngSwitchCase="'no sincronizado'">
                                <img    [src]="item.images[0].src_size.xl | imgProductLoad" 
                                        class="product-image-photo lazyload"   
                                        alt="{{item.name}}"
                                        style="display: block;"
                                        *ngIf="item.images.length >= 1"    
                                >

                                <img    src="../../../assets/img/Box/box.svg" 
                                        class="card-img-top" 
                                        alt="..." 
                                        *ngIf="item.images.length === 0"
                                >
                            </div>
                            <div *ngSwitchCase="'no disponible'">
                                <img    [src]="item.images[0].src_size.xl | imgProductLoad" 
                                        class="product-image-photo lazyload"   
                                        alt="{{item.name}}"
                                        style="display: block;"
                                        *ngIf="item.images.length >= 1"    
                                >

                                <img    src="../../../assets/img/Box/box.svg" 
                                        class="card-img-top" 
                                        alt="..." 
                                        *ngIf="item.images.length === 0"
                                >
                            </div>
                        </div>
                    </span>
                </span>

                <div class="card-body pb-0 pt-0">

                    <div [ngSwitch]="item.sincronice">

                        <div *ngSwitchCase="'sincronizado'">

                            <p class="family-600 size-14 color-p" title="{{item.name}} " *ngIf="item.sync_bank.length > 0"  >
                                {{item.sync_bank[0].name | LimitarNameProducto }} 
                                <span *ngIf="item.name.length > 55">...</span>
                            </p>
        
                            <p class="family-600 size-11 mb-0 detail-name card-text line" title="{{item.description}}" *ngIf="item.sync_bank.length > 0"  >
                                {{item.sync_bank[0].description | LimitarTexto:105 }} 
                                <!-- <span *ngIf="item.description.length > 100">...</span> -->
                            </p>

                            <p *ngIf="item.price !== 0 " class="family-600 color-p size-14 black mt-0 mb-0">
                                {{item.price | currency: 'USD': true:'1.3-3'}} 
                            </p>

                            <span class="badge badge-primary puntero pt-1">Sincronizado</span>
        
                            
                        </div>

                        <div *ngSwitchCase="'no sincronizado'">

                            <p class="family-600 size-14 color-p" title="{{item.name}} ">
                                {{item.name | LimitarNameProducto }} 
                                <!-- <span *ngIf="item.name.length > 55">...</span> -->
                            </p>
        
                            <p class="family-600 size-11 mb-0 detail-name card-text line" title="{{item.description}}">
                                {{item.description | LimitarTexto:105 }} 
                                <!-- <span *ngIf="item.description.length > 100">...</span> -->
                            </p>
        
                            <span *ngIf="item.price !== 0 " class="family-600 color-p size-14 black mt-2">
                                {{item.price | currency: 'USD': true:'1.3-3'}} 
                            </span>
        
                            <span *ngIf="item.price === 0 " class="family-600 color-p size-14 black mt-2">
                                Precio a consultar
                            </span>

                           

                        </div>

                        <div *ngSwitchCase="'no disponible'">

                            <p class="family-600 size-14 color-p" title="{{item.name}} ">
                                {{item.name | LimitarNameProducto }} 
                                <!-- <span *ngIf="item.name.length > 55">...</span> -->
                            </p>
        
                            <p class="family-600 size-11 mb-0 detail-name card-text line" title="{{item.description}}">
                                {{item.description | LimitarTexto:105 }} 
                                <!-- <span *ngIf="item.description.length > 100">...</span> -->
                            </p>
        
                            <span *ngIf="item.price !== 0 " class="family-600 color-p size-14 black mt-2">
                                {{item.price | currency: 'USD': true:'1.3-3'}} 
                            </span>
        
                            <span *ngIf="item.price === 0 " class="family-600 color-p size-14 black mt-2">
                                Precio a consultar
                            </span>

                        </div>

                    </div>

                    
                </div>
           
        </div>
        
    </li>


    