@media (min-width: 576px){
    .card-columns {
        -moz-column-count: 3;
        column-count: 4;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}