@import 'src/assets/scss/style.scss';

.configuration-menu {
  min-width: 245px;
  width: 18%;
  height: 100%;
  padding-right: 20px;

  padding-top: 65px;

  h2 {
    padding-left: 40px;
    margin-bottom: 24px;
  }

  .items-menu {
    width: 84%;

    .item {
      border-radius: 0px 4px 4px 0px;
      cursor: pointer;
      padding: 4px 0px;
      transition: all .3s;

      &:first-child {
        font-weight: 600;
      }

      &:hover {
        background: $color__background-gray;

      }

      p {
        padding-left: 40px;
        padding-right: 4px;
        word-break: break-word;

        &::first-letter {
          text-transform: uppercase;
        }
      }

    }

    .active {
      background: $color__background-gray;

      .responsive--icon {
        color: $color__background-orange;

      }
    }

  }

  .responsive--icon {
    cursor: pointer;
    font-size: 24px;
    padding: 8px 13px;
    display: none;

  }
}

@media screen and (max-width: 999px) {

  .configuration-menu {
    min-width: 47px;
    width: 47px;

    background: $color__background-gray;
    transition: all .3s;
    padding-right: 0px;
    padding-top: 58px;


    h2 {
      display: none;
    }

    .items-menu {
      width: fit-content;

      .item {
        background: none;
        p {
          display: none;

        }

      }

      .active{
        background: none
      }
    }

    .responsive--icon {
      display: block;
      transition: all .3s;

      &:hover {
        background: $color__background-gray;
        color: $color__background-orange;
      }


    }

    .responsive-menu-container--fixed {

      position: fixed;
      top: 39px;
      z-index: 3;

    }

  }

  .configuration-menu--responsive-expanded {
    min-width: 245px !important;
    width: 18% !important;

    .heading {
      display: flex;
      align-items: center;

      h2 {
        display: block !important;
        font-size: 18px !important;
        margin-bottom: 0px !important;
        padding-left: 0px !important;

      }

    }

    .items-menu {
      .item {
        display: flex;
        align-items: center;

        p {
          display: block !important;
          padding-left: 0px !important;

        }
      }
    }
  }

}
