<section class="configuration-menu" #configurationMenu>

  <div #menuContainerFixed>

    <div class="heading">
      <i class="responsive--icon fas fa-bars" title="Menú" (click)="toggleMenu()"></i> <h2>configuración</h2>
    </div>


    <ul class="items-menu">

      <li class="item">
        <i class="responsive--icon fas fa-user" title="mi cuenta"></i> <p>mi cuenta</p>
      </li>

      <ng-container *ngFor="let item of [0,0,1]">

        <li class="item" [ngClass]="{ 'active': item == 1 }">
          <i class="responsive--icon fas fa-user" title="carrito de compra"></i> <p>carrito de compra</p>
        </li>

      </ng-container>

    </ul>

  </div>


</section>
