<section class="configuration-menu" #configurationMenu>
  <div #menuContainerFixed>
    <div class="heading">
      <i
        class="responsive--icon fas fa-bars"
        title="Menú"
        (click)="toggleMenu()"
      ></i>
      <h2>configuración</h2>
    </div>

    <ul class="items-menu">
      <!-- [ngClass]="{ 'active': item.isActive }" -->
      <ng-container *ngFor="let item of menuOptions">
        <li
          class="item"
          [routerLink]="item.routerLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i
            class="responsive--icon {{ item.iconClass }}"
            title="{{ item.label }}"
          ></i>
          <p>{{ item.label }}</p>
        </li>
      </ng-container>
    </ul>
  </div>
</section>
