<app-navbar></app-navbar>
<div class="animated fadeIn fast" style="height: 100vh;">
    <div class="row">
       <div class="col-md-12 display-flex justify-content-center animated fadeIn fast align-items-center;" style="height: 100vh;">
            <img src="assets/img/Navbar/Logo Founduss.svg" style="width:40%">
       </div>
       <div class="col-md-7 white display-flex align-items-center justify-content-center flex-direction-column">
            <app-categorias></app-categorias>
        </div>
    </div>
</div>
