<app-public-navbar [userLog]="userLog" [storeAct]="storeLog">
</app-public-navbar>
<main class="page">
    <app-sidebar-home class="aside-home" [auth]="userLog" [storeAct]="storeLog"></app-sidebar-home>

    <section class="content-home">
        <app-slider class="slider-home"></app-slider>
        <section class="categorys-group" *ngIf="requestReady">
            <app-slider-category *ngFor="let cat of homeComp" [_cat]="cat">
            </app-slider-category>
        </section>
    </section>
</main>
<ngx-spinner bdColor="rgb(255,255,255)" size="large" color="#f19301" type="ball-atom">
    <p style="color: black"> Cargando </p>
</ngx-spinner>