
<app-public-navbar [userLog]="userLog"></app-public-navbar>
<main class="page">
    <app-sidebar-home class="aside-home" [auth]="userLog"></app-sidebar-home>

    <section class="content-home">
        <app-slider class="slider-home"></app-slider>
        <section class="categorys-group">
            <app-slider-category >
            </app-slider-category>

            <app-slider-category >
            </app-slider-category>
        </section>
    </section>    
    <!-- 
         elena_pcp@hotmail.com
         8981 0411 6316
         bank of america
         corriente
    -->
    
</main>


 