<div class="table-responsive">
    <div class="container">
        <div class="row">
            <table class="table" *ngFor="let item of dataStoreEdit">
                <tbody>
                    <tr>
                        <th scope="row" class="family-700 size-16">Correo</th>
                        <td>{{item.email_1}}</td>
                        <td>{{item.email_2}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="family-700 size-16">Teléfonos</th>
                        <td>{{item.phone_1}}</td>
                        <td>{{item.phone_2}}</td>
                    </tr>
                    <tr *ngFor="let redes of redesSociales">
                        <th scope="row" class="family-700 size-16">Redes sociales</th>
                        <td>{{redes.facebook}}</td>
                        <td>{{redes.instagram}}</td>
                        <td>{{redes.twitter}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="family-700 size-16">Página Web</th>
                        <td>{{item.webside}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="family-700 size-16">Dirección</th>
                        <td>{{item.direction}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
</div>
