@import 'src/assets/scss/style.scss';


.spinner-circle{
    -webkit-animation:  spin .8s linear 0s infinite;
    border-radius: 50%;
    border-color: rgba(86,199,255,.8) rgba(86,199,255,.8) rgba(190,192,194,.3) rgba(190,192,194,.3);
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    height: 48px;
    padding: 4px;
    position: relative;
    vertical-align: middle;
    width: 48px;
    animation: spin .8s linear 0s infinite;
}