<div class="col-sm-4 col-md-4 col-lg-4 col-xl-2">
    <aside>
        <nav>
            <ul class="pt-5">

                <li>
                    <input type="file">
                </li>
    
                <li class="family-400 size-16 pb-2 pt-2 puntero">
                    <a routerLinkActive="active" [routerLink]="['/contact']">Contacto</a>
                </li>
                <li class="family-400 size-16 pb-2 pt-2 puntero">
                    <a [routerLink]="['product-loading']">Productos</a>
                </li>
                <li class="family-400 size-16 pb-2 puntero">
                    <a>Sincronización</a>
                </li>
                <li class="family-400 size-16 pb-2 puntero">
                    <a>Ventas</a>
                </li>
                
            </ul>
        </nav>
    </aside>
</div>
