<div class="col-md-12">
    <aside>
        <nav>
            <ul class="pt-5">
                <li class="family-400 size-16 puntero">
                    <a  routerLinkActive="active" 
                        [routerLink]="['contact']"
                        class="pl-3">
                        Contacto
                    </a>
                </li>
                <li class="family-400 size-16 puntero">
                    <a  routerLinkActive="active" 
                        [routerLink]="['product-loading']"
                        class="pl-3">
                        Productos
                    </a>
                </li>
                <li class="family-400 size-16 pb-2 puntero">
                    <a class="pl-3">Sincronización</a>
                </li>
                <li class="family-400 size-16 pb-2 puntero">
                    <a class="pl-3">Ventas</a>
                </li>
            </ul>
        </nav>
    </aside>
</div>
