<!-- Payment section -->
<div class="payment">
  <button class="btn" (click)="backToPreviousPage()" mat-button>
    <i class="fas fa-caret-left"></i> Atrás
  </button>

  <!-- Payment details -->
  <div class="payment-details">
    <h5
      class="plan-name"
      [class.basic]="selectedPlanDetails.name === 'Basic'"
      [class.standard]="selectedPlanDetails.name === 'Standard'"
      [class.premium]="selectedPlanDetails.name === 'Premium'"
    >
      Plan {{ selectedPlanDetails.name }}
    </h5>
    <h5 class="total">
      <b>Total:&nbsp; &nbsp;</b>
      <span>64.98</span>
    </h5>

    <p>PARA COMPLETAR LA COMPRA COMPLETE EL SIGUIENTE REQUERIMIENTO:</p>

    <div class="payment-methods">
      <div class="webpay-banner">
        <p class="title">Método de pago:</p>
        <mat-checkbox
          class="checkbox"
          [(ngModel)]="webpayDebitCard"
        ></mat-checkbox>

        <div class="banner">
          <img
            src="../../../../../assets/img/Suscription/webpay-cl.png"
            alt="webpay-banner"
          />
          <p>Tarjeta de Débito (Redcompra Webpay)</p>
        </div>

        <div class="note">
          <h5>NOTA:</h5>
          <p>
            Te recomendamos no cerrar el navegador hasta que la compra sea
            finalizada.
          </p>
        </div>
      </div>

      <button class="btn" (click)="toNextPage()" mat-flat-button>
        PAGAR AHORA
      </button>
    </div>
  </div>
  <!-- #Payment details -->
</div>
<!-- #Payment section -->
