<app-navbarstore [fixed]="false"></app-navbarstore>

<main class="page">

  <app-sidebar-list
    #sidebarList
    [profile]="sidebarProfile"
    [categories]="sidebarCategories"
    [anchorsMenu]="anchorsMenu"
    [sidebarTarget]="this.sidebarList"
    (selected)="selectedCategory($event)"
  >
  </app-sidebar-list>

  <div class="column">

    <section class="introduction-page">

      <app-breadcrumb></app-breadcrumb>

      <app-banner [imgs]="imgsBanners"></app-banner>

    </section>

    <ng-container *ngIf="showProducts">

      <section class="products-infomation">

        <h1 class="profile-name">farmacia medical background</h1>

        <app-product-detail #productDetail>
        </app-product-detail>

        <app-search-bar
          [sidebarTarget]="this.sidebarList"
          [buttonSidebarList]="true">
        </app-search-bar>

        <app-products-cards
          #productCards
          (selected)="selectProduct($event)">
        </app-products-cards>

      </section>

    </ng-container>

    <ng-container *ngIf="!showProducts">
      <p>contact detail</p>
    </ng-container>

  </div>


</main>
