<app-public-navbar [userLog]="userLog" [storeAct]="storeLog" [menuOptions]="menuOptions" [menuOptionsFavorite]=""></app-public-navbar>


<main class="page">
    <app-sidebar-home [storeAct]="storeLog" [auth]="userLog" [menuOptions]="menuOptions" [menuOptionsFavorite]=""></app-sidebar-home>
    <ng-container *ngIf="anchorsMenu && profile && categories">

        <app-sidebar-list #sidebarList [isExpanded]="expandSidebar" (sidebarExpand)="toogleSidebar($event)" [anchorsMenu]="anchorsMenu" [profile]="profile" [categories]="categories" [priceRanges]="priceRanges" [factories]="factories" [marks]="marks" [delivery]="delivery">
        </app-sidebar-list>

    </ng-container>


    <div class="column">

        <section class="introduction-page">

            <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

            <app-banner [imgs]="imgsBanners"></app-banner>


        </section>

        <ng-container *ngIf="showProducts">

            <section class="products-infomation">

                <h1 class="profile-name">{{StoreName}}</h1>

                <app-product-detail #productDetail (clickButtonCart)="addProductToCart($event)">
                </app-product-detail>

                <app-search-bar [preloadedValue]="preloadedValueSearch" [debounce]="1000" [isExpanded]="expandSidebar" [buttonSidebarList]="true" (sidebarExpand)="toogleSidebar($event)" (search)="search($event)" [filterOptions]="filterOptions">
                </app-search-bar>

                <app-products-cards #productCards (selected)="goTodetailProduct($event)" (pagination)="paginationProducts($event)" [totalItems]="totalProducts" [itemsPerPage]="itemsPerPage">
                </app-products-cards>

            </section>

        </ng-container>

        <ng-container *ngIf="!showProducts">
            <p>contact detail</p>
        </ng-container>

    </div>

</main>

<app-toast #toastRef></app-toast>