@import 'src/assets/scss/style.scss';

.page{
  display: flex;
  padding-right: 27px;

  .column{

    width: 100%;

    .introduction-page{

      .banner{
        width: 100%;
        min-height: 155px;
        height: 14.6vw;
        background: red;
        border-radius: 10px;

        img{
          height: 100%;
        }

        &.banner--small{
          height: 10vw;
          display: none;
        }

      }

    }

    .products-infomation{

      .profile-name{
        font-size: $font__size--head;
        padding: 26px 0px;
      }

      .search-engine{
        margin-bottom: 80px;
        display: flex;

        .searcher{
          width: 80%;
          display: flex;
          align-items: center;

          i{
            width: 50px;
            height: 40px;
            border: 1px solid $color__border-black;
            border-radius: 10px 0px 0px 10px;
            border-right: 0px;
            font-size: 21px;
            padding-left: 23px;

            display: flex;
            align-items: center;
            justify-content: flex-end;

            img{
              width: 17px;
              height: 17px;
            }
          }

          input{
            width: 100%;
            border: 1px solid $color__border-black;
            border-left: 0px;
            // border-radius: 10px;
            border-radius: 0px 10px 10px 0px;
            font-size: $font__size--small - 1;
            padding: 11px 7px 11px 13px;

            &::placeholder{
              font-size: $font__size--small - 1;
            }

          }
        }

        .filter{
          margin-left: 20px;

          select{
            border: 1px solid $color__border-black;
            border-radius: 3px;
            font-size: $font__size--small - 1;
            padding: 11px 7px;
            text-transform: uppercase;

          }
        }


      }

      .products-container{
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: auto auto auto auto;


        .product{
          min-width: 221px;
          width: 16.3vw;
          cursor: pointer;
          margin: 0px 10px 80px 10px;
          transition: all .3s;

          &:hover{
            transform: scale(1.03);

            .img{
              i{
                opacity: 1;
              }
            }

          }

          .img{
            width: 100%;
            // min-height: 230px;
            min-height: 225px;
            // height: 16.9vw;
            height: 16.6vw;
            margin-bottom: 10px;
            position: relative;

            &:hover{
              i{
                opacity: 1;
              }
            }

            img{
              height: 100%;
              object-position: top;
              padding: 12px;
              padding-bottom: 0px;
              position: absolute;
            }

            i{
              color: #A81829;
              cursor: pointer;
              font-size: 24px;
              transition: opacity .3S;
              position: absolute;
              top: 10px;
              right: 10px;
              z-index: 2;

              opacity: 0;

              &:hover{
                color: #b81b2d;
              }

              &.fas{
                opacity: 1;
              }


            }

          }

          .name{
            font-size: $font__size--small;
            line-height: 14px;
            word-break: break-word;
          }

          .cost{
            font-size: $font__size--head;
            font-weight: 600;
            word-break: break-word;
          }
        }

      }

    }

  }
}

@media screen and (max-width: 1185px){
  .products-infomation{


    .products-container{
      display: flex !important;
      justify-content: space-around;

    }

  }

}
