// # COLORS

// ## BACKGROUND
$color__background-white: #ffffff;
$color__background-gray: #E9E9EB;
$color__background-gray--light: #EEEEEE;
$color__background-orange: #F09207;

// ## BORDER
$color__border-gray--light: #EEEEEE;
$color__border-gray: #E9E9EB;

// ## TEXT
$color__text-main: #1D1D1B;
