$fontFamily__monserrat: "Montserrat", sans-serif;
$fontFamily__roboto-helvetica: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;

$font__main: $fontFamily__monserrat;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__size--small: 12px;
$font__size--medium: 14px;
$font__size--head: 20px;
