<!-- header{
        brand
        link categoria
        search bar
        btn cart
        
        user-options{
        avatar
        user settings
        }
        noUser-option{
        user register
        user login

        }
  } -->
<header class="topbar container-fluid pt-0 pb-0">
    <nav class="row align-items-center">
    <!-- Brand -->
        <app-nav-brand class="col-12 col-md-3  pt-2"></app-nav-brand>
    <!-- Brand -->

    <!-- btn categoria -->
        <app-category-link class="col-8 col-md-auto pt-1"></app-category-link>
    <!-- btn categoria -->

    <!-- Search bar -->
        <app-search class="col-7 col-md-4"></app-search>
    <!-- Search bar -->
    <!-- btn Cart -->
    <app-button-shop class="col-1 col-md-auto"></app-button-shop>
    <!-- btn Cart -->

    <!-- User Options -->
         <app-nav-options class="col-1 col-md-2 ml-3 ml-md-0   justify-content-between "></app-nav-options>
    <!-- NoUser Options -->

    </nav>
</header>