<!-- header{
        brand
        link categoria
        search bar
        btn cart
        
        user-options{
        avatar
        user settings
        }
        noUser-option{
        user register
        user login

        }
  } -->
<header class="h-header">
    <nav class="h-nav-container">
    <!-- Brand -->
        <app-nav-brand class="nav-brand"></app-nav-brand>
    <!-- Brand -->

    <!-- btn categoria -->
        <app-category-link class="category-link"></app-category-link>
    <!-- btn categoria -->

    <!-- Search bar -->
        <app-search class="search-bar"></app-search>
    <!-- Search bar -->
    
    <!-- User Options -->
         <app-nav-options [auth]="userLog" class="nav-optionss"></app-nav-options>
    <!-- NoUser Options -->

    </nav>
</header>