.article-card-shimmer {
    &__img {
      width: 40%;
      height: 35px;
      margin-top:15px;
    }
    &__text {
      margin: 0 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-flow: column nowrap;
    }
    &__category {
      width: 35%;
      height: 12px;
    }
    &__title {
      width: 60%;
      height: 18px;
      margin-top: 15px;
    }
    &__details {
      margin-top: 30px;
      width: 90%;
      height: 100px;
    }
}


.grid {
    display: grid;
    @media (min-width: 768px) {
      grid-template-columns: 1fr;
    }
    @media (min-width: 1024px) {
      grid-template-columns: 1fr;
    }
    grid-gap: 20px;
  }