<div class="list-item">
  <ng-container *ngFor="let item of [0, 1, 2, 3, 4]">
    <article class="item">
      <figure class="img shimmer shine"></figure>

      <div class="content">
        <h3 class="name shimmer shine"></h3>

        <div class="more-info">
          <span class="info"
            >Cantidad de producto <span class="content shimmer shine"></span
          ></span>

          <span class="info"
            >Total a pagar: $<span class="content shimmer shine"></span
          ></span>
        </div>
      </div>
    </article>
  </ng-container>
</div>
