@import 'src/assets/scss/style.scss';

.dropzone{

    width: 450px;
    padding: 2rem;
    text-align: center;
    border: dashed 1px #979797;
    margin: 0 auto;
    position: absolute;
    top: 15%;
    background: white;
    left: 60%;
    box-shadow: 0 0 12px rgba(0,0,0,.16), 0 8px 24px rgba(0,0,0,.2);
  
    .x-close{
      position: absolute;
      top: 1%;
      left: 93%;
      z-index: 10;
      cursor: pointer;
  
      img{
        width: 27px;
      }
  
    }
  
    .content-label {
  
      display: flex;
      justify-content: center;
  
      label{
        color: black;
        font-weight: 600;
        font-family:$fontFamily__monserrat;
        width:70%;
        min-height: 76px;
        margin-top: 3%;
        padding: 8px 16px;
        background: #f7f7f7;
        border: 2px dashed #bec0c2;
        display: flex;
        position: relative;
        
  
        input[type="file"]{
          opacity: 0;
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
  
        div{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
  
          img{
            width: 24px;
          }
  
        }
        div span{
          font-weight: 600;
          font-family:$fontFamily__monserrat;
          color:rgb(0, 162, 255);
          padding-right: 5px;
        }
      }
  
    }
    
      
  
    h3{
      font-size: 12px;
      font-weight: 500;
      color: #38424c;
    }
  
  }