@import 'src/assets/scss/style.scss';

.banner{
  width: 100%;
  min-height: 200px;
  height: 14.8vw;
  border-radius: 10px;
  overflow: hidden;

  img{
    height: 100%;
    width: 100%;
    object-position: left;
  }

  &.banner--small{
    height: 10vw;
    display: none;
  }

}

@media screen and (max-width: 480px) {

  .banner{
    min-height: 255px !important;
  }

}


@media screen and (max-width: 768px) {

  .banner{
    min-height: 200px;
    height:  44.8vw;
    min-width: 99vw;
    position: relative;
    right: 27px;

    // img {
    //   object-position: left;
    // }
  }

}
