@import 'src/assets/scss/style.scss';

.page {
  padding-top: 4.7em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'title title title title'
    '... ... ... filter'
    'tabs tabs tabs tabs'
    'content content content content';

  .title {
    grid-area: title;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1.3em;
  }

  .filters-dropdown {
    grid-area: filter;
    padding: 0.5em;
    width: 10em;
    border: 1px solid #d8d8d8;
    margin: 0em 2em 0em auto;
  }

  .nav {
    grid-area: tabs;

    .navigation {
      padding-left: 0px;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      overflow-y: hidden;

      -ms-overflow-style: none;
      scrollbar-width: none;
      transition: all $time-hover;

      .nav-item .nav-link.active {
        color: #f09207;
        font-weight: bold;
      }
    }

    .navigation::-webkit-scrollbar {
      display: none;
    }
  }

  .content {
    grid-area: content;
  }
}

/* ------------------------
  Responsive media queries
   ------------------------ */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
  .page {
    .filters-dropdown {
      margin-right: 0em;
    }
  }
}

@media only screen and (min-width: 465px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
