@import 'src/assets/scss/style.scss';

.page {
  padding-top: 4.7em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'title title title title'
    '... ... ... filter'
    'tabs tabs tabs tabs'
    'content content content content';

  .title {
    grid-area: title;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .filters-dropdown {
    grid-area: filter;
    padding: 0.5em;
    width: 10em;
    border: 1px solid #d8d8d8;
  }

  .nav {
    grid-area: tabs;

    .navigation {
      padding-left: 0px;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      overflow-y: hidden;

      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .navigation::-webkit-scrollbar {
      display: none;
    }
  }

  .tab-menu {
    display: flex;

    .tab-item {
      border: 1px solid transparent;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      font-size: 15.2px;
      font-weight: 500;
      text-transform: capitalize;
      padding: 11px 17px;
      cursor: pointer;
      transition: all $time-hover;

      &:hover {
        border-color: #dee2e6 #dee2e6 #fff;
      }

      .active {
        border-color: #dee2e6 #dee2e6 #fff;
        color: $color__text-orange;
      }
    }
  }

  .content {
    grid-area: content;
  }
}
