<main class="page">
  <h2 class="title mb-3">Ventas</h2>

  <!-- Dropdown -->
  <button mat-button [matMenuTriggerFor]="menu" class="filters-dropdown mb-3">
    Filtrar por
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Fecha de pago</button>
    <button mat-menu-item>Distancia más cercana</button>
    <button mat-menu-item>Distancia más lejana</button>
  </mat-menu>
  <!-- #Dropdown -->

  <nav class="nav">
    <ul class="navigation nav nav-tabs">
      <li class="nav-item">
        <a
          routerLinkActive="active"
          [routerLink]="['sales-details']"
          class="nav-link"
          >Ventas</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLinkActive="active"
          [routerLink]="['deliveries']"
          class="nav-link"
        >
          Deliveries
        </a>
      </li>
    </ul>
  </nav>

  <section class="content mr-3">
    <router-outlet></router-outlet>
  </section>
</main>
