<!-- Menú redirect to home -->
<app-navbar-to-home></app-navbar-to-home>
<!-- End menú redirect to home -->

<div class="container animated fadeIn" id="storeRegister">
    <div class="row display-flex justify-content-center">
        <div class="col-10 col-sm-9 col-md-7 col-lg-5 col-xl-4 sobreEncima box">

            <div class="display-flex justify-content-center img-login-rut">
                <img class="user-naranja" src="../../../assets/img/LoginIconos/store.svg">
              </div>

            <form   [formGroup]="forma" 
                    novalidate="novalidate"
                    (ngSubmit)="registrarRut()" 
                    class="width-100"
                    >

                <div class="form-group row mb-4 mt-5 tex-align-center">
                    <div class="col-12">
                        <h5 class="fredoka">Complete los datos</h5>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-12">
                        <input class="form-control"
                             type="text"
                             placeholder="Razón social"
                             formControlName="name"
                             [ngClass]="{'is-invalid':  (!forma.controls['name'].valid || forma.controls['name'].errors?.minlength)&& forma.controls['name'].touched, 'is-valid': forma.controls['name'].valid }" 
                        >
                      
                      <mat-error    *ngIf="forma.get('name').errors?.required"  
                                    class="invalid-feedback">
                                    Este campo es requerido
                      </mat-error>

                      <mat-error    *ngIf="forma.get('name').errors?.minlength"  
                                    class="invalid-feedback">
                                    Por lo menos 5 caracteres
                      </mat-error>
              
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-12">
                        <input class="form-control"
                             type="text"
                             placeholder="Ingrese Rut"
                             formControlName="rut"
                             [ngClass]="{'is-invalid':  (!forma.controls['rut'].valid || forma.controls['rut'].errors?.minlength)&& forma.controls['rut'].touched, 'is-valid': forma.controls['rut'].valid }" 
                        >
                      
                      <mat-error    *ngIf="forma.get('rut').errors?.required"  
                                    class="invalid-feedback">
                                    Este campo es requerido
                      </mat-error>

                      <mat-error    *ngIf="forma.get('rut').errors?.minlength"  
                                    class="invalid-feedback">
                                    Por lo menos 5 caracteres
                      </mat-error>
              
                    </div>
                </div>

                
                <div class="form-group row">
                    <div class="input-group col-md-12">
                        <button [disabled]="!forma.valid" 
                                type="submit" 
                                class="btn btn-outline-primary btn-block fredoka"
                                >
                                Regístrarme
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>


