
/*NO USER STYLES*/
svg{
    min-width: 10px;
    width: 25px;
}
 
 .btn-show{
     background: none;
    border: none;
    }
@media(min-width:1052px){
    .btn-show{
       display: none;
       }
}    
    .options-nav{
        border:none;
        background-color: inherit;
        box-shadow: none;
    }
    @media(min-width:1052px){
        .options-nav{
            display: flex;
            position: relative;
            border:none;
            background-color: inherit;
            box-shadow: none;
        }
        .options-nav>li{
            display: inline-block;
            width: 45%;
        }
        .options-nav li button{
            width: 100%;
            display: block;
        }
    }
    /*NO USER STYLES*/
    /*USER STYLES*/
    .btn-avat{
        min-width: 50px;
    }
    .btn-avat img{
        height: 50px;
        border-radius: 100px;
    }
    /*USER STYLES*/
    