
img {width:11%}
.founduss-logo:focus{outline-style: none;}
.img-registro{width:73%}
.myP{
    text-align: center;
}
@media(min-width:300px) and (max-width:991px){
    .width-30{
        width: 100% !important;
        display: flex;
        flex-direction: column;
    }
    #inisiar-sesion{
        margin-left: 0px !important;
    }
    .nav-item.menu{
        margin-bottom: 10px;
    }
    img {
        width:150px
    }
    
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 365px;
        margin: 1.75rem auto;
    }
}
