.category-container {
    margin-bottom: 7%;
    font-family: 'Montserrat', sans-serif !important;
    .cty-header {
        padding: 0 0 15px 10px;
        .cty-title {
            color: #1D1D1B;
            display: inline-block;
            font-size: 1.8rem;
            font-weight: normal;
            margin-right: 10px;
        }
        .cty-link {
            font-size: 1rem;
            font-style: italic;
            font-weight: lighter;
            color: black;
        }
    }
    main {
        .list-items {
            height: 450px;
            position: relative;
            @media (max-width: 425px) {
                height: 200px;
            }
            button {
                display: none;
                position: absolute;
                font-size: 30px;
                background-color: rgba($color: #e6af5e, $alpha: 1);
                align-self: center;
                top: 45%;
                z-index: 25000;
                @media(min-width: 768px) {
                    display: block;
                }
            }
            .next {
                left: 98%;
            }
            .back {
                right: 97%;
            }
            button:focus {
                outline: none;
            }
            ol {
                scroll-behavior: smooth;
                overflow-x: scroll;
                overflow-y: hidden;
                position: relative;
                top: 0;
                left: 0;
                height: inherit;
                padding: 0;
                margin: 0;
                text-decoration: none;
                text-decoration-style: none;
                display: flex;
                flex-wrap: nowrap;
                &::-webkit-scrollbar {
                    width: 4px;
                    height: 8px;
                    background: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    background: rgba($color: #000000, $alpha: .3);
                    border-radius: 4px;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: rgba($color: #F09207, $alpha: .4);
                    border-radius: 10px;
                }
                .item {
                    margin: 0;
                    padding: 14px;
                    display: inline-block;
                    width: 175px;
                    height: 365px;
                    min-width: 250px !important;
                    min-height: 365px !important;
                    max-height: 260px;
                    .card {
                        display: inline-block;
                        width: 80%;
                        margin: 0;
                        background-color: #fff;
                        width: 100%;
                        transition: all .3s;
                        border: none;
                        .material-icons {
                            display: none;
                        }
                        &:hover {
                            transform: scale(1.03);
                        }
                        i {
                            z-index: 10;
                        }
                        .icon-gris {
                            color: #aeaeb8 !important;
                        }
                        .product-image-container {
                            display: block;
                            max-width: 100%;
                            img {
                                width: 215px;
                                height: 245px;
                                margin-bottom: 5px;
                            }
                        }
                        .card-body {
                            font-weight: 600;
                            width: 215px;
                            padding: 12px 0 0 0;
                            font-size: 12px;
                            p {
                                min-height: 60px;
                                text-transform: capitalize;
                            }
                            .price {
                                font-size: 1.5em;
                            }
                        }
                    }
                    @media (max-width: 425px) {
                        margin: 0 8px 0 15px;
                        padding: 10px 5px 0 5px;
                        display: inline-block;
                        min-width: 100px !important;
                        min-height: 146px !important;
                        max-width: 100px;
                        max-width: 146px;
                        .card {
                            display: inline-block;
                            margin: 0;
                            background-color: #fff;
                            width: 100%;
                            .material-icons {
                                display: none;
                            }
                            &:hover {
                                transform: scale(1.03);
                            }
                            i {
                                z-index: 10;
                            }
                            .icon-gris {
                                color: #aeaeb8 !important;
                            }
                            .product-image-container {
                                display: block;
                                max-width: 100%;
                                img {
                                    width: 88px;
                                    height: 99px;
                                    margin-bottom: 5px;
                                }
                            }
                            .card-body {
                                font-weight: 600;
                                width: 90px;
                                p {
                                    text-transform: lowercase;
                                    min-height: 14px;
                                }
                                .card-description {
                                    margin-bottom: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}