.category-container {
    margin-bottom: 7%;
    font-family: 'Montserrat', sans-serif !important;
    .cty-header {
        padding: 0 0 15px 10px;
        .cty-title {
            color: #1D1D1B;
            display: inline-block;
            font-size: 1.8rem;
            font-weight: normal;
            margin-right: 10px;
        }
        .cty-link {
            font-size: 1rem;
            font-style: italic;
            font-weight: lighter;
            color: black;
        }
    }
    main {
        .list-items {
            height: 450px;
            position: relative;
            @media (max-width: 425px) {
                height: 200px;
            }
            ol {
                overflow-x: scroll;
                overflow-y: hidden;
                position: relative;
                top: 0;
                left: 0;
                height: inherit;
                padding: 0;
                margin: 0;
                text-decoration: none;
                text-decoration-style: none;
                display: flex;
                flex-wrap: nowrap;
                .item {
                    margin: 0;
                    padding: 14px;
                    display: inline-block;
                    width: 175px;
                    height: 365px;
                    min-width: 250px !important;
                    min-height: 365px !important;
                    max-height: 260px;
                    .card {
                        display: inline-block;
                        width: 80%;
                        margin: 0;
                        background-color: #fff;
                        width: 100%;
                        .material-icons {
                            display: none;
                        }
                        &:hover {
                            box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, .1) !important;
                            border: none !important;
                            padding-bottom: .1%;
                            cursor: pointer;
                            filter: grayscale(5%) brightness(90%) opacity(100%);
                            -webkit-filter: grayscale(5%) brightness(90%) opacity(100%);
                            -moz-filter: grayscale(5%) brightness(90%) opacity(100%);
                            .material-icons {
                                display: block;
                            }
                        }
                        i {
                            z-index: 10;
                        }
                        .icon-gris {
                            color: #aeaeb8 !important;
                        }
                        .product-image-container {
                            display: block;
                            max-width: 100%;
                            img {
                                width: 215px;
                                height: 245px;
                                margin-bottom: 5px;
                            }
                        }
                        .card-body {
                            font-weight: 600;
                            width: 215px;
                            padding: 12px 0 0 0;
                            font-size: 14px;
                            p {
                                min-height: 60px;
                                text-transform: capitalize;
                            }
                            .price {
                                font-size: 1.4em;
                            }
                        }
                    }
                    @media (max-width: 425px) {
                        margin: 0 8px 0 15px;
                        padding: 10px 5px 0 5px;
                        display: inline-block;
                        min-width: 100px !important;
                        min-height: 146px !important;
                        max-width: 100px;
                        max-width: 146px;
                        .card {
                            display: inline-block;
                            margin: 0;
                            background-color: #fff;
                            width: 100%;
                            .material-icons {
                                display: none;
                            }
                            &:hover {
                                box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, .1) !important;
                                border: none !important;
                                padding-bottom: .1%;
                                cursor: pointer;
                                filter: grayscale(5%) brightness(90%) opacity(100%);
                                -webkit-filter: grayscale(5%) brightness(90%) opacity(100%);
                                -moz-filter: grayscale(5%) brightness(90%) opacity(100%);
                                .material-icons {
                                    display: block;
                                }
                            }
                            i {
                                z-index: 10;
                            }
                            .icon-gris {
                                color: #aeaeb8 !important;
                            }
                            .product-image-container {
                                display: block;
                                max-width: 100%;
                                img {
                                    width: 88px;
                                    height: 99px;
                                    margin-bottom: 5px;
                                }
                            }
                            .card-body {
                                font-weight: 600;
                                width: 90px;
                                p {
                                    text-transform: lowercase;
                                    min-height: 14px;
                                }
                                .card-description {
                                    margin-bottom: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}