<section class="category-container" *ngIf="listCategory.length >= 1">

    <header class="cty-header">
        <h3 class="cty-title">
            {{_cat.name}}
        </h3>
        <a class="cty-link">ver más</a>
        <hr>
    </header>

    <main>

        <nav class="list-items" #container>

            <button #back mat-mini-fab class="back" (click)="scrollLeft(100)"> &lt;</button>

            <ol #carr>
                <li id="{{i.id}}" class=" item product" id="index" *ngFor=" let i of listCategory; let j = index">
                    <article class="product-item-info card">
                        <picture class="product-image-container" (click)="getProductDetail(i.store_id,i.id)">
                            <img src="{{i.images[0] | imgFallback: 'box' }}" class="card-img-top" alt="{{i.name}}">
                        </picture>
                        <div class="card-body pb-0 pt-0">
                            <p class="card-description" title="description">
                                {{i.description | stringResponsive:66}}
                            </p>
                            <span class="price">{{i.price | currency}}</span>
                        </div>
                    </article>
                </li>

            </ol>
            <button #next mat-mini-fab (click)="scrollRight(100)" class="next">&gt;</button>

        </nav>
    </main>

</section>