<section class="category-container">

    <header class="cty-header">
        <h3 class="cty-title">
            Title.category
        </h3>
        <a class="cty-link">ver más</a>
        <hr>
    </header>

    <main>

        <nav class="list-items" >
            <ol>
                <li class=" item product" id="index" *ngFor=" let i of listCategory; let j = index">
                    <article class="product-item-info card">
                        <picture class="product-image-container">
                                    <img    src="assets/img/box.svg" 
                                            class="card-img-top" 
                                            alt="..." 
                                    >
                        </picture>
                        <div class="card-body pb-0 pt-0">
                                <p class="card-description" title="description">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit fugiat dolorum sunt.
                                </p>
                                <span class="price">$99.26</span>
                        </div>
                    </article>
                </li>
            </ol>
        </nav>
    </main>

</section>