  form input {
      width: 80%;
      padding-left: 45px;
      background-image: url(../../../../assets/img/icons/loupe.svg);
      background-repeat: no-repeat;
      background-size: 25px;
      background-position-y: .30rem;
      background-position-x: .75rem;
      background-color: rgba(0, 0, 0, 0.01);
      border: black 1px solid;
  }