.content {
  padding-top: 1em;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 'orders orders details details details';

  .orders-list {
    grid-area: orders;
    height: 30em;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .skeleton {
      animation: verticalFlow 4s ease;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
      opacity: 0;

      &:nth-child(2) {
        animation-delay: 0.5s;
      }

      &:nth-child(3) {
        animation-delay: 1s;
      }

      &:nth-child(4) {
        animation-delay: 1.5s;
      }
    }
  }

  .order-details {
    grid-area: details;
  }
}

/* ------------------
  Animations
  ------------------ */
@keyframes verticalFlow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* ------------------------
  Responsive media queries
   ------------------------ */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
  .content {
    grid-template-rows: auto auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      'orders orders orders orders orders orders'
      'details details details details details details';

    .orders-list {
      height: 15em;
    }

    .order-details {
      margin-top: 1em;
    }
  }
}

@media only screen and (min-width: 465px) {
  .content {
    grid-template-rows: auto auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      'orders orders orders orders orders orders'
      'details details details details details details';

    .orders-list {
      height: 15em;
    }

    .order-details {
      margin-top: 1em;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .content {
    grid-template-rows: auto auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      'orders orders orders orders orders orders'
      'details details details details details details';

    .orders-list {
      height: 15em;
    }

    .order-details {
      margin-top: 1em;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .content {
    grid-template-rows: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'orders orders details details details';

    .orders-list {
      height: 30em;
    }
  }
}
