<div class="container-fluid">

    <section class="row display-flex justify-content-center mt-5">

        <div class="col-10 col-sm-6 col-md-6 col-lg-6 col-xl-5 pr-0 display-flex justify-content-space-evenly">
            <img [src]="NosuggestedPrdouct.img" width="75%">
        </div>

        <div class="col-10 col-sm-6 col-md-6 col-lg-6 col-xl-4 display-flex justify-content-center flex-direction-column pl-0">

            <p class="family-500 size-16">
                {{NosuggestedPrdouct.text}}
            </p>

            <button class="btn btn-primary button fredoka width-80 mt-3">
                {{NosuggestedPrdouct.buttonmessage}}
            </button>

        </div>

    </section>

</div>


