<aside>
    <nav>
        <ul>
            <li class="family-400 pb-3">
                <a>Productos</a>
            </li>
            <li class="family-400">
                <i class=" fa fa-envelope"></i>
                <a>Contacto</a>
            </li>
        </ul>

        <ul class="pt-5">

            <h5 class="family-500 size-16">
                Categorías
            </h5>
            <li class="family-500 size-12 pb-2 pt-2 puntero">
                <a>Medicamentos</a>
            </li>
            <li class="family-500 size-12 pb-2 puntero">
                <a>Belleza & Higiene</a>
            </li>
            <li class="family-500 size-12 pb-2 puntero">
                <a>Dieta & Fitness</a>
            </li>
            <li class="family-500 size-12 pb-2 puntero">
                <a>Salud y vitaminas</a>
            </li>
            <li class="family-500 size-12 pb-2 puntero">
                <a>Vida sexual</a>
            </li>
            <li class="family-500 size-12 pb-2 puntero">
                <a>Ortopedia</a>
            </li>
            <li class="family-500 size-12 pb-2 puntero">
                <a>Homeopatia & natural</a>
            </li>
            <li class="family-500 size-12 pb-2 puntero">
                <a>Mascotas & veterinaria</a>
            </li>

        </ul>

        <ul>
            <h5 class="family-500 size-16">
                Subcategorías
            </h5>
            
            <li class="pt-2">
                <input type="checkbox" id="dolor" name="dolor"> 
                <label class="puntero pl-2 size-12 family-500" for="dolor">
                    <a>Dolor & inflamación</a>
                </label>
            </li>

            <li>
                <input type="checkbox" id="huesos" name="huesos"> 
                <label class="puntero pl-2 size-12 family-500" for="huesos">
                    <a>Huesos & articulaciones</a>
                </label>
            </li>

            <li>
                <input type="checkbox" id="corazon" name="corazon">
                <label class="puntero pl-2 size-12 family-500" for="corazon">
                    <a>Corazón</a>
                </label> 
            </li>

            <li>
                <input type="checkbox" id="defensas" name="defensas">
                <label class="puntero pl-2 size-12 family-500" for="defensas">
                    <a>Defensas</a>
                </label> 
            </li>

            <li>
                <input type="checkbox" id="vegano" name="vegano">
                <label class="puntero pl-2 size-12 family-500" for="vegano">
                    <a>Vegano</a>
                </label> 
            </li>

        </ul>

        <ul>
            <h5 class="family-500 size-16">
                Precios
            </h5>
            
            <li class="pt-2">
                <input type="checkbox" id="dolor" name="dolor"> 
                <label class="puntero pl-2 size-12 family-500" for="dolor">
                    <a>$0 - $10.000</a>
                </label>
            </li>

            <li>
                <input type="checkbox" id="huesos" name="huesos"> 
                <label class="puntero pl-2 size-12 family-500" for="huesos">
                    <a>$10.000 - $20.000</a>
                </label>
            </li>

            <li>
                <input type="checkbox" id="corazon" name="corazon">
                <label class="puntero pl-2 size-12 family-500" for="corazon">
                    <a>$20.000 - $30.000</a>
                </label> 
            </li>

            <li>
                <input type="checkbox" id="defensas" name="defensas">
                <label class="puntero pl-2 size-12 family-500" for="defensas">
                    <a>$30.000 - $40.000</a>
                </label> 
            </li>

            <li>
                <input type="checkbox" id="vegano" name="vegano">
                <label class="puntero pl-2 size-12 family-500" for="vegano">
                    <a>$50.000 - $60.000</a>
                </label> 
            </li>

        </ul>

    </nav>
</aside>
