.main-container {
    background: #f9f9f9;
    padding-top: 32px;
    min-height: 100%;
    main {
        width: 75%;
        margin: 0 auto;
        .d-container {
            padding: 35px;
            background-color: white;
            border-radius: 15px;
            .category-description {
                text-align: left;
                padding-bottom: 40px;
                transition: linear .4s;
                .cty-header {
                    padding-bottom: 16px;
                    .cty-title {
                        .span {
                            color: black;
                            border-bottom: solid transparent 1px;
                            text-transform: capitalize;
                            font-weight: normal;
                            font-size: 1.2rem;
                            &:hover {
                                border-bottom: solid black 1px;
                            }
                        }
                    }
                }
                .list-items {
                    padding: 0 !important;
                    ol {
                        padding: 0 !important;
                        display: flex;
                        flex-wrap: wrap;
                        li {
                            min-width: 25%;
                            max-width: 25%;
                            font-size: 1rem;
                            text-transform: capitalize;
                            padding-bottom: 10px;
                            a {
                                text-decoration: none;
                                color: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .main-container {
        main {
            width: 95%;
            .d-container {
                .category-description {
                    .list-items {
                        ol {
                            li {
                                min-width: 50%;
                                max-width: 50%;
                                padding-left: 5%;
                                a {
                                    text-decoration: none;
                                    color: inherit;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 425px) {
    .main-container {
        main {
            width: 95%;
            .d-container {
                .category-description {
                    .list-items {
                        ol {
                            justify-items: center;
                            li {
                                min-width: 75%;
                                max-width: 75%;
                                padding-left: 5%;
                                a {
                                    text-decoration: none;
                                    color: inherit;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}