<div class="main-container">
    <!-- Contenedor de menu -->
    <main>

        <header class="cty-header-main pointer">
            <h1 class="cty-title">{{titleMenu}}</h1>
        </header>

        <section class="d-container">
            <article id="categorys-ls" role="tablist" aria-multiselectable="true">
                <!-- Seccion para categoria -->
                <section class="category-description animated" *ngFor="let cat of boxCategory; let ind = index">
                    <!-- Titulo para categoria -->
                    <header class=" cty-header" role="tab" id="section1HeaderId{{ind}}">

                        <h3 class="cty-title">
                            <!--
                                 Titulo de categoria
                                Puede redirigir a lista de todos los elementos de categoria
                                o
                                como está actualmente no redirige pero sirve de indice para
                                menu de acordeon
                            -->
                            <a class="span" data-toggle="collapse" data-parent="#categorys-ls" href="#section1ContentId{{ind}}" aria-expanded="false" [attr.aria-controls]="'section1ContentId'+ind">
                        {{cat.name}}
                        </a>
                        </h3>
                    </header>
                    <!-- Lista de opciones disponibles para la categoria -->
                    <nav id="section1ContentId{{ind}}" class="collapse   list-items" role="tabpanel" [attr.aria-labelledby]="'section1HeaderId'+ind">
                        <ol>
                            <li class=" item subcategory" id="index" *ngFor="let subcat of cat.subcategories;let indx = index ">
                                <!-- Show products envia el indice de la categoria actual y la subcategoria seleccionada -->
                                <!-- Pronto a cambiarse debido a que de esta forma los componentes no son reusables -->
                                <!-- Cambios realizados proximamente -->
                                <!-- <a (click)="showProducts(ind, indx)" class="subcategory-l">{{subcat.name}}</a> -->
                                <a [routerLink]="[cat.id,subcat.id,'products']" class="subcategory-l">{{subcat.name}}</a>

                            </li>
                        </ol>
                    </nav>
                </section>
            </article>
        </section>
    </main>

</div>
<!-- Spiner llamado por el componente al realizar la carga de las opciones para el menú -->
<ngx-spinner bdColor="rgb(255,255,255)" size="large" color="#f19301" type="ball-atom">
    <p style="color: black"> Cargando </p>
</ngx-spinner>