.card-avatar {
  background-size: cover;
  background: url('../../../../../../../assets/img/no-avatar.jpg');
  height: 4em;
  width: 4em;
}

.title-text {
  font-size: 1rem;
}

.subtitle-text {
  font-size: 0.8rem;
}
