<div class="container animated fadeIn fast">
    <div class="row">
      <div class="col-md-12 col-12">
        <h1 class="family-600">FOUNDUSS</h1>
        <br>
        <p>
          “Términos, Condiciones Generales, políticas de privacidad para el uso del Portal Web”.
        </p>
        <br>
        <h2>ACEPTACIÓN DE LOS TÉRMINOS, CONDICIONES GENERALES Y POLÍTICAS DE PRIVACIDAD</h2>
        <br>
        <p>
          Lea con detenimiento los términos y condiciones de este acuerdo antes de descargar, instalar o usar cualquier producto o características proporcionadas por FOUNDUSS, C.A. Al elegir el botón "Acepto", usted reconoce que ha leído, entendido y admite estar plenamente en conocimiento de todos los términos y condiciones, junto con la política de privacidad y ayuda, por lo cual acepta los mismos.
        </p>
        <br>
        <p>
          Este documento en el Portal Web FOUNDUSS, regulan los términos y condiciones de acceso y uso, políticas de privacidad y ayuda en el Portal Web con el enlace www.founduss.com, propiedad de FOUNDUSS, C.A. con domicilio en Cabudare estado Lara en la República Bolivariana de Venezuela, inscrita en el Registro de Identificación Fiscal con el número J-41096291-7. El solo acceso y/o utilización del portal, de todos o parte de sus contenidos y/o servicios significa la plena aceptación de los presentes términos y condiciones generales de uso, políticas de privacidad y ayuda expresadas en este documento. 
        </p>
        <br>
        <p>
          El presente Portal Web está dirigido exclusivamente a personas residentes o domiciliadas en la República Bolivariana de Venezuela. Los usuarios residentes o domiciliados en otro país que deseen acceder y utilizar el Portal Web, lo harán bajo su propio riesgo y responsabilidad, por lo que deberán asegurarse de que dichos accesos y/o usos cumplen con la legislación aplicable en su país, sin embargo FOUNDUSS, C.A. no es responsable de la decisión que tome el usuario residente o domiciliado en otro país.
        </p>
        <br>
        <h2>REQUISITOS RELATIVOS AL USUARIO EN EL USO DEL PORTAL WEB FOUNDUSS</h2>
        <br>
        <p>
          El Portal Web y los servicios relacionados con el mismo, se ofrecen a las personas naturales o jurídicas que tengan capacidad legal para contratar según la legislación aplicable en la República Bolivariana de Venezuela. No podrán utilizar los servicios del Portal Web, las personas que no tengan la capacidad para contratar, los menores de edad y aquellos usuarios de FOUNDUSS que hayan sido suspendidos por un período determinado o inhabilitados definitivamente por incumplimiento de los términos y condiciones, así como lo relacionado a las políticas de privacidad. Si usted es menor de edad, por favor, no acceda, ni manipule los servicios relacionados con este Portal Web, no es nuestra responsabilidad su uso, ya que no están autorizados como usuarios del Portal Web. Para efectos de la inscripción del usuario en el Portal Web, debe tener capacidad para contratar a nombre de la entidad comercial y de obligar a la misma en cada uno de los aspectos descritos en este documento.
        </p>
        <br>
        <h2>REQUERIMIENTOS RELACIONADOS CON LA INSCRIPCIÓN DE LOS USUARIOS</h2>
        <br>
        <p>
          Para efectos de la inscripción, es obligatorio completar el formato de inscripción en cada uno de los espacios asignados para ello, completando con datos válidos para poder hacer uso de los servicios e información que presta o forma parte del contenido del Portal Web FOUNDUSS. En la suscripción del usuario al Portal Web, debe completarse el formato de inscripción con datos e información personal y/o de negocio de manera exacta, precisa y verdadera, asumiendo la responsabilidad de actualizar de manera permanente los datos e información en un todo de acuerdo a las necesidades o requerimientos del Portal Web. 
        </p>
        <br>
        <p>
          El Portal Web FOUNDUSS identificará a sus usuarios valiéndose de cualquier medio, no obstante, el Portal Web no se responsabiliza por la veracidad de los datos e información suministrada por sus usuarios. Los usuarios avalan y responden, en todos los casos por la veracidad, exactitud, vigencia y autenticidad de los datos e información suministrada a través del Portal Web.
        </p>
        <br>
        <p>
          El Portal Web FOUNDUSS se reserva el derecho de solicitar algún comprobante, documentos, información y/o datos adicionales a efectos de la comprobación de la veracidad de lo manifestado por el usuario en el Portal Web, así como podrá suspender por un período de tiempo determinado o inhabilitar definitivamente a aquellos usuarios cuyos datos no hayan podido ser confirmados, verificados o por falta de actualización de los datos e información sobre los bienes, artículos, productos o servicios que se oferten a través del Portal WEB. 
        </p>
        <br>
        <p>
          En estos casos de inhabilitación, se suspenderán todos los bienes, artículos, productos o servicios incluidos en el Portal Web, así como cualquier otro contenido o información relacionada a estos que haya sido incorporada en el Portal Web, sin que ello genere algún derecho a resarcimiento por parte de FOUNDUSS, C.A. u obligación de permanencia de estos datos o contenidos incorporados por el usuario en el Portal Web.
        </p>
        <p>
          Para el acceso, uso o disfrute de las aplicaciones, beneficios y servicios del Portal Web FOUNDUS, el usuario deberá completar el formulario con los datos e información solicitada en el Portal Web hasta completar su inscripción, para ello deberá crear primeramente una Cuenta, la cual dispondrá de un Usuario y una Clave de Seguridad, la cual usará cuantas veces sea necesaria para acceder nuevamente al Portal Web. El Usuario se compromete a mantener la confidencialidad de su Clave de Seguridad, es de su plena responsabilidad el mantenimiento y uso confidencial de esta Clave. La Cuenta creada es personal, única e intransferible, y está terminantemente prohibido que un usuario inscriba o posea más de una Cuenta. En el caso que FOUNDUSS, C.A. evidencie Cuentas distintas con datos e información concurrentes, procederá a cancelar, suspender o inhabilitarlas, en su conjunto, sin que ello genere resarcimiento alguno por parte de FOUNDUSS, C.A.
        </p>
        <br>
        <p>
          El usuario es el responsable plenamente de la actividad, interacción, cambio o movilidad de su Cuenta, ya que es quien posee y conoce de manera exclusiva la Clave de Seguridad que permite el ingreso a dicha cuenta, la confidencialidad de la Clave es su total responsabilidad, así como el uso de la misma. El usuario asume el compromiso de realizar por los medios válidos la notificación inmediata al Portal Web  FOUNDUSS, de cualquier uso no autorizado de su Cuenta, así como el ingreso por terceros no autorizados a la misma. No se autoriza al usuario la venta, cesión o transferencia de la Cuenta, está prohibido, incluyendo la reputación y posicionamiento, o cualquier otra cualidad en el uso de la Cuenta que sea otorgada al usuario por el Portal Web FOUNDUSS.
        </p>
        <br>
        <p>
          El Portal Web FOUNDUSS, es quien tendrá y tiene la potestad intransferible y exclusiva para aprobar o aceptar, así como de rechazar, anular, cancelar o eliminar cualquier solicitud de inscripción, que realice el usuario, sin que ello genere algún derecho a terceros por causas de indemnización o resarcimiento por parte del Portal Web FOUNDUSS.
        </p>
        <br>
        <h2>ACTUALIZACIONES Y MODIFICACIONES EN LOS TÉRMINOS Y CONDICIONES  GENERALES  DE  USO</h2>
        <br>
        <p>
          El Portal Web FOUNDUSS es quien tiene el dominio absoluto de los términos y condiciones generales de uso, así como de las políticas de privacidad, por ello es quien se reserva la facultad para modificarlas en cualquier momento en el Portal Web. En todo caso, se recomienda y se le advierte al usuario que debe consultar periódicamente estos aspectos en el Portal Web, ya que pueden ser modificados por las necesidades cambiantes operativas y de funcionabilidad del Portal Web y las actualizaciones y modificaciones estarán vigentes una vez publicada en el Portal Web, es decir la aplicación de las modificaciones es de manera inmediata.
        </p>
        <br>
        <p>
          En el caso de la inconformidad con la actualización o modificación por parte del usuario, este puede solicitar la baja y suspender de esta manera el uso de los servicios de manera permanente, si así lo considerará, es plena su responsabilidad y su decisión el uso del Portal Web una vez realizada la actualización o modificación por parte del Portal Web FOUNDUSS.
        </p>
        <br>
        <p>
          Si el usuario hiciere uso a cualquiera de las aplicaciones del Portal Web FOUNDUSS, posterior a alguna modificación u actualización de los términos, condiciones de uso o políticas de privacidad se considerará esto como la aceptación total de las mismas.
        </p>
        <br>
        <h2>RESPONSABILIDADES, COMPROMISOS Y OBLIGACIONES DE LOS USUARIOS </h2>
        <br>
        <p>
          El usuario deberá respetar en todo momento los términos y condiciones establecidos en las presentes condiciones generales, políticas de privacidad y términos de uso del Portal Web. De forma expresa, el usuario manifiesta que utilizará el Portal Web de manera diligente y asumiendo cualquier responsabilidad que pudiera derivarse del incumplimiento de las normas.
        </p>
        <br>
        <p>
          Así mismo, el usuario no podrá utilizar el Portal Web para transmitir, almacenar, divulgar, promover o distribuir datos o contenidos que sean portadores de virus o cualquier otro código informático, archivos o programas diseñados para interrumpir, destruir o perjudicar el funcionamiento de cualquier programa o equipo informático o de telecomunicaciones, si así lo hiciere es su responsabilidad y deberá asumir sus consecuencias, sin que por ello recaiga responsabilidad ni corresponsabilidad para FOUNDUSS, C.A.
        </p>
        <br>
        <h2>
          RESPONSABILIDADES COMPROMISOS Y OBLIGACIONES DE LOS USUARIOS EN CALIDAD DE OFERENTE DE LOS PRODUCTOS, BIENES Y SERVICIOS  EN EL PORTAL WEB
        </h2>
        <br>
        <p>
          Es requisito indispensable para realizar las operaciones de ventas que el usuario en calidad de oferente tenga la capacidad legal para vender un producto, bien o servicio, el cual es su objeto de oferta por el Portal Web; en un todo de acuerdo a lo dispuesto en el ordenamiento jurídico que regula la materia en la República Bolivariana de Venezuela, la responsabilidad en el cumplimiento de este aspecto es solo e intransferible de quien se encuentra en calidad de oferente, FOUNDUSS, C.A. no es responsable del incumplimiento por parte del Usuario, quien realiza la oferta de un producto, bien o servicio sin tener la capacidad legal para ello.
        </p>
        <br>
        <p>
          Los usuarios en calidad de oferente de los productos, bienes o servicios en el Portal Web, deben tener personalidad jurídica, capacidad para realizar actividades de comercio, su objeto de negociación debe ser de lícito comercio y estar dentro del marco legal que regula la actividad comercial y mercantil para la República Bolivariana de Venezuela. Las personas naturales no están autorizadas para realizar actividades en calidad de ofertante de productos, bienes o servicios en el Portal Web FOUNDUSS.
        </p>
        <br>
        <p>
          El Portal Web FOUNDUSS, en el caso de detectar usuarios en calidad de ofertantes que sean personas naturales, procederá a la suspensión de la Cuenta de manera inmediata, sin embargo es responsabilidad de estos usuarios los daños que pudieran ocasionar a terceras personas o a FOUNDUSS, C.A. por la utilización del Portal Web, desconociendo esta indicación de obligatorio cumplimiento por parte de las personas naturales, la cuales solo pueden ser usuarios del Portal Web en calidad de buscador de productos, bienes o servicios.
        </p>
        <br>
        <h2>
          USO DE LA INFORMACIÓN Y DATOS FACILITADOS POR LOS USUARIOS A TRAVÉS DEL PORTAL WEB
        </h2>
        <br>
        <p>
          La información que los usuarios registren en el Portal Web, tendrá solo el uso que permita cumplir con los objetivos organizacionales de FOUNDUSS, C.A. por lo que la información y datos suministrados no se venderá, alquilará ni negociará con otros negocios, salvo que así se exprese en los presentes términos y condiciones de uso del Portal web FOUNDUSS, sin embargo el Portal Web procurará entre sus esfuerzos garantizar la confidencialidad y seguridad de los datos e información proporcionada por los usuarios.
        </p>
        <br>
        <h2>
          PRESENTACIÓN DE LAS IMÁGENES DE LOS PRODUCTOS, BIENES Y SERVICIOS  OFERTADOS  POR  LAS  ORGANIZACIONES
        </h2>
        <br>
        <p>
          En relación a la presentación de las imágenes por medio de la cual los ofertantes dan a conocer el listado de sus productos, bienes o servicios, éstas se podrán realizar por medio de gráficos, fotografías o cualquier forma digitalizada, donde pueden incluir textos alusivos a la imágenes con descripción de manera específica, manifestando sus condiciones, características y disponibilidad de manera inmediata.
        </p>
        <br>
        <p>
          Para los efectos del precio de los productos, bienes y servicios se deben publicar con su precio de venta, el cual debe incluir el Impuesto Al Valor Agregado (I.V.A.), para aquellos casos que aplique dicho impuesto, la moneda será el Bolívar Soberano, es decir la moneda de curso legal para la República Bolivariana de Venezuela. FOUNDUSS se reserva el derecho para quitar del Portal Web cualquier imagen o publicación que no cumpla con lo dispuesto en materia de Precios Acordados y demás leyes que regulan la materia, es decir en cuanto al precio del producto, bien o servicio, así como también cualquiera que se preste a confusiones en relación al precio de venta final del mismo.
        </p>
        <br>
        <p>
          En relación a números telefónicos, dirección de e-mail, dirección postal, direcciones de páginas de Internet, las mismas se deben incluir en los espacios que disponga el Portal Web para tales fines.
        </p>
        <br>
        <p>
          Es responsabilidad del usuario en calidad de oferente de incluir imágenes y fotografías que permitan reconocer o identificar el producto, bien o servicio, para ello el usuario manifiesta su capacidad para realizar las actividades y tareas tendentes para así lograrlo, así mismo sobre éste usuario es sobre quien recae la responsabilidad por afectación sobre derechos de terceros. FOUNDUSS, C.A. estará facultado para impedir, eliminar o suspender cualquier publicación que incumpla con los presentes términos y condiciones de uso del Portal Web.
          A través de los presentes términos y condiciones de uso, se faculta a FOUNDUSS, C.A. para que pueda utilizar, publicar y/o adaptar las imágenes incluidas en sus publicaciones con fines de clasificación de productos, bienes o servicios; dicha autorización es gratuita y sin límite siempre y cuando esta se relacione con la certificación para el Nivel “2”.
        </p>
        <br>
        <h2>
          RESTRICCIONES  PARA LOS  USUARIOS  DE  FOUNDUSS
        </h2>
        <br>
        <p>
          Está prohibida la compraventa de divisas, monedas, billetes vigentes en circulación o de curso legal o extranjeras a través del Porta, WebFOUNDUSS. 
          Cuando FOUNDUSS, C.A. infiera o determine que se ha cometido una acción ilícita en contra de la propiedad intelectual o industrial, se reservará el derecho para adoptar todas las medidas que entienda pertinentes.
        </p>
        <p>
          Es responsabilidad de FOUNDUSS, C.A. aplicar una sanción cuando se amerite un impacto negativo en el perfil del usuario, así como suspensión temporal o inhabilitación permanente del mismo, cuando este incumpla un dispositivo jurídico del ordenamiento jurídico, así como los presentes términos y condiciones generales de uso, no cumpla con los requerimientos de mantener actualizado su listado de productos, bienes o servicios, cuando se determine por parte del Portal Web FOUNDUSS que el usuario incurra en conductas o actos dolosos o fraudulentos o error en los datos e información publicada en el Portal Web.
        </p>
        <br>
        <h2>
          RESPONSABILIDAD DEL PORTAL WEB FOUNDUSS
        </h2>
        <br>
        <p>
          El usuario conoce y acepta que el Portal Web no otorga ninguna garantía de cualquier naturaleza, ya sea expresa o implícita, sobre los datos, contenidos, información y servicios que se incorporan y ofrecen desde el Portal.
        </p>
        <br>
        <p>
          Exceptuando los casos que la Ley imponga expresamente lo contrario, y exclusivamente con la medida y extensión en que lo imponga, el Portal Web no garantiza ni asume responsabilidad alguna respecto a los posibles daños y perjuicios causados por el uso y utilización de la información, datos y servicios en el Portal Web.
        </p>
        <p>
          En todo caso, el Portal Web excluye cualquier responsabilidad por los daños y perjuicios que puedan deberse a la información y/o servicios prestados o suministrados por terceros diferentes de FOUNDUSS, C.A. Toda responsabilidad será del tercero ya sea proveedor, colaborador o bajo cualquier categoría de Usuario del Portal Web.
        </p>
        <br>
        <h2>
        ALCANCE DE LAS ACCIONES DE LOS USUARIOS DEL PORTAL WEB FOUNDUSS
        </h2>
        <br>
        <p>
          El Portal Web FOUNDUSS, permite la organización de las comunicaciones entre ofertantes y demandantes, siendo su orientación garantizar a los negocios su optimización de sus actividades de licito comercio mediante internet, por lo cual el listado de productos, bienes y servicios son propiedad de quienes lo ofertan, así que FOUNDUSS, C.A. no tiene posesión de ellos ni los ofrece en venta, no es responsable por el estado, integridad, legitimidad, calidad, cantidad o existencia de estos, son los usuarios quienes responden por todo ello.
        </p>
        <br>
        <p>
          El Portal Web FOUNDUSS, es un espacio virtual que permite el encuentro entre ofertantes y demandantes, sin embargo son ellos los responsables de sus actividades, tareas y acciones en uso del Portal Web, así como de la capacidad para contratar de los usuarios o de la veracidad de los datos e información por ellos ingresados. El usuario conoce y acepta ser el exclusivo responsable por toda la información que publica en el Portal Web, así como los datos que allí refleja durante todo el proceso, desde la inscripción, alimentación e interacción en su espacio del Portal Web, así como las comunicaciones que se deriven propias del encuentro entre la organización en calidad de usuario, con el buscador en el perfil de comprador.
        </p>
        <br>
        <p>
          No será responsabilidad de FONDUSS, C.A. por los daños y/o perjuicio que pueda sufrir el usuario, debido a las operaciones realizadas o dejadas de efectuar o ejecutar, así como por artículos, productos, bienes o servicios publicados a través del Portal Web por las organizaciones.
        </p>
        <p>
          En caso de reclamos entre usuarios, FOUNDUSS, C.A. se excluye de cualquier querella, reclamo, o acciones, no solamente al Portal Web, también a todo personal que integra a FOUNDUSS, C.A.
        </p>
        <br>
        <h2>
          RESPONSABILIDAD  DERIVADAS  DE  FALLAS  TECNOLÓGICAS
        </h2>
        <br>
        <p>
          En aquellos casos u ocasiones que no se pueda tener acceso al Portal Web, no será responsabilidad de FOUNDUSS, C.A. quien trabajará para que sea subsanada la condición de acceso nulo o limitado al Portal Web, además, FOUNDUSS, C.A. no será responsable por ningún error u omisión contenido en su Portal Web. Los Usuarios no podrán imputarle responsabilidad alguna ni exigir pago por lucro cesante, en virtud de perjuicios resultantes de dificultades técnicas o fallas en los sistemas o en Internet.
        </p>
        <br>
        <h2>
          COSTO DE LOS SERVICIOS Y CERTIFICACIÓN OTORGADA  POR FOUNDUSS
        </h2>
        <br>
        <p>
          El Usuario del Portal Web FOUNDUSS en calidad de buscador o comprador no tendrá costo alguno para el disfrute o uso del Portal Web, es decir este servicio es gratuito. En el caso de las organizaciones en calidad de oferentes, el costo va a depender del Nivel de Certificación, en cuyo caso para el Nivel 1, no deberán realizar ningún pago para disfrutar o usar FOUNDUSS, en este nivel, el usuario ofertante podrá incorporar solo cinco (5) ítems en el inventario de sus productos, bienes o servicios, además esta organización no recibirá visita y demostración del Portal Web por los Ejecutivos de FOUNDUSS, C.A. 
        </p>
        <p>
          Para la Certificación en el Nivel 2, el ofertante podrá incorporar solo veinte (20) ítems en el inventario de sus productos, bienes y servicios ilimitados por un año, mayor prioridad, posicionamiento y búsqueda de negocios por encima del Nivel 1. El costo del servicio para acceder a esta certificación, será indicado por los ejecutivos de FOUNDUSS, C.A. Además se le otorgará por medio impreso al ofertante la Certificación obtenida.
        </p>
        <br>
        <p>
          La Certificación en el Nivel 3 a los usuarios en calidad de ofertantes, les permite la Certificación por un (1) año, previamente debió haber obtenido la Certificación en el Nivel 2, tendrá mayor prioridad, posicionamiento y búsqueda de negocios por encima del Nivel 1 y Nivel 2. Son negocios con la categoría para ser visitados por personal de FOUNDUSS, C.A.
        </p>
        <p>
          En esta categoría de Certificación, el usuario que la haya obtenido debe cumplir con los siguientes requisitos para su permanencia en este Nivel 3: 
        </p>
        <br>
        <p>
          • Requisitos de permanencia en el Portal Web FOUNDUSS, para el usuario que oferte artículos o bienes:
        </p>
        <br>
        <p>
          1.  Debe mantener publicado más de cincuenta (50) artículos o bienes.
        </p>
        <br>
        <p>
          • Requisitos de permanencia en el Portal Web FOUNDUSS, para el usuario que oferte que oferte servicios:
        </p>
        <br>
        <p>
          1.  Debe mantener publicado más de diez (10) servicios.
        </p>
        <br>
        <p>
          • Requisitos de permanencia en el Portal Web FOUNDUSS, comunes para usuarios que oferten artículos, bienes y servicios:
        </p>
        <br>
        <p>
          1.  Visitas e interacción permanente en el Portal Web FOUNDUSS.
        </p>
        <p>
          2.  Prolijidad en imágenes y descripción de sus productos, bienes y servicios.
        </p>
        <br>
        <p>
          El costo del servicio para acceder a esta certificación, será indicado por los ejecutivos de FOUNDUSS, C.A. en visita al negocio, para su respectivo pago, además le otorgará por medio impreso al ofertante la Certificación obtenida.
        </p>
        <br>
        <h2>
          PROPIEDAD  INTELECTUAL  E  INDUSTRIAL
        </h2>
        <br>
        <p>
          Todos los contenidos, marcas, logos, dibujos, documentación, programas informáticos o cualquier otro elemento susceptible de protección por la legislación de propiedad intelectual o industrial, que sean accesibles en el Portal Web, corresponden exclusivamente a la empresa FOUNDUSS, C.A. o a sus legítimos titulares y quedan expresamente reservados todos los derechos sobre los mismos. Queda expresamente prohibida la creación de enlaces de hipertexto (links) a cualquier elemento integrante del Portal Web sin la autorización de FOUNDUSS, C.A., siempre que no sean a una página Web del Portal que no requiera identificación o autenticación para su acceso, o el mismo esté restringido.
        </p>
        <br>
        <p>
          En cualquier caso, el Portal se reserva todos los derechos sobre los contenidos, información, datos y servicios que ostente sobre los mismos. El Portal Web FOUNDUSS no concede ninguna licencia o autorización de uso al usuario sobre sus contenidos, datos o servicios, distinta de la que expresamente se detalle en las presentes condiciones generales de uso del Portal.
        </p>
        <br>
        <p>
          Los contenidos reflejados en las pantallas relativas a los servicios prestados por FOUNDUSS, así como los programas, bases de datos, redes, archivos, todo software que forme parte del Portal Web, el cual permiten al usuario acceder y usar su Cuenta, son de propiedad exclusiva de y están protegidas por las leyes y los tratados nacionales e internacionales de derecho de autor, marcas, patentes, modelos y diseños industriales. El uso indebido y la reproducción total o parcial de dichos contenidos quedan prohibidos, salvo autorización expresa y por escrito de FOUNDUSS, C.A.
        </p>
        <br>
        <p>
          En el Portal pueden existir otros enlaces, siendo que no son responsabilidad de FOUNDUSS, ni tiene control por los daños que por el uso de estos enlaces sean ocasionados. FOUNDUSS, C.A. no tiene ninguna vinculación, sociedad o enlace con estos sitios y los contenidos que ellos muestran o representan.
        </p>
        <br>
        <h2>
          INDEMNIZACIÓN
        </h2>
        <br>
        <p> 
          El usuario se compromete a indemnizar, defender en pleito y exonerar de toda responsabilidad a FOUNDUSS, C.A. así como a los directivos, encargados, comerciales y empleados, frente a las reclamaciones de terceros,  en esta indemnización se incluye entre otros, los gastos de los abogados interviniente y los costos judiciales, interpuestas con base en, o derivadas de, el acceso por parte del usuario al Portal Web y el uso que éste haga del mismo, la Información facilitada por el usuario, o el incumplimiento por parte de éste de los términos y condiciones de este contrato.
        </p>
        <br>
        <h2>
          LEGISLACIÓN APLICABLE, JURISDICCIÓN COMPETENTE Y NOTIFICACIONES
        </h2>
        <br>
        <p>
          Las presentes condiciones se rigen y se interpretan de acuerdo con las Leyes de la República Bolivariana de Venezuela. Para cualquier reclamación serán competentes los juzgados y tribunales de la ciudad de Barquisimeto estado Lara. Todas las notificaciones, requerimientos, peticiones y otras comunicaciones que el usuario desee efectuar a FOUNDUSS, C.A. deberán realizarse por escrito y se entenderá que han sido correctamente realizadas cuando hayan sido recibidas en la siguiente dirección Atencionalcliente@founduss.com
        </p>
      </div>
    </div>
  </div>
