
<!-- <aside class="aside"
#sidebarList
[ngClass]="{'aside--expanded': isExpanded}"> -->

<aside class="aside"
#sidebarList>

  <div class="btn-toogle">

    <!-- <app-sidebar-list-button
      [expand]="isExpanded"
      (isExpanded)="toggleSidebarList($event)"
      class="btn-toogle"
    >
    </app-sidebar-list-button> -->

  </div>

  <div class="business-info">

    <div class="business-perfil">

      <div class="profile-img">
        <img
          [src]="'assets/img/no-image-banner.jpg'"
        >
      </div>

      <div class="profile-data">

        <h2 class="name">
          dsa
          <span class="simbol-verifiqued">
            <img
              [src]="'assets/img/no-image-banner.jpg'"
            >
          </span>

        </h2>

        <div class="instagram">

        </div>

      </div>

    </div>

    <ul class="options">

      <li>
        <a>dsa</a>
      </li>

      <li>
        <a>dsa</a>
      </li>

    </ul>


  </div>

  <nav class="menu">

    <ul class="list">

      <h4 class="title">
        <!-- Categorías -->dsa
      </h4>

      <li>
        <a>
          <!-- {{category.name}} -->dsa
        </a>
      </li>


    </ul>


  </nav>


</aside>
