<!-- <app-navbarstore id="header" [fixed]="false"></app-navbarstore> -->

<app-public-navbar [userLog]="userLog" [storeAct]="storeLog"></app-public-navbar>
<main class="page">

    <ng-container>
        <app-aside-filtros #sidebarList [isExpanded]="expandSidebar" (sidebarExpand)="toogleSidebar($event)" [categories]="categories" [anchorsMenu]="anchorsMenu" [profile]="profile"></app-aside-filtros>
    </ng-container>

    <div class="column">

        <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

        <app-banner-edit [imgs]="BannerVerifiqued" *ngIf="VerifiquedSuccesfull" [Onerror]="Onerror"></app-banner-edit>

        <!-- <app-banner [imgs]="imgsBanners"></app-banner> -->

        <!-- ==== BUSCADOR DE PRODUCTOS DE LA TIENDA ==== -->
        <!--=============================================-->
        <!-- <app-search 
                            [isExpanded]="expandSidebar"
                            (sidebarExpand)="toogleSidebar($event)" 
                            (searchEmitter)="handleSearch($event)"
                            [filterOptions]="filterOptions"
                            [buttonSidebarList]="true"
                            [debounce]="1000"
                >
                </app-search> -->

        <!-- <app-search 
                            [isExpanded]="expandSidebar"
                            (sidebarExpand)="toogleSidebar($event)" 
                            [buttonSidebarList]="true"
                            [debounce]="1000"
                >
                </app-search> -->

        <!--=============================================-->
        <!--=============================================-->

        <router-outlet></router-outlet>
    </div>

</main>