.content {
  padding-top: 1em;

  .skeleton {
    animation: verticalFlow 4s ease;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    opacity: 0;

    &:nth-child(2) {
      animation-delay: 0.5s;
    }

    &:nth-child(3) {
      animation-delay: 1s;
    }

    &:nth-child(4) {
      animation-delay: 1.5s;
    }
  }

  .deliveries-list {
    height: 30em;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

/* ------------------
  Animations
  ------------------ */
@keyframes verticalFlow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* ------------------------
  Responsive media queries
   ------------------------ */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
}

@media only screen and (min-width: 465px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content {
    .deliveries-list {
      height: 22em;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .content {
    .deliveries-list {
      height: 28em;
    }
  }
}
