<section>
    <h2 mat-dialog-title>Recuperar contraseña</h2>
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
        <mat-label>Ingresa tú correo</mat-label>
        <input matInput placeholder="email@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cerrar</button>
        <button mat-button cdkFocusInitial>Ok</button>
    </div>
</section>   
    
