.cards {
  transition: all 0.5s ease;
}

.cards:hover {
  transform: scale(1.01);
  -webkit-box-shadow: 7px 7px 18px -9px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 7px 7px 18px -9px rgba(0, 0, 0, 0.36);
  box-shadow: 7px 7px 18px -9px rgba(0, 0, 0, 0.36);
}

.card-avatar {
  height: 5em;
  width: 5em;
}

.title-text {
  font-size: 1rem;
}

.subtitle-text {
  font-size: 0.8rem;
}
