@import 'src/assets/scss/style.scss';

.page {
  display: flex;

  .shopping-cart {
    width: 100%;
    margin: 0px 30px;

    padding-top: 58px;

    h1 {
      margin-bottom: 24px;
    }

    .tab-container {
      .tab-menu {
        display: flex;

        .tab-item {
          border: 1px solid transparent; //
          border-top-right-radius: 5px; //
          border-top-left-radius: 5px; //
          font-size: 15.2px;
          font-weight: 500;
          text-transform: capitalize;
          padding: 11px 17px;
          cursor: pointer;
          transition: all $time-hover;

          &:hover {
            border-color: #dee2e6 #dee2e6 #fff;
          }
        }

        .active {
          border-color: #dee2e6 #dee2e6 #fff;
          color: $color__text-orange;
        }
      }

      .tab-content {
        border-top: solid $color__border-gray 1px;
        padding-bottom: 102px;

        display: flex;

        &.justify--init {
          justify-content: initial !important;
        }

        .order-payment-forms {
          // width: 50%;

          .card-option-pay-redirect {
            border-radius: 5px;
            background: #d3d1d1;
          }
        }
      }
    }
  }
}

/* 
@media screen and (max-width: 480px) {

  .page {

    .shopping-cart {
      min-width: initial;
      margin: 0px 15px;



    }
  }

} */

@media screen and (max-width: 757px) {
  .page {
    .shopping-cart {
      .tab-content {
        flex-direction: column;

        .list-item {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 758px) {
  // globales para evitar el !important
  .page {
    .shopping-cart {
      .tab-content {
        justify-content: space-between;

        .order-list {
          width: 35.4%;
        }

        .detail-content {
          width: 63.7%;
          display: flex;
          justify-content: center;
        }

        .order-payment-forms {
          width: 50%;
        }
      }
    }
  }
}

/* -------------------- 
  Responsive media queries
   -------------------- */
/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
  .page {
    .shopping-cart {
      min-width: initial;
      margin: 0px 5px;

      h1 {
        font-size: 1.4rem;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .order-editor {
    width: 100%;
  }
}
