<mat-card class="skeleton-card my-2">
  <mat-card-header>
    <div
      mat-card-avatar
      class="card-avatar skeleton-card__avatar shimmer shine"
    ></div>
    <mat-card-title class="skeleton-card__title shimmer shine">
    </mat-card-title>
    <mat-card-subtitle class="skeleton-card__subtitle delivery-details">
      <p class="amount">Productos (<span class="shimmer shine"></span>)</p>
      <p class="paid">Pagado: <span class="shimmer shine"></span></p>
      <p class="date">Fecha: <span class="shimmer shine"></span></p>
      <p class="location-radius">Geolocalización</p>
      <button mat-button class="more-details">Ver ubicación</button>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
