.modal-confirm {
    color: #434e65;
    width: 100%;
    .modal-content {
        padding: 20px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        .modal-header {
            background: #e85e6c;
            border-bottom: none;
            position: relative;
            text-align: center;
            margin: -20px -20px 0;
            border-radius: 5px 5px 0 0;
            padding: 35px;
            .icon-box {
                color: #fff;
                width: 95px;
                height: 95px;
                display: inline-block;
                border-radius: 50%;
                z-index: 9;
                border: 5px solid #fff;
                padding: 15px;
                text-align: center;
                i {
                    font-size: 58px;
                    margin: -2px 0 0 -2px;
                }
            }
            .close {
                position: absolute;
                top: 15px;
                right: 15px;
                color: #fff;
                text-shadow: none;
                opacity: 0.5;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .modal-body {
            h4 {
                text-align: center;
                font-size: 36px;
                margin: 10px 0;
            }
            .form-control,
            .btn {
                min-height: 40px;
                border-radius: 3px;
            }
        }
    }
    .btn,
    .btn:active {
        color: #fff;
        border-radius: 4px;
        background: #eeb711 !important;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        border-radius: 30px;
        margin-top: 10px;
        padding: 6px 20px;
        min-width: 150px;
        border: none;
    }
}