@import 'src/assets/scss/style.scss';


.aside{
  width: 266px;
  background: $color__background-white;
  // padding-top: 66px;
  padding-right: 16px;

  .btn-toogle{
    padding-left: 40px;
    padding-bottom: 30px;
  }

  .business-info{
    min-height: 247px; // when isn't responsive
    margin-bottom: 30px; // when responsive

    .business-perfil{
      margin-bottom: 11px;
      padding-left: 40px;
      display: flex;


      .profile-img{
        min-width: 50px;
        min-height: 50px;
        width: 50px;
        height: 50px;
        // border: 1px solid $color__background-gray--dark;
        border-radius: 50%;
        margin-right: 10px;
        overflow: hidden;

        img{
          height: 100%;
        }

      }

      .profile-data{


        .name{
          display: flex;
          font-size: 18px;

          .simbol-verifiqued{
            min-width: 23px;
            min-height: 23px;
            width: 23px;
            height: 23px;

            border-radius: 50%;
            margin-left: 5px;
            overflow: hidden;

            img{
              height: 100%;
            }
          }
        }

        .instagram{
          font-size: 13px;
        }
      }
    }

    .options {

      li{
        border-radius: 0px 4px 4px 0px;
        cursor: pointer;
        padding: 7px 10px 7px 101px;
        transition: all .3s;


        a{
          font-size: 18px;
          word-break: break-word;
          text-transform: capitalize;
        }

        &:hover{
          background: $color__background-gray;
        }

        &.active{
          background: $color__background-gray;
          font-weight: bold;
        }

      }
    }

  }

  .menu{
    padding-left: 40px;
    // padding-right: 15px;

    .list{
      line-height: 35px;
      margin-bottom: 30px;

      .title{
        font-weight: 700;
        font-size: 19px !important;
        margin-bottom: 6px;
        text-transform: capitalize;


      }

      li{
        cursor: pointer;

        [type="checkbox"]+label:before, [type="checkbox"]+label:after {
          width: 12px;
          height: 12px;

          border: 1px solid $color__border-black;
          top: 2px;
        }

        [type="checkbox"]:checked+label:before{
          width: 8px;
          height: 14px;
          top: -1px;

          border-top: 2px solid transparent;
          border-left: 2px solid transparent;
          border-right: 2px solid $color__border-orange;
          border-bottom: 2px solid $color__border-orange;

          transform-origin: initial;
        }

        // Event click with Pure CSS that affect to label
        [type="checkbox"]:checked ~ label, [type="radio"]:checked ~ label{
          color: $color__text-orange !important;
          font-style: italic;
          font-weight: bold;
        }

        // Radios Buttons

        [type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
          border: 1px solid $color__border-black;
          border-radius: 0px;
        }

        [type="radio"]{
          display: none;
        }

        [type="radio"]+label:before, [type="radio"]+label:after {
          width: 12px;
          height: 12px;
          left: -6px;
        }

        [type="radio"]:checked+label:after{
          background-color: $color__background-orange;
          border: 2px solid $color__border-orange;
          border-radius: 0px;
        }

        // Radio Buttons //

        a, label{
          font-size: 14px;
          text-transform: capitalize;
          word-break: break-word;
          pointer-events: none;


        }

        &:hover{

          a, label{
            color: $color__text-orange;
          }

        }

      }

      .input-active--checkbox {
        label, a{
          color: $color__text-orange !important;
          font-style: italic !important;
          font-weight: bold !important;
        }
        label:before{
          width: 8px !important;
          height: 14px !important;
          top: -1px !important;

          border-top: 2px solid transparent !important;
          border-left: 2px solid transparent !important;
          border-right: 2px solid $color__border-orange !important;
          border-bottom: 2px solid $color__border-orange !important;

          transform: rotate(40deg) !important;
          transform-origin: initial !important;
        }
      }

      .input-offActive--checkbox {
        label, a{
          color: $color__text-main !important;
          font-style: normal !important;
          font-weight: normal !important;
        }

        label:before{
          width: 12px !important;
          height: 12px !important;
          top: 2px !important;

          border-top: 1px solid $color__border-black !important;
          border-left: 1px solid $color__border-black !important;
          border-right: 1px solid $color__border-black !important;
          border-bottom: 1px solid $color__border-black !important;

          transform: none !important;
          transform-origin: initial !important;
        }
      }

      .input-active {

        label, a{
          color: $color__text-orange !important;
          font-style: italic !important;
          font-weight: bold !important;
        }

        // [type="checkbox"]+label:before{
        //   width: 8px !important;
        //   height: 14px !important;
        //   top: -1px !important;

        //   border-top: 2px solid transparent !important;
        //   border-left: 2px solid transparent !important;
        //   border-right: 2px solid $color__border-orange !important;
        //   border-bottom: 2px solid $color__border-orange !important;

        //   transform: rotate(40deg) !important;
        //   transform-origin: initial !important;
        // }

        // Radio

        [type="radio"]+label:before,
        [type="radio"]+label:after {
          width: 12px !important;
          height: 12px !important;
          left: -6px !important;
        }

        [type="radio"]+label:after{
          background-color: $color__background-orange !important;
          border: 2px solid $color__border-orange !important;
          border-radius: 0px !important;
        }

      }


      .offActive, .input-offActive{

        // label, a{
        //   color: $color__text-main !important;
        //   font-style: normal !important;
        //   font-weight: normal !important;
        // }

        // [type="checkbox"]+label:before{
        //   width: 12px !important;
        //   height: 12px !important;
        //   top: 2px !important;

        //   border-top: 1px solid $color__border-black !important;
        //   border-left: 1px solid $color__border-black !important;
        //   border-right: 1px solid $color__border-black !important;
        //   border-bottom: 1px solid $color__border-black !important;

        //   transform: none !important;
        //   transform-origin: initial !important;
        // }

        // Radio
        [type="radio"]+label:after, &:after{
          background: none !important;
          border: 1px solid $color__border-black !important;
          border-radius: 0px;
        }

      }

      .active{

        a, label{
          font-style: italic;
          font-weight: bold;
        }
      }
    }
  }

}


/* Estilos barra (thumb) de scroll */

/* Tamaño del scroll */
.aside::-webkit-scrollbar {
	width: 0.4em;
  height: 0.8em;

}

.aside::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 1em;
}

.aside::-webkit-scrollbar-thumb:active {
	background-color: #999999;
}

.aside::-webkit-scrollbar-thumb:hover {
	background: #b3b3b3;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
.aside::-webkit-scrollbar-track {
	background: #e1e1e1;
	border-radius: 4px;
	display: none;
}

.aside::-webkit-scrollbar-track:hover,
.aside::-webkit-scrollbar-track:active {
	background: #d4d4d4;
}

/* // */

@media screen and (max-width: 999px){
  .aside{
    height: 100vh;
    overflow: auto;
    padding-top: 20px;

    transform-origin: 0% 0%;
    transform: translate(-120%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

    position: absolute;
    left: 0px;
    z-index: 10;

    .business-info{
      min-height: initial;
    }
  }

  .aside--expanded {
    transform: none;
  }

  .aside--fixed{
    position: fixed;
    top: 0;
  }
}
