table {
  width: 100%;
}

 /* table th{
  width: 5%;
}

table td:first-child {
  width: 10%;
} 
table td:nth-child(2) {
  width: 20%;
}
table td:nth-child(3) {
  width: 60%;
}
table td:last-child {
  width: 10%;
}  */