<ngx-spinner
  bdColor="rgba(0, 0, 0, .45)">
  <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<section class="container-fluid col-md-12 display-flex justify-content-flex-end mt-5">
    <app-search (searchEmitter)="handleSearch($event)" class="width-70 mr-0"></app-search>
</section>



<section class="container col-md-12 mt-5">
    <ol class="row products list items pl-0">
        <app-item-list-product      *ngFor="let item of itemProduct | paginate: { itemsPerPage: 28, currentPage: page, totalItems: totalProductAPI  };
                                    let i = index;"
                                    class="product-item"
                                    [item]="item"
                                    [MyProduct]="itemProduct"
                                    [index]="i">
        </app-item-list-product>
    </ol>
</section>

<span class="ir-arriba icon-arrow-up2" (click)="scrollDown()" *ngIf="!scroll">
    <i  class="figure material-icons" 
        name="camera">
        keyboard_arrow_down
    </i>
</span>

<span class="ir-arriba icon-arrow-up2" (click)="scrollTop()" *ngIf="scroll">
    <i  class="figure material-icons" 
        name="camera">
        keyboard_arrow_up
    </i>
</span>

<!-- PAGINACIÓN -->
<footer class="col-md-11" *ngIf="showFooterPaginations">
    <pagination-controls    previousLabel = "Anterior"
                            nextLabel = "Siguiente"
                            (pageChange)="pageChanged($event)">
    </pagination-controls>
</footer> 
    