<section class="container-fluid col-md-12 display-flex justify-content-flex-end mt-5">
    <app-search (searchEmitter)="handleSearch($event)" class="width-70 mr-0"></app-search>
</section>



<section class="container col-md-12 mt-5">
    <ol class="row products list items pl-0">
        <app-item-list-product      *ngFor="let item of itemProduct;
                                    let i = index;"
                                    class="product-item"
                                    [item]="item"
                                    [MyProduct]="itemProduct"
                                    [index]="i">
        </app-item-list-product>
    </ol>
</section>