<ngx-spinner
  bdColor="rgba(0, 0, 0, .45)">
  <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<section class="container-fluid col-md-12 display-flex justify-content-flex-end mt-5">
    <app-search (searchEmitter)="handleSearch($event)" 
                class="width-100 mr-0">
    </app-search>
</section>



<section>
        <app-item-list-product
            #bankProductList      
            [MyProduct]="itemProduct"
            (pagination)="pageChanged($event)"
            [totalItems]="totalProductAPI"
            [itemsPerPage]="itemsPerPage"
            >
        </app-item-list-product>
</section>

<span class="ir-arriba icon-arrow-up2" (click)="scrollDown()" *ngIf="!scroll">
    <i  class="figure material-icons" 
        name="camera">
        keyboard_arrow_down
    </i>
</span>

<span class="ir-arriba icon-arrow-up2" (click)="scrollTop()" *ngIf="scroll">
    <i  class="figure material-icons" 
        name="camera">
        keyboard_arrow_up
    </i>
</span>


    