<!-- <app-navbarstore id="header" [fixed]="false"></app-navbarstore> -->

<app-public-navbar
  [userLog]="userLog"
  [storeAct]="storeLog"
></app-public-navbar>
<main class="page">
  <ng-container>
    <app-sidebar-list
      [isExpanded]="expandSidebar"
      (sidebarExpand)="toogleSidebar($event)"
      [anchorsMenu]="anchorsMenu"
      [profile]="profile"
      [filters]="sidebarFilters"
      #sidebarList
    >
    </app-sidebar-list>
  </ng-container>

  <div class="column">
    <section class="introduction-page">
      <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

      <app-banner-edit> </app-banner-edit>
    </section>

    <!-- <app-banner [imgs]="imgsBanners"></app-banner> -->

    <!-- ==== BUSCADOR DE PRODUCTOS DE LA TIENDA ==== -->
    <!--=============================================-->
    <!-- <app-search 
                            [isExpanded]="expandSidebar"
                            (sidebarExpand)="toogleSidebar($event)" 
                            (searchEmitter)="handleSearch($event)"
                            [filterOptions]="filterOptions"
                            [buttonSidebarList]="true"
                            [debounce]="1000"
                >
                </app-search> -->

    <!-- <app-search 
                            [isExpanded]="expandSidebar"
                            (sidebarExpand)="toogleSidebar($event)" 
                            [buttonSidebarList]="true"
                            [debounce]="1000"
                >
                </app-search> -->

    <!--=============================================-->
    <!--=============================================-->

    <router-outlet></router-outlet>
  </div>
</main>
