

<div class="container animated fadeIn">
  <div class="row display-flex align-items-center justify-content-center height-100vh">

    <div class="col-10 col-sm-9 col-md-7 col-lg-5 col-xl-4 sobreEncima box height-75">

      <div class="display-flex justify-content-center img-login">
        <img class="user-naranja" src="../../../assets/img/LoginIconos/user naranja.svg">
      </div>

      <form [formGroup]="forma" (ngSubmit)="registrarUsuario()" novalidate="novalidate">

        <div class="form-group row mb-4 tex-align-center">
          <div class="col-12">
              <h5 class="fredoka">Regístro de usuario</h5>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-12">
            <input class="form-control user-name-icon"
                     type="text"
                     placeholder="Nombre de usuario"
                     formControlName="nombre"
                     [ngClass]="{'is-invalid':  (!forma.controls['nombre'].valid || forma.controls['nombre'].errors?.minlength)&& forma.controls['nombre'].touched, 'is-valid': forma.controls['nombre'].valid }" 
            >
              
            <div  *ngIf="forma.get('nombre').errors?.required"  
                  class="invalid-feedback">
                  Este campo es requerido
            </div>
            <div  *ngIf="forma.get('nombre').errors?.minlength"  
                  class="invalid-feedback">
                  Por lo menos 5 caracteres
            </div>
      
          </div>
        </div>
      
        <div class="form-group row">
          <div class="col-12">
            <input  class="form-control correo-icon"
                    type="email"
                    placeholder="Correo electrónico"
                    formControlName="correo"
                    [ngClass]="{'is-invalid':  (!forma.controls['correo'].valid || forma.controls['correo'].errors?.minlength)&& forma.controls['correo'].touched, 'is-valid': forma.controls['correo'].valid }"
            >
      
            <div  *ngIf="forma.get('correo').errors?.required"  
                  class="invalid-feedback">
                  Este campo es requerido
            </div>
            <div  *ngIf="forma.get('correo').errors?.pattern"  
                  class="invalid-feedback">
                  No posee la forma de un correo: example@gmail.com
            </div> 
          </div>
        </div>

        <div class="form-group row">
          <div class="col-12">
            <input  class="form-control password-icon"
                    type="password"
                    placeholder="contraseña"
                    formControlName="password1"
                    [ngClass]="{'is-invalid':  (!forma.get('password1').valid || forma.get('password1').errors?.minlength)&& forma.get('password1').touched, 'is-valid': forma.get('password1').valid }"
            >

            <div  *ngIf="forma.get('password1').errors?.required"  
                  class="invalid-feedback">
                  Este campo es requerido
            </div>
            <div  *ngIf="forma.get('password1').errors?.minlength"  
                  class="invalid-feedback">
                  La contraseña debe tener al menos 8 caracteres

            </div> 
      
          </div>
        </div>
      
        <div class="form-group row">
          
          <div class="col-12">
            <input    class="form-control password-icon"
                      type="password"
                      placeholder="Repetir contraseña"
                      formControlName="password2"
                      [ngClass]="{'is-invalid':  (!forma.get('password2').valid || forma.get('password2').errors?.minlength)&& forma.get('password2').touched, 'is-valid': forma.get('password2').valid }"
            >
      
            <div  *ngIf="forma.get('password2').errors?.required"  
                  class="invalid-feedback">
                  Este campo es requerido
            </div>
      
            <div   *ngIf="forma.get('password2').errors?.minlength"  
                    class="invalid-feedback">
                    La contraseña debe tener al menos 8 caracteres
            </div> 
      
            <div   *ngIf="((forma.get('password2').value !== forma.get('password1').value) && forma.get('password2').errors?.noiguales)"  
                    class="invalid-feedback">
                    ¡Las contraseñas no son iguales!
            </div> 
              
          </div>
        </div>

        <div class="form-group row">
          <div class="col-12">
            <div class="checkbox checkbox-primary  p-t-0">
              <input type="checkbox" formControlName="terminos" id="checkAceptoTerminos">
              <label  class="family-500 pl-3 size-13" for="checkAceptoTerminos">
                Acepto términos y condiciones
              </label>
            </div>
            <p class="family-500 size-12">
              Haciendo click en Registrar Declarara ser una persona natural y debe ingresar 
              y aceptar los <a  [routerLink]="['/terminos-ycondiciones']" class="terminos-link family-700">Términos y Condiciones</a> de nuestra plataforma, así como también recibir 
              correos electrónicos relacionados con miembros y servicios desde <span class="fredoka">Founduss.cl</span>
            </p>
          </div>
        </div>
      
        <div class="form-group row">
          <div class="input-group col-md-12">
            <button [disabled]="!forma.valid" 
                    type="submit" 
                    class="btn btn-outline-primary btn-block fredoka"
                    (click)="usuarioCreado()">
              Registrarme
            </button>
          </div>
        </div>

        
        
      </form>

        

    </div>
  </div>
  {{forma.valid}}
        <br>
        {{forma.status}}
        <br>
        <!-- <pre>
          {{forma.value | json}}
        </pre>  -->
        <br>
        <br>
</div>

