<div class="order-container">

  <div class="order-head">
    <h3 class="business">Farmacia Santa Isabel</h3>
    <div class="order-number">Orden #100245</div>
  </div>

  <form action="#">

    <div class="batch-actions">

      <input
        type="checkbox"
        name="select-all"
        class="checkbox-default"
        (click)="selectAllOrder()"
        [checked]="isAllChecked()"
      >

      <label
        class="option label-reset"
        (click)="deleteOrdersSelected()"
      >
        Eliminar
      </label>

      <label
        class="option label-reset"
        (click)="setHasDeliveryToOrders(false)"
      >
        Sin delivery
      </label>

      <label
        class="option label-reset"
        (click)="setHasDeliveryToOrders()"
      >
        Con delivery
      </label>

    </div>

    <div class="order-list-container">

      <ul class="tab-menu">

        <li class="tab-item"
          [ngClass]="{'active': hasDelivery}"
          (click)="setHasDelivery(true)"
        >
          con delivery
        </li>
        <li class="tab-item"
          [ngClass]="{'active': !hasDelivery}"
          (click)="setHasDelivery(false)"
        >
          sin delivery
        </li>

      </ul>

      <div class="order-list">

        <div class="colum-label">
          <label>Unitario</label>
          <label>Total</label>
        </div>

        <ng-container *ngFor="let order of orders | filter: hasDelivery : 'hasDelivery'; index as inx">

          <article class="order-item">

            <div class="checkbox">
              <input
                type="checkbox"
                name="select-all"
                class="checkbox-default"
                (click)="selectOrder(order)"
                [checked]="isChecked(order)"
              >
            </div>


            <div class="content-flex">

              <div class="info-product">

                <figure class="img-principal">
                  <img [src]="order.images[0] | imgFallback: 'box'" [alt]="order.name">
                </figure>


                <div class="title_quantity-container">

                  <div class="title-container">
                    <h4 class="title">{{order.name}}</h4>
                  </div>

                  <app-quantity-counter
                    (currentValue)="currentValue($event, order)"
                    [isSmall]="true"
                    [initValue]="order.quantity"
                    [maxValue]="order.stock">
                  </app-quantity-counter>

                </div>

              </div>

              <div class="price">
                {{order.price | currency}}
              </div>

              <div class="price">
                {{(order.price * order.quantity)| currency}}
              </div>


            </div>

          </article>

        </ng-container>

      </div>

    </div>

    <div class="resume">

      <table>

        <tr>
          <td>Impuesto (19%)</td>
          <td>$56,01</td>
        </tr>

        <tr>
          <td>Delivery</td>
          <td>$2,1</td>
        </tr>

        <tr>
          <td><strong>Total a pagar</strong></td>
          <td><strong>$154,11</strong></td>
        </tr>

      </table>

      <label for="termsAndConditions">
        <input id="termsAndConditions" name="termsAndConditions"  type="checkbox" class="checkbox-default">
        Acepto términos y condiciones
      </label>

      <div class="actions">
        <div class="button gray">
          cancelar orden
        </div>
        <div class="button">
          pagar
        </div>
      </div>

    </div>



  </form>

</div>
