@import 'src/assets/scss/style.scss';

.order-container {
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;

  input[type="checkbox"] {
    width: 9px;
    margin-right: 10px;
    border: solid $color__border-gray 2px;

  }

  .order-head {
    width: 100%;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;

    .order-number {
      font-size: $font__size--medium;
      font-weight: 500;
    }
  }

  .batch-actions {

    .option {
      background: $color__background-gray;
      border: 2px solid $color__background-gray;
      cursor: pointer;
      font-size: $font__size--small;
      margin-bottom: 9px;
      margin-right: 9px;
      padding: 3px 18px;
      transition: all .3s;

      &:hover {
        background: none;
        color: $color__text-orange;

      }

    }

    .option:last-child {
      margin-right: 0px;
    }
  }

  .tab-menu {
    display: flex;

    .tab-item {
      border: 1px solid transparent; //
      border-top-right-radius: 5px; //
      border-top-left-radius: 5px; //
      // font-size: 13.2px;
      font-size: 15.2px;
      // font-weight: bold;
      font-weight: 500;
      text-transform: capitalize;
      // padding: 4px 10px;
      padding: 11px 17px;
      cursor: pointer;
      transition: all $time-hover;

      &:hover {
        border-color: #dee2e6 #dee2e6 #fff;
      }

    }

    .active {
      border-color: #dee2e6 #dee2e6 #fff;
      color: $color__text-orange;
    }

  }

  .tab-menu {
    border-bottom: 2px solid $color__border-gray;

    .tab-item {
      font-size: $font__size--small;

    }
  }

  .order-list {

    .colum-label {

      display: flex;
      justify-content: flex-end;

      label {
        font-size: $font__size--small + 1;
        padding: 10px 10px;
      }
    }

    .order-item {
      display: flex;
      margin-bottom: 35px;

      .content-flex {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .content-flex--wrap {
        flex-wrap: wrap;
      }

      .info-product {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;


        .img-principal {
          min-width: 58px;
          min-height: 74px;
          width: 11%;
          height: 5.8vw;
          margin-right: 21px;

          img {
            height: 100%;
            object-fit: contain;
          }
        }

        .title_quantity-container {
          width: 76%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          // justify-content: space-between;
          justify-content: center;

          .title-container {
            min-width: 130px;
            width: 50.5%;
            padding: 14px 0px;

            .title {
              font-size: $font__size--small + 1;
              font-weight: 500;
              margin-bottom: 0px;
              text-transform: capitalize;
              word-wrap: break-word;

            }
          }



        }

      }

      .price {
        font-size: $font__size--small;
        padding: 6px 10px; //25px
        word-break: keep-all;
      }

    }

  }

  .resume {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    table{
      tr{
        td{
          font-size: 14px;
          padding-bottom: 12px;
        }

        td:first-child{
          text-align: end;
          padding-right: 26px;
        }
      }
    }

    label[for="termsAndConditions"]{
      margin-top: 20px;
      font-weight: 500;
      cursor: pointer;
    }

    .actions {
      margin-top: 19px;

      display: flex;

      .button{
        margin-top: 6px;

        &:first-child {
          margin-right: 10px;

        }

      }
    }
  }


}

@media screen and (max-width: 757px) {
  .order-container {
    width: 100%;
  }
}
