<h1 mat-dialog-title>Redirección al sitio de pago.</h1>
<mat-dialog-content>
  <p>
    {{ dialogData.title }}
  </p>
</mat-dialog-content>

<!-- <mat-dialog-content class="mat-typography"> -->

<mat-dialog-actions>
  <form
    class="form"
    method="post"
    action="{{ dialogData.mallTransaction.url }}"
    #redirectForm
  >
    <input
      class="mx-3"
      type="hidden"
      name="token_ws"
      value="{{ dialogData.mallTransaction.token }}"
    />

    <button mat-button mat-dialog-close>Cancelar</button>

    <input
      class="mx-3"
      type="submit"
      value="Ir a pagar"
      (click)="redirectForm.submit()"
      mat-button
    />
  </form>
</mat-dialog-actions>
<!-- <ng-container *ngIf="dialogData.mallTransaction"></ng-container> -->

<!-- </mat-dialog-content> -->
