<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-md-12">
      <div class="grid">   
        <div class='article-card-shimmer'>
          <div class="shimmer shine article-card-shimmer__img"></div>
          <div class='article-card-shimmer__text'>
            <div class="shimmer shine article-card-shimmer__category"></div>
            <div class="shimmer shine article-card-shimmer__title"></div>
            <div class="shimmer shine article-card-shimmer__title"></div>
            <div class="shimmer shine article-card-shimmer__title"></div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
