<!-- ======= LOAD SPINNER ===========-->
<!-- ================================-->
<ngx-spinner bdColor="rgba(0, 0, 0, .45)">
  <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<!--======== END LOAD SPINNER =========-->
<!--===================================-->

<!-- BOTENES DE SCROLL NAVEGACIÒN TOP Y DOWN -->
<!--=========================================-->
<span class="ir-arriba icon-arrow-up2" (click)="scrollDown()" *ngIf="!scroll">
  <i class="fas fa-chevron-down"> </i>
</span>
<span class="ir-arriba icon-arrow-up2" (click)="scrollTop()" *ngIf="scroll">
  <i class="fas fa-chevron-up"></i>
</span>
<!--===================================-->
<!--===================================-->

<main
  class="display-flex"
  (swipe)="onSwipe($event)"
  (window:scroll)="doSomethingOnWindowScroll($event)"
  #main
>
  <!-- <app-sidebar-list

    [isExpanded]="expandSidebar"
    (sidebarExpand)="toogleSidebar($event)"
    [anchorsMenu]="anchorsMenu" [profile]="profile"
    [filters]="sidebarFilters"
    #sidebarList
  >
  </app-sidebar-list> -->

  <div class="container-fluid">
    <section class="row" *ngIf="!addProductNew">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 pb-3">
        <app-search-store
          (searchEmitter)="handleSearch($event)"
          [isExpanded]="expandSidebar"
          (sidebarExpand)="toogleSidebar($event)"
          [buttonSidebarList]="true"
          [debounce]="1000"
          class="width-100"
          [filterOptions]="filterOptions"
          
        >
        </app-search-store>

        <!-- FICHEROS DE LOS PRODUCTOS DE LA TIENDA -->
        <!--=========================================-->
        <app-products-cards-store
          #productCardsStore
          (pagination)="pageChanged($event)"
          [totalItems]="totalProducts"
          [itemsPerPage]="itemsPerPage"
          [showShimmer]="showShimmerProductsCards"
        >
        </app-products-cards-store>
        <!--=========================================-->
        <!--=========================================-->
      </div>
    </section>
  </div>
</main>

<app-toast #toastRef></app-toast>
