@import 'src/assets/scss/style.scss';

.min-dropzone{
  height: 227px;
}

.expand-dropzone{
  height: 520px;
}

.dropzone{

  header{

    display: flex;
    justify-content: center;
    margin-top: 8px;

    div{

        display: flex;
        justify-content: space-evenly;
        width: 70%;

        button{
            width: 20px;
            height: 20px;
            padding: 0;
            background-position-y: center;
            background-position-x: center;
            border: 1px solid $color_dashed-gray; 
        }

        .zoomOut{
            background-image: url(../../../../../assets/img/iconos/icons-main/icons/zoom-out.svg);
            background-repeat: no-repeat;
        }
        .zoomIn{
            background-image: url(../../../../../assets/img/iconos/icons-main/icons/zoom-in.svg);
            background-repeat: no-repeat;
        }
        .arrows-angle-contract{
            background-image: url(../../../../../assets/img/iconos/icons-main/icons/arrows-angle-contract.svg);
            background-repeat: no-repeat;
        }
        .fullscreen{
            background-image: url(../../../../../assets/img/iconos/icons-main/icons/arrows-fullscreen.svg);
            background-repeat: no-repeat;
        }
        .arrow-left-right{
            background-image: url(../../../../../assets/img/iconos/icons-main/icons/arrow-left-right.svg);
            background-repeat: no-repeat;
        }
    
        .arrow-down-up{
            background-image: url(../../../../../assets/img/iconos/icons-main/icons/arrow-down-up.svg);
            background-repeat: no-repeat;
        }

    }
        
}


  width: 450px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #979797;
  margin: 0 auto;
  position: absolute;
  top: 15%;
  background: white;
  left: 60%;
  box-shadow: 0 0 12px rgba(0,0,0,.16), 0 8px 24px rgba(0,0,0,.2);

  .x-close{
    position: absolute;
    top: 1%;
    left: 93%;
    z-index: 10;
    cursor: pointer;

    img{
      width: 27px;
    }

  }

  .cropper{
    display: flex;
    justify-content: center;
    .image-cropper-flex{
        width: 280px;
        height: 280px;
        margin-bottom: 10px;
        margin-top: 5px;
        display: flex;
        align-items: center;
    }
    .image-cropper{
        width: 280px;
        height: 280px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
}

.load{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 360px;
    border: 2px dashed $color_dashed-gray;
    margin-top: 10px;
    background: #f7f7f7;

}


}