/* menor medida */

$telfP: 320px;

/* menor media */

$telfM: 375px;

/* menor grande */

$telfG: 425px;

/*media  */

$tablets: 768px;

/*  laptop*/

$laptop: 1024px;

/* laptopG */

$laptopG: 1440px;
a {
    padding-top: .7rem;
    color: #495057;
    font-weight: normal;
}