@import 'src/assets/scss/style.scss';

.page {
  display: flex;
  flex-direction: column;

  .content {
    display: grid;

    .order-list {
      grid-area: order-list;
    }

    .detail-content {
      grid-area: order-editor;
      display: flex;
      justify-content: center;

      .order-editor {
        width: 100%;
      }
    }
  }
}

/* ------------------------
  Responsive media queries
   ------------------------ */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
  .content {
    grid-template-rows: auto auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'order-list order-list order-list order-list'
      'order-editor order-editor order-editor order-editor';
  }
}

@media only screen and (min-width: 465px) {
  .content {
    grid-template-rows: auto auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'order-list order-list order-list order-list'
      'order-editor order-editor order-editor order-editor';
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content {
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 'order-list order-list order-editor  order-editor  order-editor  order-editor';
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
