.terminos-link{color: rgb(240,146,0);}
input {
    border-color: #b5b5b5;
    background-color: #f4f4f4;
    border-style: solid;
    background-repeat: no-repeat;
    background-position-y: center;
    border: 1px solid #e9e9e9 !important;
    box-sizing: border-box;
    padding-right: calc(1.5em + .75rem);
    padding-left: calc(1.5em + .75rem);
    background-position: left calc(.375em + .1875rem) center !important;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}