<nav class="col-md-11">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a  routerLinkActive="active" 
          [routerLink]="['exportar-lista-excel']"
          class="nav-link family-400">Exportar lista de excel</a>
    </li>
    <li class="nav-item">
      <a  routerLinkActive="active" 
          [routerLink]="['/my-store/sincronizacion/suggested-products']"
          class="nav-link">Productos sugeridos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Banco de productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Productos sincronizados</a>
    </li>
  </ul>

</nav>  
