<nav class="col-12 flex">
  <ul class="navigation nav-tabs">
    <li class="nav-item">
      <a
        routerLinkActive="active"
        [routerLink]="['exportar-lista-excel']"
        class="nav-link family-400"
        >Exportar a Excel</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLinkActive="active"
        [routerLink]="['/my-store/sincronizacion/suggested-products']"
        class="nav-link"
      >
        Productos sugeridos
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLinkActive="active"
        [routerLink]="['/my-store/sincronizacion/bank-product']"
        class="nav-link"
      >
        Banco de productos
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLinkActive="active"
        [routerLink]="['/my-store/sincronizacion/synchronized-products']"
        >Productos sincronizados</a
      >
    </li>
  </ul>
</nav>
