<section>
  <img
    style="
      width: 263px;
      height: 263px;
      border: dashed 2px #979797;
      padding: 10px;
    "
    #imgBanner
    [src]="currentImg"
    alt="avatar-user"
    onerror="if (this.src != 'assets/img/avatar-hombre.jpg') this.src = 'assets/img/avatar-hombre.jpg';"
  />

  <button
    (click)="isOpen = !isOpen"
    type="button"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    matTooltip="Editar foto de perfil"
    [ngClass]="{ camera: !isOpen || isOpen }"
  ></button>
</section>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
>
  <app-dropzone-photo
    [ngClass]="{ 'expand-dropzone': isexpand }"
    (HidenDropZone)="CloseEvent($event)"
    (ImagenCropped)="ShowImage($event)"
    (SaveSuccesFullImage)="succesFull($event)"
  >
  </app-dropzone-photo>
</ng-template>
