<section class="content">
  <!-- Listado de ordenes por cliente -->
  <section class="orders-list" *ngIf="!loading; else skeletonList">
    <div *ngFor="let order of storeOrders" class="my-1">
      <app-orders-list
        [orderDetails]="order"
        (selectedOrder)="getOrderDetails($event)"
      ></app-orders-list>
    </div>
  </section>

  <!-- Componente 'Skeleton' -->
  <ng-template #skeletonList>
    <section class="orders-list">
      <div class="my-1" *ngFor="let skeleton of [0, 1, 2, 3]">
        <app-skeleton-list></app-skeleton-list>
      </div>
    </section>
  </ng-template>
  <!-- #Componente 'Skeleton' -->

  <!-- #Listado de ordenes por cliente -->

  <!-- Detalles de la orden seleccionada -->
  <section class="order-details" *ngIf="!loading; else skeletonDetails">
    <app-order-details
      [orderDetails]="selectedOrderDetails"
    ></app-order-details>
  </section>

  <ng-template #skeletonDetails>
    <section class="order-details">
      <app-skeleton-details></app-skeleton-details>
    </section>
  </ng-template>
  <!-- #Detalles de la orden seleccionada -->
</section>
