
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$BancoDeProductos-primary: mat-palette($mat-indigo);
$BancoDeProductos-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$BancoDeProductos-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$BancoDeProductos-theme: mat-light-theme((
  color: (
    primary: $BancoDeProductos-primary,
    accent: $BancoDeProductos-accent,
    warn: $BancoDeProductos-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($BancoDeProductos-theme);

.spinner-container {
    display: flex;
    margin-top: 50px;
  }
  
.spinner {
    width: 2.5rem;
    height: 2.5rem;
    border-top-color: #4285f4;
    border-left-color: #4285f4;
  
    animation: spinner 400ms linear infinite;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    margin: auto;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .shine {
    $shine-opacity: 5%;
    background: darken(#f6f7f8, $shine-opacity)  linear-gradient(
        to right,
        darken(#f6f7f8, $shine-opacity) 0%,
        darken(#edeef1, $shine-opacity) 20%,
        darken(#f6f7f8, $shine-opacity) 40%,
        darken(#f6f7f8, $shine-opacity) 100%
    ) no-repeat;
    background-size: 800px 400px;
    display: inline-block;
    position: relative;
  
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholder-shimmer;
    animation-timing-function: linear;
    
  }
  
  @keyframes placeholder-shimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }