@import 'src/assets/scss/style.scss';


header{

    display: flex;
    justify-content: center;
    margin-top: 8px;

    div{

        display: flex;
        justify-content: space-evenly;
        width: 70%;

        button{
            width: 20px;
            height: 20px;
            padding: 0;
            background-position-y: center;
            background-position-x: center;
            border: 1px solid $color_dashed-gray; 
        }

        .zoomOut{
            background-image: url(../../../../../../assets/img/iconos/icons-main/icons/zoom-out.svg);
            background-repeat: no-repeat;
        }
        .zoomIn{
            background-image: url(../../../../../../assets/img/iconos/icons-main/icons/zoom-in.svg);
            background-repeat: no-repeat;
        }
        .arrows-angle-contract{
            background-image: url(../../../../../../assets/img/iconos/icons-main/icons/arrows-angle-contract.svg);
            background-repeat: no-repeat;
        }
        .fullscreen{
            background-image: url(../../../../../../assets/img/iconos/icons-main/icons/arrows-fullscreen.svg);
            background-repeat: no-repeat;
        }
        .arrow-left-right{
            background-image: url(../../../../../../assets/img/iconos/icons-main/icons/arrow-left-right.svg);
            background-repeat: no-repeat;
        }
    
        .arrow-down-up{
            background-image: url(../../../../../../assets/img/iconos/icons-main/icons/arrow-down-up.svg);
            background-repeat: no-repeat;
        }

    }
        
}

.cropper{
    display: flex;
    justify-content: center;
    .image-cropper-flex{
        width: 280px;
        height: 280px;
        margin-bottom: 10px;
        margin-top: 5px;
        display: flex;
        align-items: center;
    }
    .image-cropper{
        width: 280px;
        height: 280px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
}

.load{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 360px;
    border: 2px dashed $color_dashed-gray;
    margin-top: 10px;
    background: #f7f7f7;

}
        

footer{

    div{

        background: linear-gradient(180deg,#fff 0,#f0f0f0);
        border: 1px solid $color_dashed-gray;
        color: #4d525b;
        font-size: 14px;
        line-height: 1.43;
        padding: 6px 13px;
        margin-bottom: 7px;

        button{
            background: none;
            border: 0;
            color: inherit;
            cursor: pointer;
            font-family: $fontFamily__monserrat;
            line-height: normal;
            padding: 0;
            text-align: inherit;
            border-radius: 0;
            display: inline-block;
            font-weight: 700;
        }

    }

    section{

        button{
            background: none;
            border: 0;
            color: #007fed;
            cursor: pointer;
            font-family: $fontFamily__monserrat;
            line-height: normal;
            padding: 0;
            text-align: inherit;
            border-radius: 0;
            display: inline-block;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }

    .invalid-feedback{
        display: block !important;
        margin-top: 0 !important;
        font-size: 90% !important;
        font-weight: 500;
    }
           
}


    