@import 'src/assets/scss/style.scss';

.page {

	display: flex;


	/* Menu de configuración
	--------------------------------------------- */

	.configuration-menu {
		min-width: 245px;
		width: 18%;
		padding-right: 20px;

		padding-top: 65px;

		h2 {
			padding-left: 40px;
		}

		.items-menu {
			width: 84%;

			.item {
				border-radius: 0px 4px 4px 0px;
				cursor: pointer;
				padding: 4px 0px;
				transition: all .3s;

				&:first-child {
					font-weight: 600;
				}

				&:hover {
					background: $color__background-gray;

				}

				p {
          padding-left: 40px;
          word-break: break-word;

					&::first-letter {
						text-transform: uppercase;
					}
				}

			}

			.active {
        background: $color__background-gray;

        .responsive--icon{
          color: $color__background-orange;

        }
			}

		}

		.responsive--icon{
			cursor: pointer;
			font-size: 24px;
			padding: 8px 13px;
			display: none;

		}
	}


	/* Listado de compras
	--------------------------------------------- */

	.shopping-cart {
		width: 76%;
		margin: 0px 30px;

		padding-top: 58px;

		.tab-container {

			/* Menu
			--------------------------------------------- */

			.tab-menu {
				display: flex;

				.tab-item {
          border: 1px solid transparent; //
          border-top-right-radius: 5px; //
          border-top-left-radius: 5px; //
          // font-size: 13.2px;
          font-size: 15.2px;
          // font-weight: bold;
          font-weight: 500;
					text-transform: capitalize;
          // padding: 4px 10px;
          padding: 11px 17px;
					cursor: pointer;
					transition: all $time-hover;

					&:hover {
            // background: $color__background-gray;
            border-color: #dee2e6 #dee2e6 #fff;
					}

				}

				.active {
          // background: $color__background-gray;
          border-color: #dee2e6 #dee2e6 #fff;
				}

			}

			.tab-content {
        // border-top: solid $color__border-gray 19px;
        border-top: solid $color__border-gray 1px;
				padding-bottom: 102px;

				display: flex;


				/* Lista de pedidos agrupados por empresas
				--------------------------------------------- */
				.list-item {
					min-width: 278px;
					// width: 36.4%;
					max-height: 58.5vh;

					margin-bottom: 65px;
					overflow: auto;

					display: flex;
					flex-direction: column;


					.item {
						cursor: pointer;
						padding: 11px 15px;
						transition: all $time-hover;

						display: flex;
						align-items: center;

						&:hover {
							background: $color__background-gray;
						}

						.img {
              min-width: 71px;
							width: 71px;
							height: 71px;

							border-radius: 42px;
							margin-right: 18px;
							overflow: hidden;

							img {
								height: 100%;
							}
						}

						.content {
							display: flex;
							flex-direction: column;


							.name {
								text-transform: capitalize;
								font-size: 14px;
                font-weight: 600;
                word-break: break-word;
							}

							.info {
								font-size: 11px;
								line-height: 17px;

								strong {
									font-weight: 600;
								}
							}

						}

					}

					.active {
            background: $color__background-gray;

					}

				}

				/* Factura
				--------------------------------------------- */

				.invoice-container {
					// width: 63.7%;

					padding-top: 22px;

					display: flex;
					justify-content: center;

					.table-container{
            // min-width: 310px;
            max-width: 347px;
            width: 54.8%;

						position: relative;

						.border-box{
              max-width: 377px;
							width: 109.5%;
							height: 85.7%;
							border: $color__border-gray 2px solid;

							position: absolute;
							top: -15px;
							right: -15px;

						}

						table{
              width: 100%;
							background: $color__background-white;
							font-size: 12px;

							position: relative;
							z-index: 1;

              .tableElementContainer{
                width: 100%;
                padding: 16px 64px 16px 20px;

                display: flex;
                justify-content: space-between;
              }

							.thead{
								background: $color__background-gray;

								display: flex;
								justify-content: space-between;

								th{
									font-weight: 600;
								}

							}

							.tbody{

								tr{
									border: 1px solid $color__border-gray;
									border-top: 0px;

									display: flex;
									justify-content: space-between;

									td{
										text-transform: capitalize;
                  }

                  td:first-child{
                    max-width: 66%;
                    word-break: break-word;
                  }

                  td:last-child{
                    width: 28%;
                    text-align: end;
                  }


								}
							}

							.tfoot{

								border: 1px solid $color__border-gray;
								border-top: 0px;
								text-align: end;
								padding-bottom: 85px;

								p{
									font-size: 12px;
									line-height: 28px;
									padding-right: 64px;

									span{
										font-size: 12px;
										padding-left: 10px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-device-width: 480px){

  .page {

    .shopping-cart{
      min-width: initial;

      margin: 0px 15px;

      .tab-content{

        .invoice-container{

          .table-container{
            min-width: 255px;
          }
        }
      }
    }
	}

}

@media (min-device-width: 481px){

  .page {


    .shopping-cart{
      min-width: fit-content;

      .tab-content{

        .invoice-container{

          .table-container{
            min-width: 310px;
          }
        }
      }
    }
  }

}

@media (max-device-width: 757px){

	.page {

    .shopping-cart{

      .tab-content{
        flex-direction: column;

        .list-item{
          width: 100%;
        }

        .invoice-container{
          width: 100%;

          .table-container{
            table{

              .tableElementContainer{
                padding-right: 20px !important;
              }

              .tfoot{

                p{
                  padding-right: 20px !important;
                }
              }
            }
          }
        }
      }
    }
	}
}

@media (min-device-width: 758px){
  .page {

    .shopping-cart{

      .tab-content{

        .list-item{
          width: 36.4%;
        }

        .invoice-container{
          width: 63.7%;
        }

      }
    }
	}
}

@media (max-device-width: 999px){

	.page {

		.configuration-menu {
			min-width: 47px;
			width: 47px;

			background: $color__border-gray--light;
      transition: all .3s;
      padding-right: 0px;
      padding-top: 58px;


			h2{
        display: none;
			}

			.items-menu{
				width: fit-content;

				.item{

					p{
            display: none;
					}

        }
      }

      .responsive--icon{
        display: block;
        transition: all .3s;

        &:hover{
          background: $color__background-gray;
          color: $color__background-orange;
        }


			}

			.responsive-menu-container--fixed{

				position: fixed;
				top: 39px;
				z-index: 3;

      }

		}

		.shopping-cart{
      width: 87%;
    }

    .configuration-menu--responsive-expanded{
      min-width: 245px !important;
      width: 18% !important;
      // height: 100%;

      // position: absolute;

      .heading{
        display: flex;
        align-items: center;

        h2{
          display: block !important;
          font-size: 18px !important;
          margin-bottom: 0px !important;
          padding-left: 0px !important;

        }

      }

      .items-menu{
        .item{
          display: flex;
          align-items: center;

          p{
            display: block !important;
            padding-left: 0px !important;
          }
        }
      }
    }
	}
}
