<main class="page">

  <section class="shopping-cart">

    <h1 class="text-capitalize">Carrito de compra</h1>

    <ng-container *ngIf="ordersLists.length > 0">

      <div class="tab-container">

        <ng-container *ngIf="tabSelected === 1 || tabSelected === 2">

          <ul class="tab-menu">

            <li
              class="tab-item"
              [ngClass]="{'active': tabSelected === 1 }"
              (click)="filterByTab(1)"
            >
              pedidos
            </li>

            <li
              class="tab-item"
              [ngClass]="{'active': tabSelected === 2}"
              (click)="filterByTab(2)"
            >
              compras
            </li>

          </ul>

        </ng-container>

        <div class="tab-content" [ngClass]="{'justify--init': tabSelected === 3 }">

          <!-- Order -> list, editor, e invoice -->
          <ng-container *ngIf="tabSelected === 1 || tabSelected === 2">

            <!-- Order list by business -->
            <div class="order-list">
              <app-order-list
                (selected)="selectedOrderList($event)"
                [orders]="ordersLists"
              >
              </app-order-list>
            </div>

            <div class="detail-content">

              <!-- Order editor -->
              <ng-container *ngIf="tabSelected === 1">

                <app-order-editor
                  [orders]="ordersListSelected.orders"
                  (purchaseAction)="purchaseAction($event)">
                </app-order-editor>

              </ng-container>

              <!-- invoice -->
              <ng-container *ngIf="tabSelected === 2">

                <app-invoice></app-invoice>

              </ng-container>

            </div>

          </ng-container>

          <ng-container *ngIf="tabSelected === 3">

            <div class="order-payment-forms">
              <app-order-payment-forms
                [buttonDisabled]="buttonDisabledForm"
                (currentStep)="backProcessForm($event)"
                (submitForm)="formData($event)">
              </app-order-payment-forms>
            </div>

          </ng-container>

          <ng-container *ngIf="tabSelected === 4">

            <ng-container *ngIf="showFormToPay()">

              <div class="order-payment-forms">

                <div class="card-option-pay-redirect">

                  <form method="post" [action]="currentPaymentData.mallTransaction.url" class="form">

                    <input type="hidden" name="token_ws" [value]="currentPaymentData.mallTransaction.token" />

                    <button
                      class="button button--full-width"
                      type="submit"
                    >
                      Continuar con el tipo de pago seleccionado
                    </button>

                  </form>

                </div>

              </div>

            </ng-container>

          </ng-container>

        </div>

      </div>

    </ng-container>

  </section>

</main>
