<main class="page">

  <section class="shopping-cart">

    <h1 class="text-capitalize">Carrito de compra</h1>

    <ng-container *ngIf="ordersLists.length > 0">

      <div class="tab-container">

        <ul class="tab-menu">

          <li
            class="tab-item"
            [ngClass]="{'active': tabSelected === 1 || tabSelected === 3}"
            (click)="filterByTab(1)"
          >
            pedidos
          </li>

          <li
            class="tab-item"
            [ngClass]="{'active': tabSelected === 2}"
            (click)="filterByTab(2)"
          >
            compras
          </li>

        </ul>

        <div class="tab-content" [ngClass]="{'justify--init': tabSelected === 3 }">

          <!-- Order -> list, editor, e invoice -->
          <ng-container *ngIf="tabSelected === 1 || tabSelected === 2">

            <!-- Order list by business -->
            <div class="order-list">
              <app-order-list
                (selected)="selectedOrderList($event)"
                [orders]="ordersLists"
              >
              </app-order-list>
            </div>

            <div class="detail-content">

              <!-- Order editor -->
              <ng-container *ngIf="tabSelected === 1">

                <app-order-editor
                  [orders]="ordersListSelected.orders"
                  (purchaseAction)="purchaseAction($event)">
                </app-order-editor>

              </ng-container>

              <!-- invoice -->
              <ng-container *ngIf="tabSelected === 2">

                <app-invoice></app-invoice>

              </ng-container>

            </div>

          </ng-container>

          <ng-container *ngIf="tabSelected === 3">

            <div class="order-payment-forms">
              <app-order-payment-forms (submitForm)="formData($event)">
              </app-order-payment-forms>
            </div>

          </ng-container>

        </div>

      </div>

    </ng-container>

  </section>

</main>
