<section class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-12 display-flex justify-content-space-between">
            <!-- <div class="input-group-text mr-3">
                <span class="example-list-section">
                    <mat-checkbox class="example-margin"
                                  [checked]="allComplete"
                                  [indeterminate]="someComplete()"
                                  (change)="setAll($event.checked)">
                    </mat-checkbox>
                </span>
            </div> -->
            <button type="button" class="mr-3 family-700">
                Desincronizar
            </button>
            <form class="pl-5 col-md-7">
                <input  type="search" 
                        placeholder="Busca en nustro banco de productos" 
                        aria-label="Search" 
                        class="form-control width-100 icon-magnifying-glass">
            </form>
        </div>
    </div>
</section>
