<div class="quantity" [ngClass]="{'strong': !isStrong}">

  <label>Cantidad</label>

  <div class="counter">

    <span class="control" (click)="changeCounterValue(true)">
      <div class="segment horizontal"></div>
    </span>

      <input type="number"
        class="number browser-default"
        name="counterInvetory" [value]="initValue"
        #inputQuantityCounter
        (keyup)="validInputNumber()"
      >

    <span class="control" (click)="changeCounterValue()">
      <div class="segment horizontal"></div>
      <div class="segment vertical"></div>
    </span>

  </div>

</div>
