<button class="prev" (click)="setBack()">&#10094;</button>
<div class="scrolling-wrapper row flex-row flex-nowrap">   
    <div    *ngFor="let suggestion of item;
            let iterador = index;
            let impar = odd;
            let par = even;"
            class="col-12"
            [ngClass]="{'mySlides': iterador - currentPosition}"
            >

            
            <mat-grid-list  class="item-grid card card-block"
                            id="iterador{{iterador}}"
                            cols="5" rowHeight="2:1.5"
                            >

                            <mat-grid-tile>
                                <article    *ngIf="suggestion.images.length > 0">
                                    <img    [src]="suggestion.images[0].src_size.s | imgProductLoad" 
                                            alt="{{item.name}}"
                                            style="display: block;"
                                            *ngIf="suggestion.images.length > 0"
                                        >

                                </article>
                            </mat-grid-tile>

                            <mat-grid-tile>
                                <span   class="family-500" 
                                        *ngIf="suggestion !== null">
                                        {{ suggestion.name}}
                                </span>
                            </mat-grid-tile>
                            <mat-grid-tile>3</mat-grid-tile>
                            <mat-grid-tile></mat-grid-tile>
                            <mat-grid-tile></mat-grid-tile>
                </mat-grid-list>
                
    </div>
</div>
<button class="next" (click)="setNext()">&#10095;</button>