<ng-container *ngIf="step === 1">

  <p (click)="step = 1" class="back-process">
    <span><</span>Atrás
  </p>

  <p class="instruction">para concretar la compra, complete los siguientes pasos:</p>

  <div class="breadcrumb-steps-container">

    <div class="breadcrumb-steps">

      <div class="step active">

        <p>paso 1</p>
        <div class="circle"></div>

      </div>

      <div class="step">

        <p>paso 2</p>
        <div class="circle"></div>

      </div>

    </div>

    <div class="line"></div>

  </div>

  <div>

    <form action=""
      class="form"
      [formGroup]="form"
      (ngSubmit)="processDataPay()"
      novalidate="novalidate">

      <div class="inputs-container">

        <div class="input-container">

          <p>región</p>

          <select name="" id="">
            <option value="-1">seleccione región</option>
          </select>

        </div>

        <div class="input-container">

          <p>comuna</p>

          <select name="" id="">
            <option value="-1">seleccione comuna</option>
          </select>

        </div>

        <div class="input-container">

          <p>dirección*</p>

          <input
            formControlName="location"
            type="text"
            name=""
            id=""
            placeholder="Seleccione Dirección"
          >

          <ng-container
            *ngIf="form.get('location').errors"
          >
            <div class="errors">
              <ul>
                <li></li>
              </ul>
            </div>
          </ng-container>

        </div>

        <div class="input-container">

          <p class="capitalize">casa/dpto/oficina</p>

          <input type="text" name="" id="">

        </div>

        <div class="input-container">

          <p>teléfono*</p>

          <input type="tel" name="" id="">

        </div>

        <div class="input-container">

          <p class="uppercase">rut*</p>

          <input type="text" name="" id="">

        </div>

        <div class="input-container">

          <p class="small-type">Nombre para guardar dirección*</p>

          <input type="text" name="" id="">

        </div>

      </div>

      <div class="map-container">

        <p class="small-type">detalle de la ubicación</p>

        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15712.645162131!2d-69.29967315!3d10.085867200000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e875d7e35e71cfb%3A0x298a7ddc3d27e065!2sPARQUE%20DEL%20ESTE!5e0!3m2!1ses-419!2sve!4v1609695798598!5m2!1ses-419!2sve" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>

      </div>

      <div class="button button--full-width" (click)="step = 2">
        continuar
      </div>

    </form>

  </div>
</ng-container>

<ng-container *ngIf="step === 2">

  <p (click)="step = 1" class="back-process">
    <span><</span>Atrás
  </p>

  <p class="instruction">para concretar la compra, complete los siguientes pasos:</p>

  <div class="breadcrumb-steps-container">

    <div class="breadcrumb-steps">

      <div class="step active">

        <p>paso 1</p>
        <div class="circle"></div>

      </div>

      <div class="step">

        <p>paso 2</p>
        <div class="circle"></div>

      </div>

    </div>

    <div class="line"></div>

  </div>

  <div>

    <form action="" class="form">

      <div class="inputs-container">

        <div class="input-container">

          <div class="select-cards">

            <article>

              <input
                id="termsAndConditions"
                name="termsAndConditions"
                type="checkbox" class="checkbox-default"
              >

              <label for="termsAndConditions">
                <div class="select-card">

                  <div class="img">
                    <img src="assets/images/webpay-brand.png" alt="webpay.cl">
                  </div>

                  <p>
                    tarjeta de débito (redcompra webpay)
                  </p>

                </div>
              </label>

            </article>

          </div>

        </div>

        <div class="note">

          <p>NOTA:</p>

          <p>
            Te recomendamos no cerrar el navegador
            hasta que la compra sea finalizada
          </p>

        </div>

      </div>

      <div class="button button--full-width" (click)="step = 2">
        pagar ahora
      </div>

    </form>

  </div>
</ng-container>

