@import 'src/assets/scss/style.scss';

.back-process {
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 28px;
}

.instruction {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.breadcrumb-steps-container {
  width: fit-content;
  margin-bottom: 26px;

  position: relative;

  .breadcrumb-steps {
    display: flex;

    .step {
      width: fit-content;
      cursor: pointer;
      padding-right: 41px;
      transition: all 0.5s;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:first-child {
        padding-left: 14px;
      }

      &.active {
        p {
          color: $color__text-main;
          font-weight: bold;
        }
      }

      &:hover {
        p {
          color: $color__text-main;
          font-weight: bold;
        }
      }

      p {
        color: $color__text-gray--medium;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
      }

      .circle {
        width: 18px;
        height: 18px;
        background: white;
        border: 2px solid $color__background-orange;
        border-radius: 50%;
        position: relative;
        z-index: 3;
      }
    }
  }

  .line {
    width: 100%;
    height: 2px;
    background: $color__background-orange;
    position: absolute;
    bottom: 8px;
  }
}

.button {
  font-size: 15px;
  font-weight: 500;
  padding: 10px 9px;
}

.small-type {
  font-size: 12px;
}

.map-container {
  p {
    margin-top: 8px;
    margin-bottom: 23px;
  }

  .map {
    min-height: 215px;
    height: 17vw;
    margin-bottom: 27px;

    agm-map {
      width: 100%;
      height: 100%;
    }
  }
}

.select-cards {
  display: flex;
  flex-direction: column;
  column-gap: 5px;

  article {
    margin-bottom: 14px;
    display: flex;

    label {
      width: auto !important;
      height: auto !important;

      input {
        width: initial !important;
        background: $color__background-gray--medium;
      }

      .select-card {
        min-height: 75px;
        border: 1px solid $color__border-gray--medium;
        // padding: 8px;
        padding: 15px;
        padding-top: 10px;
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .img {
          min-width: 109px;
          width: 33%;
          margin-right: 7px;
          margin-top: 5px;
        }

        p {
          min-width: 184px;
          width: 56%;
          font-size: 11.3px;
          font-weight: bold;
          margin-top: 5px;
          line-height: 14px;
          text-transform: capitalize;
        }
      }
    }

    [type='radio'] + label:before,
    [type='radio'] + label:after {
      content: none !important;
    }

    [type='radio']:not(:checked),
    [type='radio']:checked {
      position: initial !important;
      left: initial !important;
      opacity: initial !important;
    }
  }
}

.note {
  margin-bottom: 28px;
  margin-top: 15px;

  p {
    font-size: 14px;
    font-weight: 500;
  }

  p:first-child {
    text-transform: uppercase;
  }
}

@media screen and (min-width: 758px) {
  .inputs-container {
    width: 76.6%;
  }
}
