<!-- <p  class="back-process"><span><</span>Atrás</p> -->
<button class="btn my-4" (click)="goBack()" mat-button>
  <i class="fas fa-caret-left"></i> Atrás
</button>

<p class="instruction">
  para concretar la compra, complete los siguientes pasos:
</p>

<div class="breadcrumb-steps-container">
  <div class="breadcrumb-steps">
    <div class="step" [ngClass]="{ active: step === 1 }" (click)="step = 1">
      <p>paso 1</p>
      <div class="circle"></div>
    </div>

    <div
      class="step"
      [ngClass]="{ active: step === 2 }"
      (click)="goToNextStep()"
    >
      <p>paso 2</p>
      <div class="circle"></div>
    </div>
  </div>

  <div class="line"></div>
</div>

<div>
  <form
    class="form"
    [formGroup]="paymentInfo"
    (ngSubmit)="processDataPay()"
    novalidate="novalidate"
  >
    <ng-container *ngIf="step === 1 || step === 0">
      <div class="inputs-container">
        <div class="input-container">
          <p>región</p>

          <select formControlName="region">
            <option value="-1">seleccione región</option>

            <ng-container *ngFor="let region of regions">
              <option [value]="region.value">{{ region.label }}</option>
            </ng-container>
          </select>

          <!-- Errors -->
          <ng-container *ngIf="paymentInfo.get('region')">
            <ng-container
              [ngTemplateOutlet]="errorsList"
              [ngTemplateOutletContext]="{
                controlErrors: paymentInfo.get('region')
              }"
            >
            </ng-container>
          </ng-container>
        </div>

        <div class="input-container">
          <p>comuna</p>

          <select formControlName="comuna">
            <option value="-1">seleccione comuna</option>

            <ng-container *ngFor="let commune of communes">
              <option [value]="commune.value">{{ commune.label }}</option>
            </ng-container>
          </select>

          <!-- Errors -->
          <ng-container *ngIf="paymentInfo.get('comuna')">
            <ng-container
              [ngTemplateOutlet]="errorsList"
              [ngTemplateOutletContext]="{
                controlErrors: paymentInfo.get('comuna')
              }"
            >
            </ng-container>
          </ng-container>
        </div>

        <div class="input-container">
          <p>dirección*</p>

          <input
            type="text"
            formControlName="direccion"
            name="direccion"
            placeholder="Calle 10"
          />

          <!-- Errors -->
          <ng-container *ngIf="paymentInfo.get('direccion')">
            <ng-container
              [ngTemplateOutlet]="errorsList"
              [ngTemplateOutletContext]="{
                controlErrors: paymentInfo.get('direccion')
              }"
            >
            </ng-container>
          </ng-container>
        </div>

        <div class="input-container">
          <p class="capitalize">casa/dpto/oficina</p>

          <input
            type="text"
            placeholder="Casa Nro. 94"
            formControlName="hospedaje"
          />

          <!-- Errors -->
          <ng-container *ngIf="paymentInfo.get('hospedaje')">
            <ng-container
              [ngTemplateOutlet]="errorsList"
              [ngTemplateOutletContext]="{
                controlErrors: paymentInfo.get('hospedaje')
              }"
            >
            </ng-container>
          </ng-container>
        </div>

        <div class="input-container">
          <p>teléfono*</p>

          <input
            type="tel"
            placeholder="04240293382"
            formControlName="telefono"
          />

          <!-- Errors -->
          <ng-container *ngIf="paymentInfo.get('telefono')">
            <ng-container
              [ngTemplateOutlet]="errorsList"
              [ngTemplateOutletContext]="{
                controlErrors: paymentInfo.get('telefono')
              }"
            >
            </ng-container>
          </ng-container>
        </div>

        <div class="input-container">
          <p class="uppercase">rut*</p>

          <input type="text" placeholder="30686957-4" formControlName="rut" />

          <!-- Errors -->
          <ng-container *ngIf="paymentInfo.get('rut')">
            <ng-container
              [ngTemplateOutlet]="errorsList"
              [ngTemplateOutletContext]="{
                controlErrors: paymentInfo.get('rut')
              }"
            >
            </ng-container>
          </ng-container>
        </div>

        <div class="input-container">
          <p class="small-type">Nombre para guardar dirección*</p>

          <input
            type="text"
            placeholder="Mi casa / Oficina Central"
            formControlName="nombreDireccion"
          />

          <!-- Errors -->
          <ng-container *ngIf="paymentInfo.get('nombreDireccion')">
            <ng-container
              [ngTemplateOutlet]="errorsList"
              [ngTemplateOutletContext]="{
                controlErrors: paymentInfo.get('nombreDireccion')
              }"
            >
            </ng-container>
          </ng-container>
        </div>
      </div>

      <!-- Angular's Google Map area -->
      <div class="map-container">
        <p class="small-type">detalle de la ubicación</p>

        <div class="map">
          <agm-map
            [latitude]="actualLocationData.latitude"
            [longitude]="actualLocationData.longitude"
            [zoom]="actualLocationData.zoom"
          >
            <agm-marker
              *ngFor="let marker of actualLocationData.markers"
              [latitude]="marker.lat"
              [longitude]="marker.lng"
              [label]="marker.label"
            >
            </agm-marker>
          </agm-map>
        </div>
      </div>
      <!-- #Angular's Google Map area -->
    </ng-container>

    <!-- STEP 2 -->
    <ng-container *ngIf="step === 2">
      <div class="inputs-container">
        <div class="input-container">
          <div class="select-cards">
            <mat-radio-group formControlName="paymentOption">
              <ng-container *ngFor="let option of optionPayment">
                <article>
                  <mat-radio-button
                    id="paymentOption-{{ option.data.id }}"
                    type="radio"
                    class="checkbox-default radio-default"
                    [value]="option.data.id"
                  ></mat-radio-button>

                  <label for="paymentOption-{{ option.data.id }}">
                    <div class="select-card">
                      <div class="img">
                        <img [src]="option.image" [alt]="option.name" />
                      </div>

                      <p>
                        {{ option.name }}
                      </p>
                    </div>
                  </label>
                </article>
              </ng-container>
            </mat-radio-group>
          </div>

          <!-- Errors -->
          <ng-container *ngIf="paymentInfo.get('paymentOption')">
            <ng-container
              [ngTemplateOutlet]="errorsList"
              [ngTemplateOutletContext]="{
                controlErrors: paymentInfo.get('paymentOption')
              }"
            >
            </ng-container>
          </ng-container>
        </div>

        <div class="note">
          <p>NOTA:</p>

          <p>
            Te recomendamos no cerrar el navegador hasta que la compra sea
            finalizada
          </p>
        </div>
      </div>
    </ng-container>

    <button
      (click)="buttonSubmitWasCLicked = true"
      [ngClass]="{ disabled: !paymentInfo.valid }"
      [disabled]="!paymentInfo.valid"
      class="button button--full-width"
      type="submit"
    >
      Continuar
    </button>
  </form>
</div>

<!-- Template error -->

<ng-template #errorsList let-controlErrors="controlErrors">
  <div class="errors">
    <ul>
      <ng-container
        *ngFor="let message of getErrorsWithMessages(controlErrors)"
      >
        <li>{{ message }}</li>
      </ng-container>
    </ul>
  </div>
</ng-template>
