<div class="container animated fadeIn fast">
    <div class="row">
        <div class="col-md-12">
            <ul class="display-flex">
                <li>
                    <a class="family-400" [routerLink]="['home']">Inicio</a>
                </li>
                <li class="arrow-banner-tienda">
                    <i class=" fa fa-angle-left"></i>
                </li>
                <li>
                    <a class="family-400">Farmacias</a>
                </li>
            </ul>
            <img src="../../../assets/img/Banner/bannercomponents.jpeg" width="100%">
        </div>
    </div>
</div>
