a{color: black;}
a:hover{color: #F09207; text-decoration: none;cursor: pointer;}
li{list-style: none;}
.arrow-banner-tienda{width: 1.5%; margin-left: 8px; margin-right: 8px;}

@media(min-width:300px) and (max-width:450px){
    .width-5{width: 20% !important;}
    .arrow-banner-tienda{width: 5%;}
}